<section class="reset-password-form">
    <div class="container">
        <div class="inner-container">
            <div class="text">
                <i class="icon-lock reset-pwd"></i>
                <h3>Reset Password</h3>
                <div class="form-fields">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword('resetPasswordButton')" novalidate *ngIf="!resetSuccess">
                        <div id="serverErrorResetpassword" class="error-msg hide">{{serverError}}</div>
                        <div formGroupName="passwords" class="reset_pass">
                            <mat-form-field class="">

                                <span matPrefix>
                                    <i class="icon-lock"></i>
                                </span>

                                <input formControlName="password" name="password" matInput placeholder="Enter Password" type="email" [type]="newPasswordType ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="newPasswordType = !newPasswordType">{{newPasswordType ? 'SHOW' : 'HIDE'}}</mat-icon>
                                <mat-error *ngIf="shouldShowErrors('password',resetPasswordForm)">{{getErrorMessage('password',resetPasswordForm)}}</mat-error>
                            </mat-form-field>

                            <mat-form-field>

                                <span matPrefix>
                                    <i class="icon-lock"></i>
                                </span>

                                <input formControlName="confirmPassword" name="confirmPassword" matInput placeholder="Confirm Password" [type]="confirmPasswordType ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="confirmPasswordType = !confirmPasswordType">{{confirmPasswordType ? 'SHOW' : 'HIDE'}}</mat-icon>
                                <mat-error *ngIf="shouldShowErrors('confirmPassword',resetPasswordForm)">{{getErrorMessage('confirmPassword',resetPasswordForm)}}</mat-error>
                            </mat-form-field>
                        </div>
                        <button type="button" id="resetPasswordButton" class="btn-new" (click)="resetPassword('resetPasswordButton')" [disabled]="isButtonDisabled(resetPasswordForm)"> <span>CHANGE PASSWORD</span></button>
                    </form>
                    <div class="info-box" *ngIf="resetSuccess">
                        <p>Reset Password Successfull. Please login to continue.</p>
                    </div>
                </div>
            </div>

            <div class="footer-links">

                <div class="return-link" (click)="moveToLogin()">
                    <i class="fa fa-angle-left"></i> BACK
                </div>

            </div>

        </div>
    </div>
</section>
