<footer class="ld-footer">
  <div class="container">
    <div class="row">
      <div class="pay-methods">
        <p>We accept these payment methods:</p>
        <div class="payment-types">
          <span>
            <svg viewBox="0 0 76 25" class="visa">
              <use xlink:href="#visa"></use>
            </svg>
          </span>
          <span>
            <svg viewBox="0 0 32 25" class="master" width="39">
              <use xlink:href="#mastercard"></use>
            </svg>
          </span>
          <span>
            <svg viewBox="0 -5 235 56" class="neteller" fill="#8dc640">
              <use xlink:href="#neteller-icon"></use>
            </svg>
          </span>

          <span>
            <svg viewBox="30 150 442 210" class="skrill" fill="#862165">
              <use xlink:href="#skrill-icon"></use>
            </svg>
          </span>

          <span>
            <svg viewBox="0 0 180 48" class="zimpler" fill="#00ddd4">
              <use xlink:href="#zimpler-icon"></use>
            </svg>
          </span>

          <span>
            <svg viewBox="0 0 1480 446" class="trustly" fill="#010101">
              <use xlink:href="#trustly-icon"></use>
            </svg>
          </span>

        </div>


      </div>

      <div class="footer-social">
        <p>Connect with us:</p>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="twitter-icon">
          <i class="fa fa-twitter"></i>
        </a>
      </div>


      <!-- <div class="footer_lang">
                <div class="inn_select">
                    <h1 class="icon brand-ld language-selector">
                        <div id="dd" class="wrapper-dropdown-3 language-box" tabindex="1" [ngClass]="selectLang == true ? 'active' : '' " (click)="changeLanguage(selectLang)">
                             <span class="selected-language-f"><span class="lang-icon-f">EN</span><span class="langg-text-f"><span>English</span></span> </span>
                        </div>
                    </h1>
                    <ul class="dropdown-footer">
                        <li [ngClass]="activeLang == 'EN' ? 'active' : '' " (click)="getActiveLang('EN');" id="EN-f"><a href="javascript:void(0);"><span class="lang-icon">EN</span><span class="langg-text"><span>English</span></span></a></li>
                        <li [ngClass]="activeLang == 'DE' ? 'active' : '' " (click)="getActiveLang('DE');" id="DE-f"><a href="javascript:void(0);"><span class="lang-icon">DE</span><span class="langg-text"><span>Deutsche</span></span></a></li>
                        <li [ngClass]="activeLang == 'NE' ? 'active' : '' " (click)="getActiveLang('NE');" id="NE-f"><a href="javascript:void(0);"><span class="lang-icon">NE</span><span class="langg-text"><span>Nederlands</span></span></a></li>
                        <li [ngClass]="activeLang == 'SV' ? 'active' : '' " (click)="getActiveLang('SV');" id="SV-f"><a href="javascript:void(0);"><span class="lang-icon">SV</span><span class="langg-text"><span>Svenska</span></span></a></li>
                        <li [ngClass]="activeLang == 'DN' ? 'active' : '' " (click)="getActiveLang('DN');" id="DN-f"><a href="javascript:void(0);"><span class="lang-icon">DN</span><span class="langg-text"><span>Dansk</span></span></a></li>
                    </ul>
                </div>
            </div> -->
      <!-- <div class="footer_search">
                <form class="footer-search-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Bingo69" name="q">
                        <button class="btn btn-default" type="submit">
                            <svg width="23px" height="32px" fill="#fff" class="tab_hover" viewBox="0 0 255 255">
                            <use xlink:href="#search-icon"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div> -->

    </div>
    <div class="clearfix"></div>
    <div class="footer-links">
      <div class="footer-link-box">
        <label class="footer-link-parent">POPULAR BINGO ROOMS</label>
        <article class="footer-link-subsection">
          <ul>
              <li routerLink="/bingo" >
              <a href="javascript:void(0)">Blue Room</a>
              </li>
              <li routerLink="/bingo" >
              <a href="javascript:void(0)">Bingo 75</a>
              </li>
              <li routerLink="/bingo"  >
              <a href="javascript:void(0)">Cream Room</a>
              </li>
              <li routerLink="/bingo"  >
                <a href="javascript:void(0)"> Bellabingo_testroom</a>
             </li>
            <li>
              <a href="javascript:void(0)" routerLink="/bingo">All Bingo Rooms</a>
            </li>

          </ul>
        </article>
      </div>



      <div class="footer-link-box">
                <label class="footer-link-parent">ABOUT</label>
                <article class="footer-link-subsection">
                    <ul>
                        <li routerLink="/about-Bingo" (click)="mixPanelEventCheck('ABOUT','About bingo')">
                            <a href="javascript:void(0)">About Bingo69</a>
                        </li>
                        <li routerLink="/privacy-policy" (click)="mixPanelEventCheck('ABOUT','Privacy Policy')">
                            <a href="javascript:void(0)">Privacy Policy</a>
                        </li>

                        <li routerLink="/terms-conditions" (click)="mixPanelEventCheck('ABOUT','Terms & Conditions')">
                            <a href="javascript:void(0)">Terms & Conditions</a>
                        </li>
                        <li routerLink="/cookie-policy" (click)="mixPanelEventCheck('cookies','cookie-policy')">
                            <a href="javascript:void(0)">Cookie Policy</a>
                        </li>
                    </ul>
                </article>
            </div>

      <div class="footer-link-box">
        <label class="footer-link-parent">Help</label>
        <article class="footer-link-subsection">
          <ul>
            <li routerLink="contact-us/none" (click)="mixPanelEventCheck('Help','Contact Us')">
              <a href="javascript:void(0)">Contact Us</a>
            </li>
            <li routerLink="contact-us/none">
              <a href="javascript:void(0)">Support</a>
            </li>
            <li routerLink="/app-faq" (click)="mixPanelEventCheck('Help','FAQ')">
              <a href="javascript:void(0)">FAQ</a>
            </li>
            <li routerLink="/what-bingo">
              <a href="javascript:void(0)">What is Bingo?</a>
            </li>
            <li routerLink="/about-responsible-gambling">
              <a href="javascript:void(0)">Responsible Gambling</a>
            </li>
          </ul>
        </article>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="footer-icon-row">
      <div class="responsible-and-safety">
        <div class="responsible-gaming-box ">
          <span class="color-box">
            HAVE FUN & PLAY RESPONSIBLY
          </span>
          <span class="text">
            Call the National Gambling Helpline Freephone 0808 8020 133 or contact at
            <a href="https://www.begambleaware.org" title="www.begambleaware.org" target="_blank">https://www.begambleaware.org</a>
          </span>
        </div>
        <div class="safety-check">
          <span class="icon">
            <img src="/assets/img/Safe_Secure.svg">
          </span>
          <span class="text">
            <h5>Safe and Secure</h5>
            <p>All transactions 128bit SSL encrypted</p>
          </span>
        </div>
      </div>
      <div class="gaming-licence">
        <span class="gaming-licence-icon">
          <img src="/assets/img/18_plus.svg">
        </span>
        <!-- <span class="gaming-licence-icon language-set">
                    <div class="footer_lang">
                        <div class="inn_select">
                            <h1 class="icon brand-ld language-selector">
                                <div id="dd" class="wrapper-dropdown-3 language-box" tabindex="1" [ngClass]="selectLang == true ? 'active' : '' " (click)="changeLanguage(selectLang)">
                                     <span class="selected-language-f"><span class="lang-icon-f">EN</span><span class="langg-text-f"><span>English</span></span> </span>
                                </div>
                            </h1>
                            <ul class="languagepicker">
                                <li [ngClass]="activeLang == 'EN' ? 'active' : '' " (click)="getActiveLang('EN');" id="EN-f"><a href="javascript:void(0);"><span class="lang-icon">EN</span><span class="langg-text"><span>English</span></span></a></li>
                                <li [ngClass]="activeLang == 'DE' ? 'active' : '' " (click)="getActiveLang('DE');" id="DE-f"><a href="javascript:void(0);"><span class="lang-icon">DE</span><span class="langg-text"><span>Deutsche</span></span></a></li>
                                <li [ngClass]="activeLang == 'NE' ? 'active' : '' " (click)="getActiveLang('NE');" id="NE-f"><a href="javascript:void(0);"><span class="lang-icon">NE</span><span class="langg-text"><span>Nederlands</span></span></a></li>
                                <li [ngClass]="activeLang == 'SV' ? 'active' : '' " (click)="getActiveLang('SV');" id="SV-f"><a href="javascript:void(0);"><span class="lang-icon">SV</span><span class="langg-text"><span>Svenska</span></span></a></li>
                                <li [ngClass]="activeLang == 'DN' ? 'active' : '' " (click)="getActiveLang('DN');" id="DN-f"><a href="javascript:void(0);"><span class="lang-icon">DN</span><span class="langg-text"><span>Dansk</span></span></a></li>
                            </ul>
                        </div>
                    </div>
                </span> -->
        <span class="gaming-licence-icon">
          <img src="/assets/img/MGA.svg">
        </span>

      </div>
    </div>
    <div class="clearfix"></div>
    <div class="copy-right-text">
      <p>
        Bingo69.com is a website operated by BETPOINT GROUP LIMITED (Company number C52434, registered address Tigne Place, Floor 2/1, Tigne Street, Sliema SLM3173, Malta) and operates under the license issued and regulated by the Government of Curacao: License number 1668/JAZ. Persons under the age of 18 are not permitted to register an account with Bingo69.com.  This is a real money gambling website/app and should be used responsibly. Only bet what you can afford. For help and further information on gambling addiction please visit our Responsible Gaming page or visit
        <a routerLink="/about-responsible-gambling" target="_blank">Responsible Gaming</a> page or visit
        <a href="https://www.begambleaware.org" title="www.begambleaware.org" target="_blank">https://www.begambleaware.org </a>

      </p>

      <p>Copyright Bingo69 2018. All Rights Reserved.</p>
    </div>
  </div>

  <div class="cookie-policy-btm">
    <div class="container">
      <div class="large-screen">
        <div class="col-md-9">
          <p>Vi lagrar cookies i din webbläsare och din IP-adress för att ge dig en bättre upplevelse på vår webbplats.</p>
        </div>
        <div class="col-md-3">
          <button _ngcontent-c15="" class="btn btn-default more-info" type="button">Jag förstår</button>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-bottom-navigation">
    <div class="container">

      <div class="mobile-screen">
        <div class="tab-btn" (click)="mobileRouting('bottom','/bingo')">
          <a href="javascript:void(0);" class="bingo-footer " [ngClass]="activePage == 'bingo' ? 'active' : '' ">
            <div class="icon">
              <svg fill="#abb4c6" viewBox="0 -5 65 50" width="35">
                <use xlink:href="#lottery-icon"></use>
              </svg>
            </div>
            <div class="text">
              Bingo
            </div>
          </a>
        </div>

        <div class="tab-btn" (click)="mobileRouting('bottom','/scratch')">
          <a href="javascript:void(0);" class="scratch-footer " [ngClass]="activePage == 'scratch' ? 'active' : '' ">
            <div class="icon">
              <svg fill="#abb4c6" viewBox="0 -10 60 45" width="35">
                <use xlink:href="#scratch-icon"></use>
              </svg>
            </div>
            <div class="text">
              Scratch
            </div>
          </a>
        </div>

        <div class="tab-btn" (click)="mobileRouting('bottom','/casino')">
          <a href="javascript:void(0);" class="casino-footer " [ngClass]="activePage == 'casino' ? 'active' : '' ">
            <div class="icon">
              <svg fill="#abb4c6" viewBox="-5 0 60 50" width="32">
                <use xlink:href="#casino-icon"></use>
              </svg>
            </div>
            <div class="text">
              Casino
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
