<section class="country-not-allwed">
  <div class="container">
    <div class="logo-icon">
      <img alt="Bingo69" height="40" src="/assets/img/bingo69-logo-white.svg" title="Bingo69" width="180">
    </div>
    <div class="flex-container">
      <div class="container">
        <div class="alert-msg">
          <span class="icon">
			<img src="/assets/img/warning.svg" >
		</span>
          <span class="text">
			  <h1>Access denied </h1>
		      <h2>What happened?</h2>
		      <p>The owner of this website (www.bingo69.com) has banned the country or region your IP address is in ({{countryCode}}) from accessing this website.For any questions please contact us as  <a href='mailto:support@bingo69.com'>support@bingo69.com </a></p>
	    </span>
        </div>
      </div>
    </div>
  </div>
</section>
