<div class="reg-form" *ngIf="!step1Complete">
   <div class="header">

      <div class="skew-header">
         <div class="header-bg">
         <div class="text-container">
            <span class="text">
               <h1>
                  <ng-container *ngIf="!step1Complete">Open A New Account</ng-container>
                  <ng-container *ngIf="step1Complete">Complete My Account</ng-container>
               </h1>
               <p>
                  <ng-container *ngIf="!step1Complete">Sign up and claim your bonus</ng-container>
                  <ng-container *ngIf="step1Complete">Just a few more details</ng-container>
               </p>
            </span>
         </div>
      </div>
   </div>
   <div class="register-tab">
      <div class="signup-icon active">
         <div class="secure-transactions">
            <div class="icon">
               <svg viewBox="0 0 255 255" fill="#8e99bc">
                  <use xlink:href="#player-icon"></use>
               </svg>
            </div>
            <div class="text">
               <a href="javascript:void(0)">Sign Up</a>
            </div>
         </div>
      </div>
      <div class=" confirm-icon">
         <div class="secure-transactions">
            <div class="icon">
               <svg viewBox="0 0 398 398" fill="#8e99bc">
                  <use xlink:href="#tick-icon"></use>
               </svg>
            </div>
            <div class="text">
               <a href="javascript:void(0)">Confirm</a>
            </div>
         </div>
      </div>
      <!-- <div class=" bonus-icon">
         <div class="secure-transactions">
             <div class="icon">
                 <svg viewBox="0 0 468 478" fill="#8e99bc">
                 <use xlink:href="#bonus-icon"></use>
                 </svg>
             </div>
             <div class="text">
                 <a href="javascript:void(0)">Select Bonus</a>
             </div>
         
         </div>
         </div> -->
   </div>
</div>
<div class="form-fields">
   <div id="serverError-Registration" class="error-msg hide">{{serverError}}</div>
   <div [ngClass]="step1Complete ? 'hide' : '' " class="step1">
      <form [formGroup]="registrationForm" novalidate (keyup)="$event.keyCode == 13 ? register('registerButton1') : ''">
      <div class="row">
         <div class="ld-col-md-6">
            <mat-form-field>
               <span matPrefix>
                  <i>
                     <svg fill="" viewBox="0 0 245 245" width="20" height="20">
                        <use xlink:href="#player-icon"></use>
                     </svg>
                  </i>
               </span>
               <input name="firstName" matInput placeholder="Your first name" formControlName="firstName" autofocus>
               <mat-error *ngIf="shouldShowErrors('firstName',registrationForm)">{{getErrorMessage('firstName', registrationForm)}}</mat-error>
            </mat-form-field>
         </div>
         <div class="ld-col-md-6">
            <mat-form-field>
               <input name="lastName" matInput placeholder="Your last name" formControlName="lastName">
               <mat-error *ngIf="shouldShowErrors('lastName',registrationForm)">{{getErrorMessage('lastName', registrationForm)}}</mat-error>
            </mat-form-field>
         </div>
      </div>
      <div class="row">
         <div class="ld-col-md-6">
            <mat-form-field>
               <input name="nickname" matInput placeholder="Enter a username or nickname" formControlName="nickname">
               <mat-error *ngIf="shouldShowErrors('nickname',registrationForm)">{{getErrorMessage('nickname', registrationForm)}}</mat-error>
            </mat-form-field>
         </div>
         <div class="ld-col-md-6 your_currency">
            <div class="mobile-date">
               <mat-form-field class="">
                  <span matPrefix>
                     <i>
                        <svg viewBox="0 0 1792 1792" fill="#" width="18" height="18">
                           <use xlink:href="#cake-icon"></use>
                        </svg>
                     </i>
                  </span>
                  <input formControlName="dob" name="dob" matInput [readonly]="true" placeholder="Select Date of Birth" [max]="minimumDate" mbsc-date [mbsc-options]="mobiScrollSetting" class="">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker disabled="false"></mat-datepicker>
                  <mat-error *ngIf="shouldShowErrors('dob',registrationForm)">{{getErrorMessage('dob', registrationForm)}}</mat-error>
               </mat-form-field>
            </div>
            <div class="desktop-date">
               <mat-form-field class="">
                  <span matPrefix>
                     <i>
                        <svg viewBox="0 0 1792 1792" fill="#" width="18" height="18">
                           <use xlink:href="#cake-icon"></use>
                        </svg>
                     </i>
                  </span>
                  <input formControlName="dob" name="dob" matInput [readonly]="true" [matDatepicker]="picker" placeholder="Select Date of Birth" [max]="minimumDate" (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker disabled="false"></mat-datepicker>
                  <mat-error *ngIf="shouldShowErrors('dob',registrationForm)">{{getErrorMessage('dob', registrationForm)}}</mat-error>
               </mat-form-field>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="ld-col-md-6">
            <mat-form-field>
               <span matPrefix>
                  <i>
                     <svg _ngcontent-c23="" fill="" height="18" viewBox="0 0 20 16" width="18">
                        <use xlink:href="#mail-icon"></use>
                     </svg>
                  </i>
               </span>
               <input name="email" matInput placeholder="Enter your email address" formControlName="email" type="email">
               <mat-error *ngIf="shouldShowErrors('email',registrationForm)">{{getErrorMessage('email', registrationForm)}}</mat-error>
            </mat-form-field>
         </div>
         <div class="ld-col-md-6 reg_pass" formGroupName="passwords">
            <mat-form-field class="password ">
               <span matPrefix>
                  <i>
                     <svg _ngcontent-c23="" fill="" height="20" viewBox="0 0 768.3 961.37" width="18">
                        <use xlink:href="#lock-icon"></use>
                     </svg>
                  </i>
               </span>
               <input [(ngModel)]="password" name="password" matInput placeholder="Create your password" [type]="isPassword ? 'password' : 'text'"
               formControlName="password">
               <mat-icon matSuffix (click)="isPassword = !isPassword">
                  <span class="pwd_show_hide">{{isPassword ? 'SHOW' : 'HIDE'}}</span>
               </mat-icon>
               <mat-error *ngIf="shouldShowErrors('password',registrationForm)">{{getErrorMessage('password', registrationForm)}}</mat-error>
            </mat-form-field>
            <password-strength-bar *ngIf="password && password.length > 3" [passwordToCheck]="password" [barLabel]="label"></password-strength-bar>
         </div>
      </div>
      <div class="row">
         <!-- <div class="password-meter"> -->
         <!-- <span class=""></span><span class=""></span><span class=""></span><span class=""></span>
            PASSWORD STRENGTH:  VERY WEAK -->
         <!--<password-strength-bar [passwordToCheck]="password"></password-strength-bar>-->
         <!--           </div> -->
      </div>
      <div class="row">
         <div class="ld-col-md-6 your_currency">
            <mat-form-field>
               <span matPrefix>
                  <i>
                     <svg class="tab_hover" fill="#384079" height="20px" viewBox="0 0 507.80469 529.9276" width="20px">
                        <use xlink:href="#wallet-icon"></use>
                     </svg>
                  </i>
               </span>
               <mat-select name="currency" placeholder="Your currency" formControlName="currency">
                  <mat-option *ngFor="let avCurrency of availableCurrency" [value]="avCurrency">
                  {{ avCurrency}}
                  </mat-option>
               </mat-select>
               <mat-error *ngIf="shouldShowErrors('currency',registrationForm)">{{getErrorMessage('currency', registrationForm)}}</mat-error>
            </mat-form-field>
         </div>
         <div class="ld-col-md-6">
            <div class="mobile-div reg_mobile">
               <div class="mobile-no">
                  <i>
                     <svg class="tab_hover" fill="" height="20px" viewBox="0 0 14 22" width="20px">
                        <use xlink:href="#mobile-icon"></use>
                     </svg>
                  </i>
                  <div class="flat-tel-holder">
                     <p class="label-text">International code</p>
                     <div class="tel-holder">
                        <div class="flag">
                           <input name="phone" id="phoneNumberFlag" ng-intl-tel-input formControlName="phone">
                           <div class="clearfix"></div>
                        </div>
                        <mat-form-field class="">
                           <input name="phone" matInput placeholder="Mobile phone number" formControlName="phone" type="tel">
                           <mat-error *ngIf="shouldShowErrors('phone',registrationForm)">{{getErrorMessage('phone', registrationForm)}}</mat-error>
                        </mat-form-field>
                     </div>
                     <p class="bigwin">
                        <ng-container *ngIf="!shouldShowErrors('phone',registrationForm)"></ng-container>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row flex-row">
         <div class="ld-col-md-6">
            <div class="tnc-content infoBox aquaBlue">
               <div class="ld-ckbox ">
                  <input type="checkbox" value="termsNCondition" formControlName="termsNcondition" id="termsNcondition">
                  <label for="termsNcondition">
                     <span class="text">
                        <p>I have read, understood and agree to the
                           <a href="javascript:void(0)" routerLink="/terms-conditions"
                              title="Bellabingo" target="_blank">Terms & Conditions</a> and confirm that I am 18 years of age or older.
                        </p>
                     </span>
                  </label>
               </div>
               <div class="ld-ckbox ">
                  <input type="checkbox" value="true" formControlName="emailAndMobileSubscribed" id="emailAndMobileSubscribed">
                  <label for="emailAndMobileSubscribed">
                     <span class="text">
                        <p>I want to recieve promotional emails.</p>
                     </span>
                  </label>
               </div>
            </div>
         </div>
         <div class="ld-col-md-6">
            <button type="button" id="registerButton1" class="btn-new" (click)="register('registerButton1')" [disabled]="isButtonDisabled(registrationForm)">
            <span>Open Free Account</span>
            </button>
            <!-- <button id="registerButton1" [ngClass]="getButtonClass(registrationForm,formSubmitted)" class="btn" type="button" (click)="register('registerButton1')" [disabled]="isButtonDisabled(registrationForm)">
               Open Free Account
               <i class="fa fa-refresh fa-spin facebook-login-spinner hide"></i>
               </button> -->
         </div>
      </div>
      <!--         <div class="secure-transactions step1">
         <div class="icon">
           <svg viewBox="0 375 80 80">
             <use xlink:href="#secure-icon"></use>
           </svg>
         </div>
         <div class="text">
           <h2>Safe and Secure</h2>
           <p>All transactions 128bit SSL encrypted</p>
         </div>
         </div> -->
      </form>
   </div>
   <div class="mobile-comp">
      <div class="secure-transactions ">
         <div class="icon">
            <svg viewBox="0 375 80 80">
               <use xlink:href="#secure-icon"></use>
            </svg>
         </div>
         <div class="text">
            <h2>Safe and Secure</h2>
            <p>All transactions 128bit SSL encrypted</p>
         </div>
      </div>
   </div>
</div>
</div>
<app-complete-profile *ngIf="step1Complete" [profileName]="profileName" (updateProfileComplete)="updateProfileComplete($event)"
[callingFrom]="'Registration'"></app-complete-profile>

