@import "~variables.scss";


/*@import "~mixins.scss";
*/

.forgot-pwd {
    padding: 60px 0 80px;
    position: relative;
    @media screen and (max-width: 768px) {
        padding: 0px;
    }

    &:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(315deg, #83DEFF 0%, #C9B1FF 100%);
        opacity: 0.3;  
        z-index: 0;
    }

    .inner-container {
        background-color: $forgotpassword-inner-container-bgcolor;
        padding: 30px 20px 15px 20px;
        border-radius: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;


        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            float: left;
            width: 500px;
            justify-content: center;
            color: $main-primary-text-color;

            .icon-user {
                font-size: 45px;
            }
            h3,
            p {
                margin: 0
            }
            h3 {
                font-size: 18px;
                letter-spacing: -0.2px;
                line-height: 22px;
                font-family: $main-primary-ef-reg;
                margin: 20px auto;
                font-weight: 800;
            }

            p {
                font-size: 16px;
                font-family: $main-primary-ef-reg;
                margin-bottom: 30px;
                line-height: 19px;
                letter-spacing: -0.25px;
            }
            .info-box {
                padding: 10px;
                background-color: $forgotpassword-info-box-bgcolor;
                border-radius: 4px;
                border: 1px solid $forgotpassword-info-box-bordercolor;
                margin: 10px 0;
                p {
                    font-size: 13px;
                    margin: 0;
                    color: $forgotpassword-info-box-bordercolor;
                }
            }
        }

        .form-fields {
            width: 300px;
            form {
                width: 100%;
                button {
                    border: 0;
                    width: 100%;
                    margin-top: 30px;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .footer-links {
            margin-top: 30px;
            border-top: 1px solid $forgotpassword-footer-links-bgcolor;
            padding: 15px 10px 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            justify-content: space-between;
            width: calc(100% - 40px);
            .return-link {
                font-family: $main-primary-ef-reg;
                font-size: 14px;
                font-weight: 500;
                color: $main-primary-text-color;
                text-transform: uppercase;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                i {
                    font-size: 30px;
                    height: 33px;
                    &.fa-angle-right {
                        margin-left: 30px;
                        @media screen and (max-width: 768px) {
                            margin-left: 5px;
                        }
                    }
                    &.fa-angle-left {
                        margin-right: 30px;
                        @media screen and (max-width: 768px) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .forgot-pwd {
        padding: 20px 15px;
        //margin: 20px 15px;
        .inner-container {//$forgotpassword-inner-container-box-shadow
                          margin-top: 0px;
                          box-shadow: $forgotpassword-inner-container-box-shadow;
                          border-radius: $card-border-radius;
                          .text,
                          .form-fields {
                              width: 100%;
                          }

                          .text {
                              h3 {
                                  margin: 20px auto;
                              }
                          }
                          .footer-links {
                              width: calc(100% - 20px);
                              padding: 20px 20px 0 20px;
                          }
        }
    }
}
@media (max-width: 767px) {
    .forgot_pass{
        .mat-form-field-wrapper {
          margin: 0 0 0 30px !important;
          width:auto !important;
        }
    }   
}