<section class="forgot-pwd">
    <div class="container">
        <div class="inner-container">
            <div class="text">
                <i class="icon-user"></i>
                <h3>Need help with your password?</h3>
                <p>Hey…it happens to everyone. Just enter the email address you use to sign into Bingo69 and we'll help you create a new password.</p>

                <div class="info-box" *ngIf="emailSent">
                    <p>We sent an email to {{emailId}} with instructions on how to reset your password.</p>
                </div>
                <div class="form-fields forgot_pass">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword('forgotPasswordButton')" novalidate>
                        <div id="serverErrorForgotPassword" class="error-msg hide">{{serverError}}</div>
                        <mat-form-field class="">
                            <span matPrefix>
                                <i>
                                    <svg _ngcontent-c23="" fill="" height="18" viewBox="0 0 20 16" width="18"> 
                                    <use xlink:href="#mail-icon"></use> 
                                    </svg>  
                                </i>

                            </span>
                            <input name="email" matInput placeholder="Enter email address"  type="email" formControlName="email">
                            <mat-error *ngIf="shouldShowErrors('email',forgotPasswordForm)">{{getErrorMessage('email',forgotPasswordForm)}}</mat-error>
                        </mat-form-field>

                        <button type=button id="forgotPasswordButton" class="btn-new" (click)="forgotPassword('forgotPasswordButton')" [disabled]="isButtonDisabled(forgotPasswordForm)"> <span>RESET PASSWORD</span></button>
                    </form>
                </div>
            </div>

            <div class="footer-links">

                <div class="return-link"  [routerLink]="'/'" (click)="openModal('loginModal')">
                    RETURN TO LOGIN 
                    <!-- <i class="fa fa-angle-left"></i>-->
                </div>

                <!-- <div class="return-link" (click)="moveToLogin()">
                    Forgotten your email? <i class="fa fa-angle-right"></i> 
                </div> -->

                <!--
                <div class="return-link">
                FORGOTTEN YOUR EMAIL?  		<i class="fa fa-angle-right"></i>
              </div> -->
            </div>
        </div>
    </div>
</section>
