<div class="form-fields bonus-method-choose" >

    <div class="circular-checked">
        <svg viewBox="0 0 490 490" width="36" height="30" fill="#fff">
        <use xlink:href="#checked-sign"></use>
        </svg>
    </div>


    <div class='bonus-heading'>
        <p>Thank you Mathilda, your account has been verified. Now you can select your bonus.
    </div>

    <div class="center-dropdown">
        <p><i class="fa fa-angle-down"></i></p>
    </div>

    <div class='bonus-lisitng'>
        <div class="select-bonus">
            <div class="thumb-para">
                <div class="col-sm-3">
                    <img alt="bonus" src="/assets/img/promotions-pic-3.jpg" title="bonus">
                </div>
                <div class="col-sm-9">
                    <h5>20 FREE SPINS</h5>
                    <h6>Jungle Jim El Dorado</h6>
                    <span class="para">Jump in the jeep and drive accross the lands, fields, go over oceans and river-all of this adventure to get to the legendary city of gold; El Dorado</span>
                </div>
            </div>
            <button type="button" class="btn-new">
                <span>Claim 20 Free Spins</span>
            </button>
        </div>
        <div class="select-bonus">
            <div class="thumb-para">
                <div class="col-sm-3">
                    <img alt="bonus" src="/assets/img/promotions-pic-4.jpg" title="bonus">
                </div>
                <div class="col-sm-9">
                    <h5>FREE SCRATCHCARD</h5>
                    <h6>Bingo Jackpot- Win upto 30,000,000</h6>
                    <span class="para">Jump in the jeep and drive accross the lands, fields, go over oceans and river-all of this adventure to get to the legendary city of gold; El Dorado</span>
                </div>
            </div>
            <button type="button" class="btn-new">
                <span>Claim Free Scratchcard</span>
            </button>
        </div>

    </div>
</div>