<section class="p-b-rooms bingo-content">
  <div class="container">
    <div class="header-row">
      <div class="skew-header">
        <div class="header-bg">
          <div class="text-container">
            <span class="icon">
                            <svg width="60px" height="40px" fill="#fff" class="Popular-bingo-rooms" viewBox="0 0 715 513">
                            <use xlink:href="#Popular-bingo-rooms-icon"></use>
                            </svg>
                        </span>
            <span class="text">
                            <h1>Popular Bingo Rooms</h1>
                        </span>
          </div>
        </div>
      </div>
      <app-onlineplayers></app-onlineplayers>
      <div class="sorting">
        <div class="btn-group">
          <button class="no-fill" (click)="changeView('grid')">
            <span class="icon" [ngClass]="{ 'active' : layoutView == 'grid' }">
                                <svg width="28px" height="28px" fill="#eaeaea" class="tab_hover" viewBox="0 0 55 55">
                                <use xlink:href="#grid_view_icon"></use>
                                </svg>
                            </span>
          </button>
          <button class="no-fill" (click)="changeView('list')">
            <span class="icon" [ngClass]="{ 'active' : layoutView == 'list' }">
                                <svg width="37px" height="28px" fill="#eaeaea" class="tab_hover" viewBox="0 0 90 90">
                                <use xlink:href="#list_view_icon"></use>
                                </svg>
                            </span>
          </button>
        </div>
      </div>
      <div class="search-bar">
        <div class="form-group">
          <input type="text" placeholder="Search Bingo Rooms" [ngModel]="searchText" (ngModelChange)="valuechange($event)" />
          <button class="btn btn-default" type="submit" (click)="openSearchResults()">
            <!--  <svg width="23px" height="28px" fill="#fff" class="tab_hover" viewBox="0 0 255 235">
              <use xlink:href="#search-icon"></use>
            </svg> -->
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <div class="search-results-wrap " *ngIf="showResult">
            <i class="icon-close" (click)="showResult = false"></i>
            <ul class="search-results">
              <li class="no-result" *ngIf="(results | slotsSearch : searchText).length === 0">No Bingo Rooms</li>
              <li *ngFor="let room of results | slotsSearch : searchText;let idx = index" (click)="isLoggedIn ? openBingoRoom(room.roomID) : openModal('loginModal')">{{room.name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="filter-btn">
                <button type="submit">
                    <svg  x="0px" y="0px" width="30px" height="16px"  fill="#fff" class="tab_hover" viewBox="0 0 380 380">
                    <use xlink:href="#filter-icon"></use>
                    </svg>
                    &nbsp; Filter
                </button>
            </div> -->
    </div>
    <div class="filter-tab" *ngIf='(currentPage && windowType =="device" && layoutView == "grid")'>
      <form class="form-holder">
        <mat-form-field>
          <mat-select name="room" placeholder="Room" (change)="filterRooms('roomName', $event.value)">
            <mat-option *ngFor="let room of availableRooms" [value]="room.viewValue">
              {{ room.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="shouldShowErrors"></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="game" placeholder="Game Type" (change)="filterRooms('bingoType', $event.value)">
            <mat-option *ngFor="let bingoType of availableBingoTypes" [value]="bingoType.value">
              {{ bingoType.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="shouldShowErrors"></mat-error>
        </mat-form-field>
        <!---nagesh chnage: Date picker Start-->
        <mat-form-field *ngIf="windowType == 'device'">
          <input matInput [readonly]="true" (click)="myDatepicker.open()" [matDatepicker]="myDatepicker" [max]="minimumDate" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker disabled="false" (selectedChanged)="filterRooms('nextGameStart', $event)"></mat-datepicker>
        </mat-form-field>
        <!---nagesh chnage: Date picker End-->
        <!-- <mat-form-field>
                <mat-select name="date" placeholder="Date">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{ food.viewValue }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="shouldShowErrors"></mat-error>
        </mat-form-field> -->
        <mat-form-field>
          <input matInput name="time start" placeholder="From: HH:MM" mbsc-time [mbsc-options]="timePicker" (change)="filterRooms('fromDate', $event.target.value)">
          <mat-error *ngIf="shouldShowErrors"></mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="time end" placeholder="To : HH:MM" mbsc-time [mbsc-options]="timePicker" (change)="filterRooms('toDate', $event.target.value)">
          <mat-error *ngIf="shouldShowErrors"></mat-error>
        </mat-form-field>
        <span class="bing_filter_time_error" *ngIf="dateFilterError">From Time can't be greater than to Time!!!</span>
      </form>
    </div>
    <div class="sorting_wrap" *ngIf="layoutView == 'list'">
      <ul>
        <!-- <li class="bingo-room-img"></li> -->
        <li class="bingo-room">Bingo Room<i class="fa fa-angle-down"></i></li>
        <li class="moderator">Moderator</li>
        <li class="start" (click)="sort('nextGameStart')">Starts<i class="fa fa-angle-down"></i></li>
        <li class="type" (click)="sort('bingoType')">Type<i class="fa fa-angle-down"></i></li>
        <li class="price" (click)="sort('bingoPrice')">Price<i class="fa fa-angle-down"></i></li>
        <li class="prize">Prize<i class="fa fa-angle-down"></i></li>
        <li class="jackpot" (click)="sort('jackpotAmountValue')">Jackpot<i class="fa fa-angle-down"></i></li>
        <li class="players" (click)="sort('playersInRoom')">Players<i class="fa fa-angle-down"></i></li>
        <!-- <li class="play-btn"></li> -->
      </ul>
    </div>
    <span *ngIf="shouldShowErrors">There is an error fetching rooms!!!</span>
    <div class="card-grid" *ngIf="!shouldShowErrors && results && results.length == 0">
      <div class="card-col list-view">
        <div class="card">No Rooms Available!!!
        </div>
      </div>
    </div>
    <div class="card-grid" *ngIf="results && results.length > 0">
      <ng-container *ngFor="let i_lottery of results | slice: (curPage * pageSize) - pageSize :curPage * pageSize | sortBy: key: reverse;let i=index">
        <div class="card-col list-view" [ngClass]="{ 'list-view' : layoutView == 'list' }" *ngIf="i<display_limit">
          <div class="card-group-{{(i+1)/6 | ceil}}" [ngClass]="((i+1)/6 | ceil) == selectedPage ? 'showSelectedLotteryPage' : 'hideSelectedLotteryPage' " id="upcoming_tc">
            <div class="card">
              <div class="card-body">
                <div class="b-room-left">
                  <h2 class="room-name"> {{i_lottery.roomName}}</h2>
                  <div class="games-thumb">
                    <div *ngIf="layoutView != 'list'" class="games_moderator">
                      <span class="games_circular">
                        <span class="var-b-type">{{i_lottery.bingoType}}</span>
                      <!-- <span class="var-num">VAR</span> --></span>
                      <!-- <img class="games_circular" src="/assets/img/chat-moderator.jpg"> -->
                    </div>
                    <div class="games-thumb-inner">
                      <img class="games_logo " src="/assets/img/scratch-card-5.jpg">
                      <div class="games-thumb-mask">
                        <div class="games-thumb-mask-inn">
                          <div *ngIf="isLoggedIn" (click)="openBingoRoom(i_lottery.roomID)" class="link-area">
                            <svg _ngcontent-c19="" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#00c332" height="34px" version="1.1" viewBox="0 0 59 71" width="30px" xmlns="http://www.w3.org/2000/svg">
                              <use _ngcontent-c19="" xlink:href="#play icon"></use>
                            </svg>
                            <h5 [ngClass]=" i_lottery.highlightTimer ? 'highlight_timer': 'normal_timer' ">
                                            Join Room
                                        </h5>
                          </div>
                          <div *ngIf="!isLoggedIn" (click)="openModal('loginModal')" class="link-area">
                            <svg _ngcontent-c19="" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#00c332" height="34px" version="1.1" viewBox="0 0 59 71" width="30px" xmlns="http://www.w3.org/2000/svg">
                              <use _ngcontent-c19="" xlink:href="#play icon"></use>
                            </svg>
                            <h5 [ngClass]=" i_lottery.highlightTimer ? 'highlight_timer': 'normal_timer' ">
                                            Join Room
                                        </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-room-right">
                  <div class="moderator" *ngIf="layoutView == 'list'">
                    <svg viewBox="0 0 17 17" class="moder_icon">
                      <use xlink:href="#tick-green"></use>
                    </svg>
                  </div>
                  <div class="show-timer" [ngClass]=" i_lottery.highlightTimer? 'highlight_timer': 'normal_timer' ">
                    <svg width="22px" height="25px" fill="#7e69af" class="time-icon" viewBox="0 0 160 180">
                      <use xlink:href="#hourglass-icon"></use>
                    </svg>
                    <span class="card_info-timer">
                    <app-timer [timedetails]="i_lottery.nextGameStart" [isDepositLimitTimer]="isDepositLimitTimer" [showText]="false" [bingoRoomsIndex]="i_lottery.roomID"></app-timer>
                </span>
                  </div>
                  <div class="type-var" *ngIf="layoutView == 'list'">
                    <div class="games_moderator">
                      <span class="games_circular">
                        <span class="var-b-type">{{i_lottery.bingoType}}</span>
                      <!-- <span class="var-num">VAR</span> --></span>
                    </div>
                  </div>
                  <div class="users_login" *ngIf="layoutView == 'grid'">
                    <svg width="30px" height="25px" fill="#7e69af" class="tab_hover" viewBox="0 0 100 100">
                      <use xlink:href="#bingo-user"></use>
                    </svg>
                    <span class="users_login_total card_info">{{i_lottery.playersInRoom}}</span>
                  </div>
                  <div class="Bingo_card">
                    <svg width="30px" height="30px" fill="#7e69af" class="tab_hover" viewBox="0 0 80 70">
                      <use xlink:href="#bingo-card-icon"></use>
                    </svg>
                    <span class="Bingo_card_inn card_info">{{i_lottery.cardCost.value | number:'.2'}} {{currencySymbol}}</span>
                  </div>
                  <div class="cup_wrap">
                    <svg width="30px" height="28px" fill="#7e69af" class="tab_hover" viewBox="0 0 480 480">
                      <use xlink:href="#cup-icon"></use>
                    </svg>
                    <span class="users_login_total card_info">{{i_lottery.gamePrize.value | number:'.2'}} {{currencySymbol}}</span>
                  </div>
                  <div class="jackpot_box" *ngIf="layoutView == 'list'">
                    <span class="jackpot_box_inn card_info">{{i_lottery.jackpotAmount.value | number:'.2'}} {{currencySymbol}}</span>
                  </div>
                  <div class="users_login" *ngIf="layoutView == 'list'">
                    <svg width="30px" height="30px" fill="#7e69af" class="tab_hover" viewBox="0 0 270 270">
                      <use xlink:href="user"></use>
                    </svg>
                    <span class="users_login_total card_info">{{i_lottery.playersInRoom}}</span>
                  </div>
                </div>
                <div class="play_btn" *ngIf="layoutView == 'list'">
                  <button class="btn btn-primary" *ngIf="isLoggedIn" (click)="openBingoRoom(i_lottery.roomID)">PLAY NOW</button>
                  <button class="btn btn-primary" *ngIf="!isLoggedIn" (click)="openModal('loginModal')">PLAY NOW</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="clearfix"></div>
    <div class="load_card_list" *ngIf="!results">
      <div class="card-grid">
        <ng-container *ngFor="let i of [1,2,3,4,5]">
          <div class="card-col list-view" [ngClass]="{ 'list-view' : layoutView == 'list' }" *ngIf="i<display_limit">
            <div class="card">
              <div class="card-body">
                <div class="b-room-left">
                  <h2 class="room-name animated-background"> </h2>
                  <div class="games-thumb animated-background">
                    <div *ngIf="layoutView != 'list'" class=" cc animated-background ">
                     </div>
                  </div>
                </div>
                <div class="b-room-right">
                  <div class="moderator " *ngIf="layoutView == 'list'">
                    <span class="animated-background"></span>
                  </div>
                  <div class="show-timer animated-background">
                  </div>
                  <div class="type-var  " *ngIf="layoutView == 'list'">
                    <span class="animated-background">
                     </span>
                  </div>
                  <div class="users_login animated-background" *ngIf="layoutView == 'grid'">
                  </div>
                  <div class="Bingo_card animated-background">
                  </div>
                  <div class="cup_wrap animated-background">
                  </div>
                  <div class="jackpot_box animated-background" *ngIf="layoutView == 'list'">
                  </div>
                  <div class="users_login animated-background" *ngIf="layoutView == 'list'">
                  </div>
                </div>
                <div class="play_btn animated-background" *ngIf="layoutView == 'list'">
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class=" more-bingo" *ngIf="!currentPage">
      <button class=" btn pull-right" type="button" routerLink="/bingo">
        <span class="btn-wrapper"> MORE BINGO ROOMS
            <i class="fa fa-angle-right"></i> </span></button>
    </div>
    <div class="button main-btn bingo-pagination" *ngIf="currentPage">
      <button class="btn btn-secondary" type="button" [disabled]="curPage == 1" (click)="curPage = curPage - 1">
        <i class="fa fa-angle-left"></i>
      </button>
      <span class="btn-wrapper"> Page {{curPage}} of {{numberOfPages()}} </span>
      <button class="btn btn-secondary" type="button" [disabled]="isNextDisabled()" (click)="curPage = curPage + 1">
        <i class="fa fa-angle-right"></i>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!-- <section class="chat-moderators" *ngIf="currentPage">
    <div class="bingo-testimonials">
        <app-testimonial ></app-testimonial>
    </div>
</section> -->
