$white:#ffffff;  
$sky-blue:#028FD5;  
$steel-blue:#437EB0;  
$grey:#C8CFDE;  
$bg-grey:#F0F2F6;  
$chetwode-blue:#6974B1;  
$brand-ld:#384079;  
$vivid-violet:#7B4397;  
$medium-red-violet:#B5238A;  
$alizarin:#DC2430;  
$disabled-color:#5C95FF;  
$ld-theme-gradient-blue-313:linear-gradient(313.01deg, $chetwode-blue 0%, $brand-ld 100%);  
$ld-theme-gradient-blue-135:linear-gradient(135deg, $chetwode-blue 0%, $brand-ld 100%);  
$ld-theme-gradient-pink:linear-gradient(48.19deg, $vivid-violet 0%, $medium-red-violet 61.8%, $alizarin 100%);  
$checkbox-unchecked-bgcolor:#F0F0F0;  
$checkbox-unchecked-borderColor:#D3D3D3;  
$checkbox-checked-bgcolor:#244695;  
$button-secondary:#244695;  
$button-disabled:#F5F5F5;  
$btn-secondary-bg:$button-secondary;  
$btn-disabled-color:#cddce4;  
$mob-menu-grad-b-color:#18274D;  
$mob-menu-grad-e-color:#314986;  
$mob-menu-sep-one:#00154A;  
$mob-menu-sep-two:#4A5F92;  
$mobile-lft-mn-bg:#1F2E5C;  
$mobile-rht-mn-bg:#1F2E5C;  
$mobile-border-color-2:#4A5F92;  
$mobile-border-color-1:#00154A;  
$btn-disabled-bg:$button-disabled;  
$btn-disabled-border:darken($btn-disabled-bg, 5%);;  
$base-blue:#384079;  
$menu-active-hover:#5C95FF;  
$form-placeholder:#C8CFDE;  
$green:#00c333;  
$input-focus-color:#5C95FF;  
$border-colors:#EAEAEA;  
$pagi-dot-bg-color:#D8D8D8;  
$btn-blue-border-color:#0FB2E1;  
$btn-blue-text-color:$btn-blue-border-color;  
$btn-blued:linear-gradient(to right, #0072ff, #00c6ff);  
$clear-day-color:#EAFAF5;  
$free-speech-aquamarine-color:#02A174;  
$input-invalid-color:#D0021B;  
$input-success-color:#00c333;  
$blue-icon:#5C95FF;  
$infoBoxBgColor-aquaBlue:#D0E0EE;  
$infoBoxBorderColor-aquaBlue:#EFF9FE;  
$infoBoxBgColor-honey:#FFFCD6;  
$infoBoxBorderColor-honey:#F0D49E;  
$infoBoxTextColor-honey:#F49600;  
$bg-secondary:#F8F8F8;  
$card-box-shadow:0 1px 1px 0 #A8A8A8;  
$card-border:1px solid #DFDFDF;  
$card-background-color:$white; 
$card-white:#FFFFFF;  
$header-blue:#4699FD;  
$footer-font-color:#384079;  
$black:#000000;  
$yellow:#F8E71C;  
$pale-yellow:#FFF9D9;  
$input-text-base-color:#B9BCCB;  
$pink:#FC346A;  
$gray-base:#000000;  
$gray:lighten($gray-base,33.5%);  
$gray-darker:lighten($gray-base,13.5%);  
$gray-light:lighten($gray-base,46.7%);  
$gray-lighter:lighten($gray-base,93.5%);  
$gray-dark:lighten($gray-base,20%);  
$inactive-grey:#EAEAEA;  
$OzLotto-num-color:#EFD91C;  
$button-additional:#C2D6CF;  
$pink-gradient-48:linear-gradient(48.19deg, $vivid-violet 0%, $medium-red-violet 61.8%, $alizarin 100%);  
$btn-default-color:#00c333;  
$btn-default-bg:#FFFFFF;  
$btn-default-border:#00c333;  
$button-primary:#00c333;  
$info-color:#E9A837;  
$number-of-draw-color:#00c333;  
$bonus-applied-bg-color:#DFF8EF;  
$form-text:transparent;  
$input-placeholder-color:#BCC4D6;  
$input-invalid-color-light-red:#FF8C8C;  
$select-dropdown-text:#3F467D;  
$yellow-dark:#FFC300;  
$error-color:#A20000;  
$boxColor:#020438;  
$waterFColor:#B5238A;  
$waterbordercolor:#7B4397;  
$boxcolor:#384079;  
$percentColor:#FFFFFF;  
$shakespeare:#6998C0;  
$spin-circle-color:#939FB8;  
$spinner-bg-color:#DCE0EF;  
$seagull:rgba(136, 183, 213, 0);  
$light-blue:#EEEFF5;  
$table-head-color:$bg-grey;  
$toreabay:#394179;  
$golden-yellow:#FFED00;  
$deep-koamaru:#2A2E66;  
$content-bg-color:#F0F2F6;  
$light-grey:#F5F5F5;  
$small-anchors:#3A60D7;  
$maintenance-secondary:#A4BBFF;  
$white-smoke:#FFF0F0;  
$anchor-color:#00ADEE;  
$pink-gradient-135deg:linear-gradient(135deg, $vivid-violet 0%, $medium-red-violet 61.8%, $alizarin 100%);  
$card-border-color:#D3D4D7;  
$btn-font-weight:normal;  
$btn-primary-color:#FFFFFF;  
$btn-primary-bg:$button-primary;  
$btn-primary-border:darken($btn-primary-bg,5%);  
$btn-secondary-color:#FFFFFF;  
$btn-secondary-border:darken($btn-secondary-bg,5%);  
$btn-additional-color:#FFFFFF;  
$btn-additional-bg:$button-additional;  
$btn-additional-border:darken($btn-additional-bg,5%);  
$btn-special-color:#FFFFFF;  
$button-special:#FC346A;  
$btn-special-bg:$button-special;  
$btn-special-border:darken($btn-special-bg,5%);  
$btn-success-color:#FFFFFF;  
$brand-success:#5CB85C;  
$btn-success-bg:$brand-success;  
$btn-success-border:darken($btn-success-bg,5%);  
$btn-info-color:#FFFFFF;  
$text-highlighter:#4B7EFF;  
$brand-info:#5BC0DE;  
$btn-info-bg:$brand-info;  
$btn-info-border:darken($btn-info-bg,5%);  
$btn-warning-color:#FFFFFF;  
$warning-color:#A20000;  
$alert-color:#A20000;  
$error-msg:#FF8C8C;  
$alert-msg:#EF8308;  
$honey-color:#FFFAD6;  
$ld-bg-secondary:#3653A4;  
$brand-warning:#F0AD4E;  
$btn-warning-bg:$brand-warning;  
$btn-warning-border:darken($btn-warning-bg,5%);  
$btn-danger-color:#FFFFFF;  
$brand-danger:#D9534F;  
$btn-danger-bg:$brand-danger;  
$btn-danger-border:darken($btn-danger-bg,5%);  
$btn-link-disabled-color:$gray-light;  
$state-success-text:#3C763D;  
$state-success-bg:#DFF0D8;  
$state-success-border:darken(adjust-hue($state-success-bg, -10), 5%);  
$state-info-text:#31708F;  
$state-info-bg:#D9EDF7;  
$state-info-border:darken(adjust-hue($state-info-bg,-10),7%);  
$state-warning-text:#8A6D3B;  
$state-warning-bg:#FCF8E3;  
$state-warning-border:darken(adjust-hue($state-warning-bg, -10),5%);  
$state-danger-text:#A94442;  
$state-danger-bg:#F2DEDE;  
$state-danger-border:darken(adjust-hue($state-danger-bg, -10), 5%);  
$tooltip-color:#FFFFFF;  
$tooltip-bg:#000000;  
$tooltip-arrow-color:$tooltip-bg;  
$alert-success-bg:$state-success-bg;  
$alert-success-text:$state-success-text;  
$alert-success-border:$state-success-border;  
$alert-info-bg:$state-info-bg;  
$alert-info-text:$state-info-text;  
$alert-info-border:$state-info-border;  
$alert-warning-bg:$state-warning-bg;  
$alert-warning-text:$state-warning-text;  
$alert-warning-border:$state-warning-border;  
$alert-danger-bg:$state-danger-bg;  
$alert-danger-text:$state-danger-text;  
$alert-danger-border:$state-danger-border;  
$badge-color:#E72B2B;  
$badge-link-hover-color:#E72B2B;  
$badge-bg:$gray-light;  
$badge-active-bg:#FFFFFF;  
$close-color:#000000;  
$close-text-shadow:0 1px 0 #fff;  
$ld-custom--color-default:#BDC3C7;  
$ld-custom--color-primary:#428BCA;  
$ld-custom--color-info:#5BC0DE;  
$ld-custom--color-success:#5CB85C;  
$ld-custom--color-warning:#F0AD4E;  
$ld-custom--color-danger:#D9534F;  
$ld-custom--color-dark:#5A656B;  
$ld-custom--colors:(primary,$ld-custom--color-primary),(info,$ld-custom--color-info),(success,$ld-custom--color-success),(warning,$ld-custom--color-warning),(danger,$ld-custom--color-danger);  
$transparent:transparent;  
$table-bg:$transparent;  
$table-bg-accent:#F9F9F9;  
$table-bg-hover:#F5F5F5;  
$table-bg-active:$table-bg-hover;  
$table-border-color:#DDDDDD;  
$input-bg:#FFFFFF;  
$input-bg-disabled:$gray-lighter;  
$input-color:$gray;  
$input-border:#CCCCCC;  
$input-border-focus:$transparent;  
$input-color-placeholder:#C8CFDE;  
$legend-color:$gray-dark;  
$legend-border-color:#E5E5E5;  
$input-group-addon-bg:$gray-lighter;  
$input-group-addon-border-color:$input-border;  
$dropdown-bg:#FFFFFF;  
$dropdown-border:rgba(0, 0, 0, 0.15);  
$dropdown-fallback-border:#CCCCCC;  
$dropdown-divider-bg:#E5E5E5;  
$dropdown-link-color:$gray-dark;  
$dropdown-link-hover-color:darken($gray-dark,5%);  
$dropdown-link-hover-bg:#F5F5F5; 
$component-active-color:#FFFFFF;  
$brand-primary:darken(#428bca,6.5%); 
$component-active-bg:$brand-primary; 
$dropdown-link-active-color:$component-active-color;  
$dropdown-link-active-bg:$component-active-bg;  
$dropdown-link-disabled-color:$gray-light;  
$dropdown-header-color:$gray-light;  
$dropdown-caret-color:#000000;  
$link-color:$brand-primary;  
$badge-active-color: $link-color;  
$body-bg:#FFFFFF;  
$text-color:$gray-dark;  
$headings-color:inherit;  
$link-hover-color:darken($link-color,15%);  
$btn-bluebg-color:linear-gradient(to right, #0072ff, #00c6ff);  
$bg-blue:#4A5584;  
$text-muted:$gray-light;  
$abbr-border-color:$gray-light;  
$headings-small-color:$gray-light;  
$blockquote-small-color:$gray-light;  
$blockquote-border-color:$gray-lighter;  
$page-header-border-color:$gray-lighter;  
$hr-border:$gray-lighter;  
$footer-bg-color:#F8F8F8;  
$footer-links-list-anchor-color:#384079;  
$footer-anchor-container-color:#00ADEE;  
$responsible-link-color:$sky-blue;  
$responsible-text-color:$white;  
$footer-border-colors:#DDDDDD;  
$about-bg-color:$white;  
$about-brand-banner-text-color:$white;  
$about-brand-banner-bgcolor:$ld-theme-gradient-blue-313;  
$account-status-checkbox-unchecked-bgcolor:$checkbox-unchecked-bgcolor;  
$account-status-checkbox-unchecked-borderColor:$checkbox-unchecked-borderColor;  
$account-status-text-color:$brand-ld;  
$account-status-p-color:$brand-ld;  
$account-status-input-color:$white;  
$account-status-input-border-color:$checkbox-checked-bgcolor;  
$account-status-input-bg-color:$checkbox-checked-bgcolor;  
$account-status-modal-bg-color:$white;  
$myaccount-tabs-accordionBox-bgcolor:$white;  
$myaccount-tabs-accordionRow-bgcolor:$bg-grey;  
$myaccount-tabs-accordionHeadline-h1color:$brand-ld;  
$myaccount-tabs-accordionHeadline-pcolor:$brand-ld;  
$myaccount-tabs-accordionText-h3color:$brand-ld;  
$accordionText-form-field-placeholdercolor:$grey;  
$all-lottery-bgcolor:$white;  
$all-lottery-down-arrowcolor:$bg-grey;  
$all-lottery-sorting-btn-bgcolor:$white; 
$all-lottery-sorting-btn-color:$btn-secondary-bg;
$all-lottery-sorting-btn-bordercolor:$grey;  
$all-lottery-headerrow-bgcontent-color:$bg-grey;  
$bet-history-bgcolor:$white;  
$bet-history-h3color:$brand-ld;  
$bet-history-pcolor:$brand-ld;  
$bet-history-table-content-bgcolor:$white;  
$bet-history-table-thead-bgcolor:$base-blue;  
$bet-history-table-th-color:$white;  
$bet-history-table-tbodytr-borderbottomcolor:$bg-grey;  
$bet-history-table-tbodytr-h3color:$menu-active-hover;  
$bet-history-table-tbodytr-pending-bets-color:$bg-grey;  
$bet-history-table-pending-bets-color:$white;  
$bet-history-btn-bgcolor:$button-secondary;  
$bet-history-btn-color:$white;  
$bet-history-btn-bordercolor:$button-secondary;  
$bet-history-btn-disabled-color:$btn-disabled-color;  
$bet-history-btndisabled-bordercolor:$btn-disabled-border;  
$bet-history-btndisabled-bgcolor:$btn-disabled-bg;  
$bet-history-table-category-color:$brand-ld;  
$bet-history-accordionRow-bgcolor:$white;  
$bet-history-accordionHeadline-h1color:$brand-ld;  
$cashier-component-bgcolor:$white;  
$cashier-component-h3color:$brand-ld;  
$cashier-component-pcolor:$brand-ld;  
$cashier-component-bal-types-color:$brand-ld;  
$cashier-component-bal-types-bgcolor:$bg-grey;  
$cashier-component-blue-gradient-color:$white;  
$cashier-bal-types-list-bgcolor:$white;  
$cashier-cashier-tabs-bgcolor:$white;  
$cashier-content-bgcolor:$bg-grey;  
$cashier-tabs-accordionBox-bgcolor:$white;  
$cashier-tabs-accordionRow-bgcolor:$bg-grey;  
$cashier-tabs-accordionRow-h1color:$form-placeholder;  
$cashier-tabs-accordionHeadline-h1color:$form-placeholder;  
$cashier-tabs-accordionHeadline-color:$green;  
$cashier-tabs-accordionHeadline-content-color:$input-focus-color;  
$cashier-accordionHeadline-verifiedclassp-color:$green;  
$cashier-accordionHeadline-verifiedinitclassp-color:$input-focus-color;  
$cashier-accordionHeadline-h1color:$brand-ld;  
$cashier-accordionHeadline-pcolor:$brand-ld;  
$cashier-accordionText-pcolor:$brand-ld;  
$cashier-accordionText-text-no-withdraw-bgcolor:$white;  
$cashier-back-to-cards-cashier-color:$brand-ld;  
$cashier-accordionRow-bgcolor:$border-colors;  
$pwd-success-pcolor:$brand-ld;  
$checkout-component-downarrow-bgcolor:$bg-grey;  
$checkout-component-container-bgcolor:$bg-grey;  
$checkout-component-cart-icon-bgcolor:$white;  
$checkout-component-cart-icon-color:$bg-grey;  
$checkout-component-cart-icon-pcolor:$brand-ld;  
$checkout-component-lottery-details-h6color:$brand-ld;  
$checkout-component-lottery-summary-h6color:$brand-ld;  
$checkout-component-lottery-summary-pcolor:$green;  
$checkout-component-pay-details-h3color:$brand-ld;  
$checkout-component-button-color:$brand-ld;  
$checkout-cart-suggestion-btnfil-color:$white;  
$checkout-cart-suggestion-btn-color:$white;  
$checkout-cart-payment-section-bgcolor:$white;  
$checkout-cart-paymentsection-totalsummary-bgcolor:$grey;  
$checkout-cart-totalsummary-borderline-bgcolor:$grey;  
$checkout-cart-available-funds-currency-color:$white;  
$checkout-component-secure-transactions-button-abgcolor:$green;  
$checkout-component-secure-transactions-button-acolor:$white;  
$checkout-component-secure-transactions-button-abordercolor:$green;  
$checkout-component-secure-transactions-btnnew-color:$white;  
$checkout-component-secure-transactions-btnblue-bgcolor:$white;  
$checkout-component-secure-transactions-btnblue-bordercolor:$btn-blue-border-color;  
$checkout-component-secure-transactions-btnblue-color:$btn-blue-text-color;  
$checkout-component-secure-transactions-btnblue-fbgcolor:$btn-blued;  
$checkout-component-span-bgcolor:$white;  
$contact-component-infobox-bgcolor:$clear-day-color;  
$contact-component-infobox-bordercolor:$free-speech-aquamarine-color;  
$contact-component-infobox-h6color:$free-speech-aquamarine-color;  
$contact-component-infobox-pcolor:$free-speech-aquamarine-color;  
$contact-component-fields-textareabordercolor:$grey;  
$contact-component-fields-textareainvalidcolor:$input-invalid-color;  
$contact-component-fields-textareasuccesscolor:$input-success-color;  
$contact-container-contactpage-bordercolor:$white;  
$contact-container-contactpage-bgcolor:$ld-theme-gradient-blue-313;  
$contact-container-contactpage-mapcolor:$white;  
$contact-container-contactpage-textcolor:$white;  
$contact-container-speechicn-bordercolor:$white;  
$contact-container-speechicn-bgcolor:$brand-ld;  
$contact-container-formfields-bgcolor:$white;  
$contact-container-formfields-acolor:$blue-icon;  
$contact-container-contactpage-bannerbgcolor:$ld-theme-gradient-blue-135;  
$cookie-policy-bgcolor:$white;  
$cookie-policy-brandbanner-bgcolor:$ld-theme-gradient-blue-313;  
$cookie-policy-textcolor:$white;  
$cookie-policy-page-text-color:$blue-icon;  
$cookie-policy-page-text-bgcolor:$bg-grey;  
$cookie-policy-content-bgcolor:$white;  
$cookie-policy-download-doc-color:$white;  
$cookie-policy-download-doc-acolor:$white;  
$cookie-policy-keyvalue-info-table-bordercolor:$grey;  
$cookie-policy-keyvalue-info-table-bgecolor:$white;  
$cookie-policy-keyvalue-info-table-bgocolor:$bg-grey;  
$deposit-limit-pcolor:$brand-ld;  
$deposit-limit-status-color:$steel-blue;  
$deposit-limit-status-bgcolor:$infoBoxBorderColor-aquaBlue;  
$deposit-limit-status-bordercolor:$infoBoxBgColor-aquaBlue;  
$deposit-limit-input-checked-bgcolor:$checkbox-checked-bgcolor;  
$deposit-limit-input-checked-color:$white;  
$deposit-limit-alert-info-box-bgcolor:$infoBoxBgColor-honey;  
$deposit-limit-alert-info-box-bordercolor:$infoBoxBorderColor-honey;  
$deposit-limit-alert-info-box-iconcolor:$infoBoxTextColor-honey;  
$deposit-limit-alert-info-box-texth6color:$infoBoxTextColor-honey;  
$deposit-limit-alert-info-box-timercolor:$infoBoxTextColor-honey;  
$deposit-limit-cancel-session-btn-bgcolor:$button-disabled;  
$deposit-limit-cancel-session-btn-color:$brand-ld;  
$deposit-limit-modal-bgcolor:$white;  
$deposit-limit-set-limit-updated-btnbordercolor:$green;  
$deposit-limit-set-limit-updated-btncolor:$green;  
$deposit-limit-set-limit-updated-btnbgcolor:$white;  
$deposit-limit-limit-and-realitycheck-color:$bg-grey;  
$faq-bgcolor:$white;  
$faq-brandbanner-bgcolor:$ld-theme-gradient-blue-313;  
$faq-textcolor:$white;  
$faq-page-span-color:$blue-icon;  
$faq-category-tabs-licolor:$bg-grey;  
$faq-category-tabicon-color:$white;  
$faq-category-tabtext-color:$brand-ld;  
$faq-category-tabactive-bgcolor:$brand-ld;  
$faq-category-tabactivetext-color:$white;  
$faq-category-accordionBox-color:$bg-grey;  
$footer-short-terms-links-bgcolor:$bg-grey;  
$footer-short-terms-links-acolor:$brand-ld;  
$footer-terms-links-bgcolor:$bg-secondary;  
$forgotpassword-inner-container-bgcolor:$white;  
$forgotpassword-info-box-bgcolor:$clear-day-color;  
$forgotpassword-info-box-bordercolor:$free-speech-aquamarine-color;  
$forgotpassword-footer-links-bgcolor:$bg-grey;  
$forgotpassword-inner-container-box-shadow:$card-box-shadow;  
$gaming-reality-check-pcolor:$brand-ld;  
$home-banner-mask-overlay-color:$white;  
$home-banner-content-lottery-info-color:$white;  
$home-banner-content-lottery-info-timer-ulcolor:$brand-ld;  
$home-popular-lottery-details-h3color:$white;  
$home-banner-card-hold-bgcolor:$white;  
$home-banner-card-hold-1childcolor:$header-blue;  
$home-banner-card-hold-2childcolor:$brand-ld;  
$home-banner-card-hold-footerbgcolor:$yellow;  
$home-banner-card-hold-footercolor:$black;  
$home-section-ld-security-bgcolor:$white;  
$home-section-ld-security-bordertopcolor:$white;  
$home-section-ld-winner-stories-bgcolor:$white;  
$home-section-ld-newsletter-input-color:$input-text-base-color;  
$home-section-ld-newsletter-btn-special-bgcolor:$pink;  
$home-section-ld-newsletter-btn-special-color:$white;  
$home-lottery-info-h1color:$white;  
$home-lottery-info-timercolor:$white;  
$home-lottery-info-bottom-curve-color:$bg-grey;  
$latest-results-bgcolor:$white;  
$latest-results-header-bgcolor:$brand-ld;  
$latest-results-text-container-color:$white;  
$latest-results-down-arrow-borderbottomcolor:$bg-grey;  
$latest-results-down-arrow-brcolor:$white;  
$sorting-desktop-bgcolor:$white;  
$sorting-desktop-empty-gap-bgcolor:$bg-grey;  
$sorting-desktop-no-fill-iconcolor:$inactive-grey;  
$sorting-desktop-no-fill-iconactivecolor:$btn-secondary-bg;  
$home-check-results-color:$white;  
$lottery-numbers-number-color:$white;  
$lottery-numbers-number-bgcolor:$OzLotto-num-color;  
$lottery-btn-bgcolor:$green;  
$lottery-btn-color:$white;  
$lottery-btn-bordercolor:$green;  
$login-innerbox-bgcolor:$white;  
$login-innerbox-shadowcolor:$card-box-shadow;  
$login-title-color:$white;  
$login-header-arrow-bgcolor:$pink-gradient-48;  
$login-borderbottom-color:$white;  
$login-form-bgcolor:$white;  
$login-text-anchorcolor:$blue-icon;  
$section-form-headerrow-bgcolor:$white;  
$section-form-winnertext-bgcolor:$brand-ld;  
$section-form-btnreplay-bgcolor:$button-primary;  
$section-form-btnreplay-color:$white;  
$section-form-btndisabled-bgcolor:$button-additional;  
$section-form-btndisabled-color:$white;  
$section-form-skewheader-bgcolor:$brand-ld;  
$section-form-textcontainer-color:$white;  
$section-form-winner-tropy-bgcolor:$pink-gradient-48;  
$section-form-downarrow-borderbottomcolor:$white;  
$section-form-downarrow-brcolor:$white;  
$section-form-content-bgcolor:$white;  
$section-form-win-summary-color:$brand-ld;  
$section-form-numberlist-bgcolor:$bg-grey;  
$section-form-winningrow-bgcolor:$white;  
$section-form-prize-title-color:$brand-ld;  
$section-form-number-default-bgcolor:$bg-grey;  
$section-form-number-default-color:$grey;  
$section-form-winsummaryholder-borderbottomcolor:$border-colors;  
$section-form-wrapper-box-bgcolor:$white;  
$lottery-more-info-headerrow-bgcolor:$white;  
$lottery-more-info-headerbg-bgcolor:$brand-ld;  
$lottery-more-info-text-container-color:$white;  
$lottery-more-info-down-arrow-borderbottomcolor:$white;  
$lottery-more-info-btn-color:$brand-ld;  
$lottery-more-info-btn-bgcolor:$white;  
$lottery-more-info-btn-bordercolor:$grey;  
$lottery-more-info-btnhover-color:$white;  
$lottery-more-info-btnhover-bgcolor:$button-secondary;  
$lottery-more-info-btnhover-bordercolor:$button-secondary;  
$lottery-more-info-content-bgcolor:$white;  
$lottery-more-info-lottery-title-color:$brand-ld;  
$lottery-more-info-winning-numbers-color:$bg-grey;  
$lottery-bet-info-table-bordercolor:$grey;  
$lottery-bet-info-table-trbgecolor:$white;  
$lottery-bet-info-table-trbgocolor:$bg-grey;  
$lottery-bet-info-prize-breakdown-acolor:$menu-active-hover;  
$lottery-result-lottery-details-h6color:$brand-ld;  
$lottery-result-draw-details-h3color:$brand-ld;  
$lottery-result-btw-hover-bgcolor:$btn-default-color;  
$lottery-result-btw-hover-color:$white;  
$lottery-result-btw-disabled-color:$btn-disabled-color;  
$lottery-result-btw-replay-bgcolor:$button-primary;  
$lottery-result-btw-replay-color:$white;  
$myaccount-headerrow-bgcolor:$white;  
$myaccount-btn-color:$brand-ld;  
$myaccount-btn-bgcolor:$white;  
$myaccount-btn-bordercolor:$grey;  
$myaccount-btn-hover-bgcolor:$button-secondary;  
$myaccount-btn-hover-color:$white;  
$myaccount-btn-hover-bordercolor:$button-secondary;  
$myaccount-down-arrow-borderbtncolor:$bg-grey;  
$selection-container-headerbg-h1color:$white;  
$selection-container-drawdetails-color:$white;  
$selection-container-downarrow-borderbottomcolor:$white;  
$selection-container-infobox-bgcolor:$info-color;  
$selection-container-infobox-bordercolor:$info-color;  
$selection-container-infobox-color:$white;  
$selection-container-stepsrow-icolor:$grey;  
$selection-container-stepsindicator-bgcolor:$brand-ld;  
$selection-container-stepsindicator-color:$white;  
$selection-container-label-color:$brand-ld;  
$selection-container-label-bgcolor:$white;  
$selection-container-input-color:$brand-ld;  
$selection-container-input-befourcolor:$white;  
$selection-container-input-bordercolor:$number-of-draw-color;  
$selection-container-input-bgcolor:$number-of-draw-color;  
$selection-ckbox-label-color:$brand-ld;  
$selection-ckbox-label-bgcolor:$bg-grey;  
$selection-input-ckbox-label-bgcolor:$button-secondary;  
$selection-input-ckbox-label-color:$white;  
$selection-input-ckbox-label-beforbgcolor:$white;  
$selection-input-ckbox-label-beforcolor:$button-secondary;  
$selection-input-ckbox-label-beforbordercolor:$button-secondary;  
$selection-discount-tag-bgcolor:$yellow;  
$selection-discount-tag-aftercolor:$black;  
$selection-discount-tag-orcolor:$base-blue;  
$selection-discount-tag-orbgcolor:$base-blue;  
$selection-lottery-type-bgcolor:$brand-ld;  
$selection-draw-time-info-texth1color:$brand-ld;  
$selection-draw-time-info-texth2color:$blue-icon;  
$selection-tabs-bgcolor:$bg-grey;  
$selection-tabs-hoverbgcolor:$white;  
$selection-shape-fill-color:$white;  
$selection-tabs-content-bgcolor:$white;  
$selection-tabs-content-show-numbers-color:$blue-icon;  
$selection-tabs-content-show-numbers-borderbottomcolor:#5c95ff;  
$selection-tabs-purchase-summary-borderbottomcolor:$white;
$selection-tabs-purchase-summary-title-color:$brand-ld;  
$selection-bonus-bordercolor:$btn-default-color;  
$selection-bonus-bgcolor:$bonus-applied-bg-color;  
$selection-bonus-svgcolor:$green;  
$selection-bonus-svgstrokecolor:$btn-default-color;  
$selection-total-amt-btcolor:$grey;  
$section-tabs-orcolor:$form-text;  
$selection-type-bgcolor:$white;  
$selection-standard-tab-color:$grey;  
$selection-linebottom-btcolor:$grey;  
$selection-psbg-bgcolor:$white;  
$reg-form-bgcolor:$white;  
$reg-top-headingcolor:$white;  
$reg-anchor-active-bgcolor:$brand-ld;  
$reg-anchor-active-color:$white;  
$reg-anchor-success-bgcolor:$green;  
$reg-anchor-success-color:$white;  
$reg-password-meter-color:$input-placeholder-color;  
$reg-dob-color:$form-placeholder;  
$reg-label-bgcolor:$checkbox-unchecked-bgcolor;  
$reg-label-bordercolor:$checkbox-unchecked-borderColor;  
$reg-text-color:$brand-ld;  
$reg-paragraph-color:$brand-ld;  
$reg-paragraph-a-color:$blue-icon;  
$reg-input-checked-bgcolor:$checkbox-checked-bgcolor;  
$reg-input-checked-bordercolor:$checkbox-checked-bgcolor;  
$reg-input-checked-color:$white;  
$reg-mobile-div-color:$base-blue;  
$reg-otp-code-acolor:$header-blue;  
$reg-input-bgcolor:$bg-grey;  
$reg-input-color:$brand-ld;  
$reg-input-border-color:$input-invalid-color;  
$reg-gender-tab-input-bgcolor:$button-secondary;  
$reg-gender-tab-input-color:$white;  
$reg-gender-tab-label-bordercolor:$border-colors;  
$payment-container-show-small-bgcolor:$bg-grey;  
$payment-container-text-no-withdraw-bgcolor:$white;  
$payment-container-type-tabs-bgcolor:$bg-grey;  
$payment-container-text-h6color:$grey;  
$payment-container-a-h5color:$white;  
$payment-active-arrow-brcolor:$white;  
$payment-payment-type-content-bgcolor:$white;  
$payment-cashier-back-btcolor:$bg-grey;  
$payment-quick-pick-amount-inputbgcolor:$checkbox-checked-bgcolor;  
$payment-quick-pick-amount-inputcolor:$white;  
$payment-label-bordercolor:$grey;  
$payment-add-new-card-color:$blue-icon;  
$payment-add-new-card-borderbottomcolor:$blue-icon;  
$payment-info-box-bgcolor:$bg-grey;  
$payment-info-box-bordercolor:$bg-grey;  
$payment-back-to-cards-color:$brand-ld;  
$payment-back-to-cards-btcolor:$bg-grey;  
$payment-type-tabs-bgcolor:$white;  
$payment-type-tabs-borderbottomcolor:$bg-grey;  
$payment-anchortext-color:$brand-ld;  
$payment-amount-color:$white;  
$withdraw-funds-show-small-bgcolor:$bg-grey;  
$withdraw-funds-type-tabs-libgcolor:$bg-grey;  
$withdraw-funds-text-h6color:$grey;  
$withdraw-funds-anchortext-h5color:$white;  
$withdraw-funds-activearrow-brcolor:$white;  
$withdraw-type-content-bgcolor:$white;  
$withdraw-type-cashier-back-btcolor:$bg-grey;  
$withdraw-quick-pick-amount-checked-bgcolor:$checkbox-checked-bgcolor;  
$withdraw-quick-pick-amount-checked-color:$white;  
$withdraw-label-bordercolor:$grey;  
$withdraw-add-new-card-color:$blue-icon;  
$withdraw-add-new-card-borderbottomcolor:$blue-icon;  
$withdraw-info-box-bgcolor:$bg-grey;  
$withdraw-info-box-bordercolor:$grey;  
$withdraw-funds-li-bgcolor:$white;  
$withdraw-funds-li-borderbottomcolor:$bg-grey;  
$withdraw-funds-text-h5color:$brand-ld;  
$withdraw-funds-anchor-color:$brand-ld;  
$withdraw-funds-amount-color:$white;  
$myresults-header-row-bgcolor:$white;  
$myresults-skew-header-down-arrow-borderbottomcolor:$bg-grey;  
$myresults-lottery-details-texth6-color:$brand-ld;  
$myresults-draw-details-h3color:$brand-ld;  
$myresults-btn-bgcolor:$btn-default-color;  
$myresults-btn-color:$white;  
$myresults-btn-bgicolor:$btn-disabled-color;  
$myresults-btnreply-bgcolor:$button-primary;  
$myresults-btnreply-color:$white;  
$myresults-btnreply-icolor:$white;  
$myresults-emptycartbag-carticon-bgcolor:$white;  
$myresults-emptycartbag-carticon-color:$bg-grey;  
$myresults-emptycartbag-paragraph-color:$brand-ld;  
$myresults-sectionmyresults-btn-bordercolor:$grey;  
$myresults-sectionmyresults-btn-bgcolor:$white;  
$myresults-sectionmyresults-btn-color:$button-secondary;  
$myresults-sectionmyresults-btnhover-bordercolor:$button-secondary;  
$myresults-sectionmyresults-btnhover-bgcolor:$button-secondary;  
$myresults-sectionmyresults-btnhover-color:$white;  
$myresults-sectionmyresults-btngrp-bgcolor:$bg-secondary;  
$myresults-sectionmyresults-btndis-color:$btn-disabled-color;  
$myresults-sectionmyresults-btndis-bordercolor:$btn-disabled-border;  
$myresults-sectionmyresults-btndis-bgcolor:$btn-disabled-bg;  
$myresults-otherlotteries-arrowtop-bordercolor:$white;  
$selected-numbers-linenumberedit-color:$brand-ld;  
$selected-numbers-numbercontainerp-color:$white;  
$selected-numbers-numberroweditchoosen-bordercolor:$brand-ld;  
$selected-numbers-numberrow-bgcolor:$bg-grey;  
$selected-numbers-numberrowselected-bgcolor:$yellow-dark;  
$selected-numbers-numberrowselected-color:$brand-ld;  
$selected-numbers-numberrowselectedsplnum-bgcolor:$brand-ld;  
$selected-numbers-numberrowselectedsplnum-color:$white;  
$selected-numbers-numberrowselectedbtn-bordercolor:$button-secondary;  
$selected-numbers-numberrowselectedbtn-color:$button-secondary;  
$selected-numbers-numberrowselectedbtn-bgcolor:$white;  
$selected-numbers-numberrowselectedbtn2-bgcolor:$button-secondary;  
$selected-numbers-numberrowselectedbtn2-color:$white;  
$selected-numbers-numberselected-bgcolor:$white;  
$selected-numbers-header-color:$white;  
$selected-numbers-button-bordercolor:$grey;  
$selected-numbers-button-bgcolor:$bg-grey;  
$selected-numbers-button-color:$brand-ld;  
$selected-numbers-btnsec-bordercolor:$button-secondary;  
$page-loader-box-bgcolor:$boxcolor;  
$page-loader-box-percent-color:$percentColor;  
$page-loader-box-water-bordercolor:$waterbordercolor;  
$page-loader-box-water-fcolor:$waterFColor;  
$payment-container-bgcolor:$white;  
$cart-summary-bgcolor:$bg-grey;  
$card-sumary-title-borderbottomcolor:$grey;  
$card-list-color:$white;  
$ticket-card-list-bgcolor:$white;  
$ticket-card-list-bscolor:$card-box-shadow;  
$draw-info-color:$blue-icon;  
$draw-info-borderbottomcolor:$blue-icon;  
$total-amount-borderbottomcolor:$grey;  
$amount-color:$white;  
$section-payment-show-small-color:$bg-grey;  
$section-payment-header-row-da-borderbottomcolor:$bg-grey;  
$section-payment-header-row-daw-borderbottomcolor:$white;  
$payment-methods-payment-info-box-bgcolor:$infoBoxBorderColor-aquaBlue;  
$payment-methods-payment-info-box-bordercolor:$infoBoxBgColor-aquaBlue;  
$payment-methods-text-color:$shakespeare;  
$payment-methods-text-h6color:$steel-blue;  
$payment-methods-savedcc-bordercolor:$bg-grey;  
$payment-methods-savedcc-color:$blue-icon;  
$payment-methods-savedcc-bgcolor:$white;
$payment-methods-addpayment-borderbottomcolor:$blue-icon;  
$payment-methods-media-addpayment-borderbottomcolor:$blue-icon;  
$payment-methods-savedcc-expirydatecolor:$bg-grey;  
$payment-methods-addpayment-color:$brand-ld;  
$preference-center-label-bgcolor:$checkbox-unchecked-bgcolor;  
$preference-center-label-bordercolor:$checkbox-unchecked-borderColor;  
$preference-center-text-bordercolor:$brand-ld;  
$preference-center-inputchecked-bordercolor:$checkbox-checked-bgcolor;  
$preference-center-inputchecked-bgcolor:$checkbox-checked-bgcolor;  
$registration-container-bgcolor:$pale-yellow;  
$registration-container-img-color:$white;  
$responsible-gaming-pcolor:$brand-ld;  
$responsible-gaming-colcolor:$bg-grey;  
$responsible-gaming-setlimitbox-bgcolor:$white;  
$responsible-gaming-setlimitbox-btnbordercolor:$button-primary;  
$responsible-gaming-setlimitbox-btncolor:$button-primary;  
$responsible-gaming-setlimitbox-btnbgcolor:$white;  
$syndicate-headerrow-downarrow-bordercolor:$bg-grey;  
$syndicate-headerrow-downarrow-borderbottomcolor:$bg-grey;  
$syndicate-cardgrid-card-bgcolor:$white;  
$syndicate-cardgrid-card-bscolor:$card-box-shadow;  
$syndicate-lotterycard-cardgrid-card-bgcolor:$card-background-color;  
$syndicate-shapefill-bordercolor:$white;  
$syndicate-shapefill-icon-bordercolor:$white;  
$syndicate-betsharegroup-bgcolor:$spinner-bg-color;  
$syndicate-betsharegroup-btn-bgcolor:$spin-circle-color;  
$syndicate-betsharegroup-btn-color:$white;  
$syndicate-opacq-input-color:$brand-ld;  
$syndicate-card-borderbottomcolor:$white;  
$syndicate-share-ordercounterholde-bgcolor:$spinner-bg-color;  
$syndicate-share-ordercounterholde-btn-bgcolor:$spin-circle-color;  
$syndicate-share-ordercounterholde-btn-color:$white;  
$syndicate-share-opacq-input-color:$brand-ld;  
$ticketselectiontype-bgcolor:$white;  
$ticketselection-helpicon-icolor:$grey;  
$ticketselection-line-bordercolor:$border-colors;  
$ticketselectiontype-drawdetails-color:$white;  
$ticketselectiontype-downarrow-borderbottomcolor:$white;  
$ticketselectiontype-textcontent-color:$brand-ld;  
$ticketselectiontype-textcontent-navtab-bgcolor:$bg-grey;  
$ticketsuggestions-card-bordercolor:$grey;  
$ticketsuggestions-cardhighlight-bgcolor:$yellow;  
$ticketsuggestions-cardlotterydetails-h6color:$brand-ld;  
$ticketsuggestions-ordercounterholder-bgcolor:$spinner-bg-color;  
$ticketsuggestions-ordercounterholderbtn-bgcolor:$spin-circle-color;  
$ticketsuggestions-ordercounterholderbtn-color:$white;  
$ticketsuggestions-opacqinput-color:$brand-ld;  
$ticketsuggestions-paydetails-headercolor:$brand-ld;  
$ticketsuggestions-paydetails-btncolor:$grey;  
$ticketsuggestions-paydetails-btnhovercolor:$brand-ld;  
$ticketsuggestions-cartsuggestionbtn-color:$white;  
$resetpasswordform-innercontainer-bgcolor:$white;  
$resetpasswordform-textinfobox-bgcolor:$clear-day-color;  
$resetpasswordform-textinfobox-bordercolor:$free-speech-aquamarine-color;  
$resetpasswordform-textinfobox-pcolor:$free-speech-aquamarine-color;  
$resetpasswordform-footerlinks-bordertopcolor:$bg-grey;  
$resetpasswordform-boxshadow-color:$card-box-shadow;  
$privacy-policy-bgcolor:$white;  
$privacy-policy-brandbannercolor:$ld-theme-gradient-blue-313;  
$privacy-policy-text-color:$white;  
$privacy-policy-pagetext-color:$blue-icon;  
$privacy-policy-pagetext-bgcolor:$bg-grey;  
$privacy-policy-content-bgcolor:$white;  
$privacy-policy-downloaddoc-color:$white;  
$terms-conditions-bgcolor:$white;  
$terms-conditions-brandbanner-bgcolor:$ld-theme-gradient-blue-313;  
$terms-conditions-text-color:$white;  
$terms-conditions-pagetext-btncolor:$blue-icon;  
$terms-conditions-pagetext-btnbgcolor:$bg-grey;  
$terms-conditions-content-bgcolor:$white;  
$terms-conditions-downloaddoc-color:$white;  
$terms-conditions-keyvalueinfotable-bordercolor:$grey;  
$terms-conditions-tabletreven-bgcolor:$white;  
$terms-conditions-tabletrodd-bgcolor:$bg-grey;  
$syndicate-selection-ordercounterholder-bgcolor:$spinner-bg-color;  
$syndicate-selection-ordercounterholder-btn-bgcolor:$spin-circle-color;  
$syndicate-selection-ordercounterholder-btn-color:$white;  
$syndicate-selection-opacqinput-color:$brand-ld;  
$blocked-country-alert-msg-bgcolor:$infoBoxBgColor-honey;  
$blocked-country-alert-msg-bordercolor:$infoBoxBorderColor-honey;  
$blocked-country-alert-msg-color:$infoBoxTextColor-honey;  
$cookies-msg-bgcolor:$yellow;  
$cookies-msg-pcolor:$black;  
$confirm-identity-bgcolor:$white;  
$confirm-identity-bgh3color:$bg-grey;  
$confirm-identity-h3color:$grey;  
$confirm-identity-h3activecolor:$brand-ld;  
$confirm-identity-h3activecompletedstepcolor:$green;  
$confirm-identity-h3completedstepbeforecolor:$grey;  
$confirm-identity-id-proof-type-iconcolor:$green;  
$confirm-identity-ld-ckbox-bglabelaftercolor:$checkbox-unchecked-bgcolor;  
$confirm-identity-ld-ckbox-labelafterbordercolor:$checkbox-unchecked-borderColor;  
$confirm-identity-ld-ckbox-labeltextcolor:$brand-ld;  
$confirm-identity-ld-ckbox-labeltextpcolor:$brand-ld;  
$confirm-identity-ld-ckbox-inputcheckedlabelbeforecolor:$white;  
$confirm-identity-ld-ckbox-inputcheckedlabelbeforebordercolor:$checkbox-checked-bgcolor;  
$confirm-identity-ld-ckbox-inputcheckedlabelbeforebgcolor:$checkbox-checked-bgcolor;  
$header-comp-bgcolor:$white;  
$header-comp-bordercolor:$light-blue;  
$header-comp-color:$base-blue;  
$header-comp-homelang-dropdown-togglecolor:$brand-ld;  
$header-comp-homelang-lang-circle-boxshadow-color:$brand-ld;  
$header-comp-deviceheader-bgcolor:$pink-gradient-48;  
$header-comp-homelang-lang-circle-bgcolor:$white;  
$header-comp-homelang-dropdown-bgcolor:$brand-ld;  
$header-comp-homelang-dropdown-before-borderrgbcolor:$seagull;  
$header-comp-homelang-dropdown-borderbottomcolor:$toreabay;  
$header-comp-homelang-dropdown-li-a-color:$white;  
$header-comp-homelang-dropdown-li-a-span-color:$blue-icon;  
$header-comp-home-a-color:$brand-ld;  
$header-comp-ul-li-color:$white;  
$header-comp-ul-li-badget-holder-badget-bgcolor:$golden-yellow;  
$header-comp-ul-li-badget-holder-badget-color:$deep-koamaru;  
$header-comp-ul-li-h1-svg-fill-color:$white;  
$header-comp-ul-li-h1-svg-color:$white;  
$header-comp-ul-li-h1-span-color:$white;  
$header-comp-ul-li-a-color:$white;  
$header-comp-ul-li-firstchild-bgcolor:$white;  
$header-comp-ul-li-firstchild-color:$brand-ld;  
$header-comp-head-nav-ul-links-after-border-color:$bg-grey;  
$header-comp-ul-li-firstchild-borderbotcolor:$light-blue;  
$header-comp-ul-li-firstchild-h1-svg-fill-color:$brand-ld;  
$header-comp-ul-li-firstchild-h1-icon--color:$brand-ld;  
$header-comp-ul-li-firstchild-h1-span-color:$brand-ld;  
$header-comp-ul-li-firstchild-a-color:$brand-ld;  
$header-comp-ul-li-arrow_box-borderleftcolor:$white;  
$header-comp-head-bg-bal-bgcolor:$white;  
$header-comp-head-nav-bgcolor:$white;  
$header-comp-head-nav-ul-links-color:$menu-active-hover;  
$header-comp-head-nav-ul-links-after-border-colors:$bg-grey;  
$header-comp-head-nav-ld-overlay-bgcolor:$black;  
$header-comp-head-nav-white-bgcolor:$white;  
$header-comp-head-nav-ld-menu-selectedbordercolor:$content-bg-color;  
$header-comp-head-nav-ld-menu-links-color:$menu-active-hover;  
$header-comp-head-nav-ld-menu-dropdownbgcolor:$bg-grey;  
$header-comp-head-nav-ld-menu-dropdownbordercolor:$light-grey;  
$header-comp-ld-overlay-lottery-list-color:$small-anchors;  
$lottery-overview-bgcolor:$white;  
$lottery-overview-before-bordercolor:$white;  
$lottery-overview-table-bordercolor:$border-colors;  
$lottery-overview-table-th-bgcolor:$table-head-color;  
$my-transactions-content-bgcolor:$white;  
$my-transactions-content-h3color:$brand-ld;  
$my-transactions-content-paracolor:$brand-ld;  
$my-transactions-content-leftsectionbgcolor:$bg-grey;  
$my-transactions-table-content-bgcolor:$white;  
$my-transactions-table-content-thead-bgcolor:$base-blue;  
$my-transactions-table-content-thead-titlecolor:$white;  
$my-transactions-table-content-tbody-bordercolor:$bg-grey;  
$my-transactions-table-content-tbody-gdate-bgcolor:$bg-grey;  
$my-transactions-table-content-tbody-h3-color:$menu-active-hover;  
$my-transactions-table-content-button-bgcolor:$button-secondary;  
$my-transactions-table-content-button-color:$white;  
$my-transactions-table-content-button-bordercolor:$button-secondary;  
$my-transactions-accordionRow-bgcolor:$white;  
$my-transactions-accordionHeadline-h1-bgcolor:$brand-ld;  
$my-transactions-btn-disabled-color:$btn-disabled-color;  
$my-transactions-btn-disabled-bg:$btn-disabled-bg;  
$my-transactions-btn-disabled-border:$btn-disabled-border;  
$order-confirm-header-row-bgcolor:$white;  
$order-confirm-alert-infobox-container-bgcolor:$infoBoxBgColor-honey;  
$order-confirm-alert-infobox-container-bordercolor:$infoBoxBorderColor-honey;  
$order-confirm-alert-infobox-container-textcolor:$infoBoxTextColor-honey;  
$order-confirm-failure-purchases-bgcolor:$white;  
$order-confirm-failure-purchases-inner-bgcolor:$white-smoke;  
$order-confirm-failure-purchases-msg-color:$input-invalid-color;  
$order-confirm-content-bgcolor:$white;  
$order-confirm-orderid-color:$anchor-color;  
$order-confirm-card-innercard-bgcolor:$white;  
$order-confirm-lottery-details-h6-bgcolor:$brand-ld;  
$order-confirm-draw-details-h3-color:$brand-ld;  
$order-confirm-order-id-color:$blue-icon;  
$order-confirm-btn-details-hovercolor:$button-primary;  
$order-confirm-btn-details-hoverbgcolor:$button-primary;  
$order-confirm-btn-details-hoverbordercolor:$button-primary;  
$order-confirm-headerrowsuccess-bgcolor:$bg-grey;  
$prize-money-levels-bordercolor:$border-colors;  
$prizemoneylevels-headerrowbgcolor:$bg-grey;  
$prize-money-text-prize-row-even:$white;  
$prize-money-text-prize-row-odd:$bg-grey;  
$lotto-betting-bgcolor:$white;  
$lotto-betting-text-color:$white;  
$lotto-betting-brandbanner-bgcolor:$ld-theme-gradient-blue-313;  
$choose-ticket-type-bgcolor:$pink-gradient-135deg;  
$choose-ticket-type-tabnav-color:$brand-ld;  
$choose-ticket-type-tabnav-bgcolor:$bg-grey;  
$choose-ticket-type-tabnav-active-bgcolor:$white;  
$choose-ticket-type-tab-content-color:$white;  
$UKThunderBall-num-color:#E232D1;  
$UKLotto-num-color:#216FFA;  
$EuroMillionsUK-num-color:#47B9FC;  
$Tatts-num-color:#4BAC91;  
$CaliforniaSuperLotto-num-color:#F6AC00;  
$SuperEnaLotto-num-color:#2FA927;  
$PowerBall-num-color:#216FFA;  
$NewYorkLotto-num-color:#4699FD;  
$MegaSena-num-color:#FAC400;  
$MegaMillions-num-color:#B81924;  
$IrishLotto-num-color:#BDDD00;  
$FrenchLotto-num-color:#D60423;  
$Lotto649-num-color:#216FFA;  
$LoteriaNacional-num-color:#00B5F1;  
$LaPrimitiva-num-color:#33AA6C;  
$HotLotto-num-color:#E38636;  
$HoosierLotto-num-color:#F4AA9A;  
$FloridaLotto-num-color:#027562;  
$EuroMillions-num-color:#4699FD;  
$EuroJackpot-num-color:#F3D900;  
$ElGordo-num-color:#D61E41;  
$PowerballAustralia-num-color:#6976A8;  
$BonoLotto-num-color:#02572A;  
$UKThunderBall-num-color-spl:darken(#550094,15%);  
$UKLotto-num-color-spl:darken(#141414,15%);  
$EuroMillionsUK-num-color-spl:darken(#f61f29,15%);  
$BonoLotto-num-color-spl:darken(#ec1c24,15%);  
$PowerballAustralia-num-color-spl:darken(#262626,15%);  
$ElGordo-num-color-spl:darken(#262626,15%);  
$EuroJackpot-num-color-spl:darken(#061b72,15%);  
$EuroMillions-num-color-spl:darken(#061b72,15%);  
$FloridaLotto-num-color-spl:darken(#eb0c6d,15%);  
$HoosierLotto-num-color-spl:darken(#db0330,15%);  
$HotLotto-num-color-spl:darken(#ec1c24,15%);  
$LaPrimitiva-num-color-spl:darken(#262626,15%);  
$LoteriaNacional-num-color-spl:darken(#0a3e94,15%);  
$Lotto649-num-color-spl:darken(#dd0b1b,15%);  
$FrenchLotto-num-color-spl:darken(#0a3e94,15%);  
$NewYorkLotto-num-color-spl:darken(#f61f29,15%);  
$MegaSena-num-color-spl:darken(#004b23,15%);  
$MegaMillions-num-color-spl:darken(#0755aa,15%);  
$IrishLotto-num-color-spl:darken(#fc7b00,15%);  
$OzLotto-num-color-spl:darken(#00924F,15%);  
$CaliforniaSuperLotto-num-color-spl:darken(#18499a,15%);  
$PowerBall-num-color-spl:darken(#f61f29,15%);  
$SuperEnaLotto-num-color-spl:darken(#f61f29,15%); 
$app-component-bg-color:$white;  
$appcomponent-alertinfobox-bgcolor:$infoBoxBgColor-honey;  
$appcomponent-alertinfobox-bordercolor:$infoBoxBorderColor-honey;  
$appcomponent-alertinfobox-iconcolor:$infoBoxTextColor-honey;  
$appcomponent-alertinfobox-h6color:$infoBoxTextColor-honey;  
$appcomponent-sessionexpiryoptions-libgcolor:$white;  
$appcomponent-sessionexpiryoptions-liborderbottomcolor:$bg-grey;  
$appcomponent-sessionexpiryoptions-bgcolor:$ld-theme-gradient-pink;  
$appcomponent-sessionexpiryoptions-listed-bgcolor:$white;  
$appcomponent-sessionexpiryoptions-listed-borderbottomcolor:$bg-grey;  
$appcomponent-sessionexpiryoptions-listed-header5-color:$brand-ld;  
$appcomponent-sessionexpiryoptions-listed-header6-color:$grey;  
$appcomponent-sessionexpiryoptions-listed-ahchor-color:$brand-ld;  
$solid-UKThunderBall-color:#5E3790;  
$solid-UKLotto-color:#082572;  
$solid-SuperEnaLotto-color:#038448;  
$solid-OzLotto-color:#038448;  
$solid-NewYorkLotto-color:#061438;  
$solid-MegaSena-color:#005529;  
$solid-Lotto649-color:#004696;  
$solid-IrishLotto-color:#2B9935;  
$solid-HotLotto-color:#CA2D00;  
$solid-HoosierLotto-color:#B2333D;  
$solid-FrenchLotto-color:#1761C7;  
$solid-FloridaLotto-color:#FF9900;  
$solid-EuroMillions-color:#0F3791;  
$solid-EuroJackpot-color:#975703;  
$solid-CaliforniaSuperLotto-color:#E35700;  
$solid-PowerBall-color:#082572;  
$solid-ElGordo-color:#6D0101;  
$solid-EuroMillionsUK-color:#5146AF;  
$solid-MegaMillions-color:#082572;  
$solid-PowerballAustralia-color:#122158;  
$solid-LaPrimitiva-color:#086F3A;  
$solid-LoteriaNacional-color:#1761C7;  
$solid-BonoLotto-color:#005529;  
$solid-Tatts-color:#32A38F;  
$lotttery-UKThunderBall-b-color:#9B72D8;  
$lotttery-UKThunderBall-m-color:#9B72D8;  
$lotttery-UKThunderBall-e-color:#5E3790;  
$lotttery-UKLotto-b-color:#4C8CF2;  
$lotttery-UKLotto-m-color:#4C8CF2;  
$lotttery-UKLotto-e-color:#082572;  
$lotttery-SuperEnaLotto-b-color:#63BF0C;  
$lotttery-SuperEnaLotto-m-color:#63BF0C;  
$lotttery-SuperEnaLotto-e-color:#038448;  
$lotttery-OzLotto-b-color:#63BF0C;  
$lotttery-OzLotto-m-color:#63BF0C;  
$lotttery-OzLotto-e-color:#038448;  
$lotttery-NewYorkLotto-b-color:#4979C5;  
$lotttery-NewYorkLotto-m-color:#4979C5;  
$lotttery-NewYorkLotto-e-color:#061438;  
$lotttery-MegaSena-b-color:#038448;  
$lotttery-MegaSena-m-color:#038448;  
$lotttery-MegaSena-e-color:#005529;  
$lotttery-Lotto649-b-color:#3D9FD6;  
$lotttery-Lotto649-m-color:#3D9FD6;  
$lotttery-Lotto649-e-color:#004696;  
$lotttery-IrishLotto-b-color:#2B9935;  
$lotttery-IrishLotto-m-color:#46AE21;  
$lotttery-IrishLotto-e-color:#2B9935;  
$lotttery-HotLotto-b-color:#FBBF00;  
$lotttery-HotLotto-m-color:#FBBF00;  
$lotttery-HotLotto-e-color:#CA2D00;  
$lotttery-HoosierLotto-b-color:#F0A89F;  
$lotttery-HoosierLotto-m-color:#F0A89F;  
$lotttery-HoosierLotto-e-color:#B2333D;  
$lotttery-FrenchLotto-b-color:#41AEEA;  
$lotttery-FrenchLotto-m-color:#41AEEA;  
$lotttery-FrenchLotto-e-color:#1761C7;  
$lotttery-FloridaLotto-b-color:#FFD100;  
$lotttery-FloridaLotto-m-color:#FFD100;  
$lotttery-FloridaLotto-e-color:#FF9900;  
$lotttery-EuroMillions-b-color:#4473D5;  
$lotttery-EuroMillions-m-color:#4473D5;  
$lotttery-EuroMillions-e-color:#0F3791;  
$lotttery-EuroJackpot-b-color:#F9CF57;  
$lotttery-EuroJackpot-m-color:#F9CF57;  
$lotttery-EuroJackpot-e-color:#975703;  
$lotttery-CaliforniaSuperLotto-b-color:#FFB441;  
$lotttery-CaliforniaSuperLotto-m-color:#FFB441;  
$lotttery-CaliforniaSuperLotto-e-color:#E35700;  
$lotttery-PowerBall-b-color:#2264CC;  
$lotttery-PowerBall-m-color:#2264CC;  
$lotttery-PowerBall-e-color:#082572;  
$lotttery-ElGordo-b-color:#E73131;  
$lotttery-ElGordo-m-color:#E73131;  
$lotttery-ElGordo-e-color:#6D0101;  
$lotttery-EuroMillionsUK-b-color:#80A3E5;  
$lotttery-EuroMillionsUK-m-color:#80A3E5;  
$lotttery-EuroMillionsUK-e-color:#5146AF;  
$lotttery-MegaMillions-b-color:#2264CC;  
$lotttery-MegaMillions-m-color:#2264CC;  
$lotttery-MegaMillions-e-color:#082572;  
$lotttery-PowerballAustralia-b-color:#8B9ACB;  
$lotttery-PowerballAustralia-m-color:#8B9ACB;  
$lotttery-PowerballAustralia-e-color:#122158;  
$lotttery-LaPrimitiva-b-color:#27A362;  
$lotttery-LaPrimitiva-m-color:#27A362;  
$lotttery-LaPrimitiva-e-color:#086F3A;  
$lotttery-LoteriaNacional-b-color:#41AEEA;  
$lotttery-LoteriaNacional-m-color:#41AEEA;
$lotttery-LoteriaNacional-e-color: #1761C7;
$lotttery-BonoLotto-b-color: #038448;
$lotttery-BonoLotto-m-color: #038448;
$lotttery-BonoLotto-e-color: #005529;
$lotttery-Tatts-b-color: #5ACEAF;
$lotttery-Tatts-m-color: #5ACEAF;
$lotttery-Tatts-e-color: #32A38F;
$Tatts-num-color-spl: darken(#18499a,15%);