<section class="maintenance-overlay">
  <div class="maintenance">
    <div class="container">
      <img src="/assets/img/bingo69-logo-white.svg" class="logo-white">
      <div class="content">
        <img alt="" src="/assets/img/maintenance.png" title="maintenance" class="centre-image">
        <h1>We’re currently undergoing some construction and we’ll be right back!</h1>
        <p>Check back soon for an exciting new Bingo69 experience!</p>
        <button class="early-bird">Early bird access</button>
        <span>Copyright Bingo69 2018. All Rights Reserved.</span>

                <img alt="" src="/assets/img/maintenance.png" title="maintenance" class="centre-image">
      </div>
    </div>
  </div>
</section>
