@import "~variables.scss";
@import "~mixins.scss";

$banner-text-color:#2F3562;

.banner {
    .curved-bg {
        display: none;
        @extend .curve-bg-shape;
    }
    position: relative;
    /*    background-size: cover;
    background:  url(/assets/img/banner.png) center center no-repeat;*/
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 10px solid $white;

    .banner-img {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .container {
        z-index: 1;
    }
    .mask-overlay {
        background: $banner-light-blue-overlay;
        width: 52%;
        height: 100.4%;
        z-index: 0;
        display: block;
        transform: skew(20deg);
        left: -6%;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        top: 0;
        border-right: 5px solid $white;
        -webkit-backface-visibility: hidden;


        @include homeBannerLotteryGradientColors;

        .right_top_cirular{
            height: 202px;
            width: 202px;
            opacity: 0.25;
            background-color: #BEE7FF;
            position: absolute;
            right: -45px;
            bottom: 13%;
            border-radius: 100%;
            -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
        }

        .left_bottom_oval{
            height: 486px;
            width: 486px;
            opacity: 0.25;
            background-color: #BEE7FF;
            position: absolute;
            left: -100px;
            bottom: -250px;
            border-radius: 100%;
            -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
            opacity: 0.35;
        }

        .right_top_oval{
            height: 435px;
            width: 435px;
            background: linear-gradient(139.55deg, #83DEFF 0%, #C9B1FF 100%);
            position: absolute;
            right: -20px;
            top: -220px;
            border-radius: 100%;
            -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
        }

    }

    .banner-content {
        position: relative;
        float: left;
        margin-top: 1.5%;
        width:45%;
        z-index: 2;
        .lottery-info {
            .amount-place-holder,
            .timer-place-holder {
                width: 100%;
                height: 30px;
                margin: 5px 0px;
                @include loaderPlaceholderAnimation;
            }
            text-align: left;
            padding: 0;
            margin: 0;
            display: inline-block;
            color: $banner-text-color;
            h1 {
                font-family: $main-primary-ef-reg;
                font-size: 36px;
                letter-spacing: -0.5px;
                font-weight: bold;
                margin: 0;
                line-height: 43px;
                color: $banner-heading-color;
                span {
                    font-size: 25px;
                }
            }
            li {
                list-style: none;

                button{
                    border: 0px;
                    width: 180px;
                    height: 60px;
                    font-size: 24px;
                    border:0px;
                    border-radius: 0px;
                    margin-top: 30px;
                    font-family: $main-primary-ef-reg;

                    @media only screen and (max-width: 991px) {
                        font-size:12.5pt;
                        width:108px;
                        border-radius:3px;
                        height: 38px;
                    }

                    @media only screen and (max-width: 767px) {
                        font-size:19.2px;
                        width:182px;
                        border-radius:0px;
                        height: 52px;
                        line-height:52px;
                        padding:0px;
                    }
                }
            }
            .logo {
                .lottery_2x {
                    margin-bottom: 20px;
                    width: 250px;
                    height: 80px;
                    @include loaderPlaceholderAnimation;
                }
            }
            .timer {
                div {
                    width: 100%;
                    font-size: 16px;
                    margin-bottom: 10px;
                    font-family: $font-primary-500;
                }
                ul {
                    background: $white;
                    padding: 2px 5px;
                    display: inline-block;
                    margin: 0 auto;
                    border-radius: 3px;
                    color: $brand-ld;
                    span {
                        display: inline-block;
                    }
                    li {
                        list-style: none;
                        display: inline-block;
                        min-width: 35px;
                        position: relative;
                        font-family: $font-secondary-Medium;
                        font-size: 20px;
                        padding: 0px 3px;
                        span:last-child {
                            display: block !important;
                            width: 100% !important;
                            font-size: 11px;
                            text-transform: uppercase;
                            font-family: $font-primary-700;
                            position: static !important;
                            margin: auto !important;
                        }
                        &:after {
                            content: ":";
                            position: absolute;
                            top: 0px;
                            left: 100%;
                            right: 0px;
                        }
                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.popular-lottery-details {
    float: right;
    display: inline-flex;
    position: relative;
    /*  background-color: rgba(0, 0, 0, 0.7);*/
    /*  padding: 0 25px 23px;*/
    border-radius: 8px;
    .btn-primary {
        padding: 15px 10px;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1;
        margin-top: 5px;
        width: 100%;
        font-family: $font-primary-700;
    }
    .banner-button-placeholder {
        width: 100%;
        height: 30px;
        margin: 5px 0px;
        @include loaderPlaceholderAnimation;
        &.animated-background {
            margin-top: 30px;
            height: 50px;
            border-radius: 4px;
        }
    }

    h3 {
        color: $white;
        font-size: 20px;
        font-family: $font-primary-500;
        font-weight: normal;
        margin: 7px 0px;
    }
    .banner-card-hold {
        margin: auto;
        display: inline-block;
        cursor: pointer;
        .banner-card {
            @include loaderPlaceholderAnimation;
            padding: 10px;
            margin: 5px 0px 0px;
            background: $white;
            border-radius: 4px;
            /*     width: 150px;*/
            width: 130px;
            display: inline-block;
            float: left;
            &.animated-background {
                height: 60px;
                margin-top: 30px;
            }
            &:first-child {
                margin-right: 25px;
            }
            li {
                list-style: none;

                &:first-child {
                    color: $header-blue;
                    font-family: $font-primary-900;
                    margin-bottom: 5px;
                    font-size: 20px;
                    line-height: 1.2;
                }
                &:nth-child(2) {
                    color: $brand-ld;
                    font-family: $font-primary-700;
                    margin-bottom: 5px;
                    font-size: 20px;
                    line-height: 1.2
                }
                &.footer {
                    background: $yellow;
                    font-size: 12px;
                    color: $black;
                    margin: 10px -10px -10px;
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                    padding: 3px;
                    font-family: $font-primary-700;
                    i {
                        font-weight: bold;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}

@import "~responsive.scss";

@media only screen and (min-width: 1680px) {
    .banner {
        .mask-overlay {
            padding-right: 3.2%;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .banner {
        .mask-overlay {
            width: 55%;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .banner {
        .mask-overlay {
            width: 56%;
            left:-7%;
        }
    }
}


@media only screen and (max-width: 1199px) {
    .banner {
        .mask-overlay {
            width: 59%;
            left: -8%;
        }
    }
}

@media only screen and (max-width: 1040px) {
    .banner {
        .mask-overlay {
            width: 60%;
            left: -9%;
        }
    }
}

@media only screen and (max-width: 992px) and (min-width :768px) {
    .banner {
        height:290px;

        .mask-overlay {
            padding-right: 40px;
            left: -12%;
        }
        .banner-content {
            margin-top: 0px;
            .lottery-info {
                h1 {
                    font-size: 24px;
                    letter-spacing: -0.24pt;
                }

                .timer {
                    ul {
                        padding: 2px;

                        li {
                            font-size: 14px;
                            padding: 0px;
                            span:last-child {
                                font-size: 9px;
                            }
                        }
                    }
                }
            }
        }
        h3 {
            font-size: 13px;
        }
        .popular-lottery-details {
            padding: 0px 20px 20px;
            background-color: rgba(0, 0, 0, 0.7);
            /*      .btn-primary {
              font-size: 16px;
              padding: 8px 10px;
            }*/
            .banner-card-hold {
                .banner-card {
                    padding: 8px;
                    width: 110px;
                    box-sizing: border-box;
                    &:first-child {
                        margin-right: 20px;
                    }
                    li {
                        &:first-child,
                            &:nth-child(2) {
                            font-size: 13px;
                            line-height: 15px;
                            margin-bottom: 0px;
                        }
                        &:nth-child(2) {}
                        &.footer {
                            font-size: 8px;
                            margin: 8px -8px -8px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        .curved-bg {
            display: block;
        }
        text-align: center;
        position:relative;
        @include homeBannerLotteryGradientColors;
        height: auto;
        padding:40px 30px 20px;  
        .container {
            padding-bottom: 1.5vw;
        }
        &.default {
            background: $white;
        }
        .mask-overlay,
        .banner-img {
            left:0;
            transform: skew(0deg);
            border-right: 0px;
            width: 100%;

            .right_top_cirular{
                transform: skew(0deg);
                right:-55px;
            }

            .left_bottom_oval{
                transform: skew(0deg);
                left: -150px;
                bottom: -310px;
            }

            .right_top_oval{
                transform: skew(0deg);
                right: 20%;
                top: -260px;
            }
        }
        .banner-content,
        .popular-lottery-details {
            float: none;
            text-align: center;
        }
        .banner-content {
            margin: 0px;
            width:100%;
            .lottery-info {
                text-align:center;

                h1 {
                    text-align: center;
                    font-size: 22pt;
                }
                .timer {
                    div {
                        color: $white;
                    }
                    .btn-primary {
                        font-size: 5vw;
                        min-width: 45%;
                        padding: 6px;
                    }
                }
            }
        }
        .popular-lottery-details {
            background-color: transparent;
            padding: 0px;
            .banner-card-hold {
                width: 100%;
                margin: auto;
                display: inline-block;
            }
        }
        .bottom-curve {
            background: blue;
            width: 100%;
            position: absolute;
            height: 60px;
            background-color: $bg-grey;
            border-radius: 100%;
            z-index: 0;
        }
    }
}



@media only screen and (max-width: 600px) {
    .banner {
        .banner-content {
            h1 {
                font-size: 20pt !important;

                @media only screen and (max-width: 540px) {
                    font-size: 18pt !important;
                }
            }
            .lottery-info {
                .logo {
                    .lottery_2x {
                        zoom: 0.65;
                    }
                }
                .timer {
                    div {
                        margin: 5px 0px;
                        font-size: 14px;
                    }
                    ul {
                        padding: 2px;

                        li {
                            font-size: 14px;
                            padding: 0px;
                            span:last-child {
                                font-size: 9px;
                            }
                        }
                    }
                }
            }
        }

        .popular-lottery-details {
            margin-top: 17px;
            h3 {
                font-size: 14px;
                margin: 0px;
            }
            /*      .btn-primary {
              font-size: 17px;
              padding: 8px 10px;
              font-family: $font-primary-700;
            }*/
            .banner-card-hold {
                display: inline-block;
                margin: 5px 0px 8px;
                .banner-card {
                    padding: 8px;
                    width: 115px;
                    margin: 0px;
                    box-sizing: border-box;
                    &:first-child {
                        margin-right: 20px;
                    }
                    li {
                        &:first-child,
                            &:nth-child(2) {
                            font-size: 13px;
                            line-height: 15px;
                            margin-bottom: 0px;
                        }
                        &:first-child {
                            margin-bottom: 3px;
                        }
                        &:nth-child(2) {}
                        &.footer {
                            font-size: 8px;
                            margin: 8px -8px -8px;
                        }
                    }
                }
            }
        }
    }
}
