<section class="contact-page">
  <div class="brand-banner">
    <div class="bg-image ">
      <div class="   mask">
        <div class="ld-col-md-9 text">
          <h1>CONTACT US</h1>
          <h4>We’d love to hear from you! Let us know what you think about Bingo69 or connect with us for an enquiry or to provide feedback.</h4>
        </div>
      </div>
      <!--       <img src="/assets/img/contact.jpg" alt="CONTACT US" class=""> -->
    </div>
    <div class="bg-image map">
      <img src="/assets/img/Contact_Us_Map.png" alt="Location map" class="">
    </div>
  </div>
  <div class="conatct-form-fields">
    <div class="container">
      <div class="show-mobile bubble">
        <div class="speech-icn">
          <i class="icon-speach-bubble"></i></div>
      </div>
      <div class="inner-container">
        <p>Contact us directly using the form below. Alternatively, you can email us at <a href="mailto:support@bingo69.com">support@bingo69.com.</a></p>
        <div class="form-fields">
          <app-contact></app-contact>
        </div>
      </div>
    </div>
  </div>
</section>
<!--   <img  class="success-img" src="/assets/img/checkmark.svg" alt="Success">
 -->
