@import "~variables.scss";
@import "~mixins.scss";
@import "../app-registration-form/app-registration-form.component.scss";
@import "~variables.scss";
$register-bg: linear-gradient(180deg, #BAE5FF 0%, #EEFBFC 100%);
$tab-bg: #F0F2F6;
$tab-border-right:#fff;
$tab-primary-color:#8E99BC;
$tab-active-bg: #36A8EB;
$left-circle:#AE9ADB;
section.registration {
  width: 100%;
  background: $register-bg;
  background-size: cover;
  padding: 0 0 1px;
  position: relative;
  overflow: hidden;
  &:before {
    position: absolute;
    right: 0;
    content: "";
    width: 60%;
    background-color: #49526E;
    top: 0;
    bottom: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 43% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 43% 100%);
  }
  @media screen and (max-width: 992px) {
    .ld-col-md-5 {
      display: none;
    }
    .ld-col-md-7 {
      width: 100%;
    }
    .ld-col-md-2 {
      width: 16.66666667%;
    }
    .ld-col-md-8 {
      width: 66.66666667%;
    }
  }
  .top-left-corner {
    position: absolute;
    left: -100px;
    top: -100px;
    border-radius: 100%;
    background: $left-circle;
    height: 202px;
    width: 202px;
  }
  .top-left-circle {
    position: absolute;
    left: 40px;
    top: 120px;
    border-radius: 100%;
    background: $left-circle;
    height: 62px;
    width: 62px;
  }
  .top-bottom-oval {
    position: absolute;
    left: -100px;
    bottom: -90px;
    border-radius: 100%;
    background-color: #BEE7FF;
    height: 402px;
    width: 402px;
  }
  .container {
    position: relative;
    div[class^="ld-col-"] {
      float: left;
    }
    .wrap-register {
      align-items: center;
      display: flex;
      @media only screen and(max-width: 767px) {
        margin-bottom: 0px;
      }
    }
    .image-text {
      /* width: 50%;*/
      padding-right: 40px;
      float: left;
      color: $verify-account-heading-para;
      fill: $verify-account-heading-para;
      font-weight: normal;
      width: 100%;
      p {
        font-size: 28px;
        font-family: $main-primary-ef-reg;
        margin: 0;
        padding: 0;
        color: $main-primary-text-color;
        letter-spacing: -0.35px;
        text-align: center;
      }
      h1 {
        font-family: $main-primary-ef-reg;
        font-weight: 900;
        font-size: 40px;
        margin: 0;
        padding: 0;
      }
      h3 {
        margin: 0;
        padding: 0;
        color: $verify-account-heading-para;
        fill: $verify-account-heading-para;
        display: inline-flex;
        align-items: center;
        i {
          margin-right: 15px;
          font-size: 30px;
        }
        span {
          font-family: $main-primary-ef-reg;
          font-size: 24px;
        }
      }
    }
    /*    .arrow-top {
          position: relative;
          float: right;
          width: 340px;
          clear: both;
    
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 35px 30px 35px;
            border-color: transparent transparent $bg-secondary transparent;
            position: absolute;
            right: 0;
            bottom: 0;
            left: calc(50% - 35px);
            top: 20px;
          }
        }*/
  }
  ::ng-deep .reg-form {
    .header {
      overflow: visible;
      .skew-header {
        width: 44%;
        .header-bg {
          padding-bottom: 0px !important;
          min-height: 67px;
          &:after {
            -webkit-transform: skew(0deg) !important;
            transform: skew(0deg) !important;
          }
          .text-container {
            padding: 16.5px 20px !important;
            max-height: 70px;
            @media screen and (max-width: 992px) {
              padding: 18.5px 20px !important;
            }
            p {
              font-family: $main-primary-ef-reg !important;
              font-size: 13px !important;
              font-weight: 500;
              letter-spacing: -0.13px;
              line-height: 14px;
            }
          }
        }
      }
      .register-tab {
        width: 56%;
        @media screen and (max-width: 767px) {
          width:100%;
        }
      }
      .confirm-icon {
        border-right: 0 !important;
      }
      .signup-icon,
      .confirm-icon,
      .bonus-icon {
        background-color: $tab-bg;
        border-right: 3px solid $tab-border-right;
        width: calc(50% - 3px);
        text-align: center;
        position: relative;
        float: left;
        min-height: 70px;
        @media screen and (max-width: 767px) {
          width: calc(33.333% - 2px);
        }
        .secure-transactions {
          display: block;
          margin-top: 8px;
          .icon {
            margin-right: 0px;
            height: 36px;
          }
        }
        .text {
          text-align: center;
          p,
          a {
            color: $tab-primary-color;
            font-size: 14px;
            letter-spacing: -0.21px;
            font-family: $main-primary-ef-reg;
          }
        }
        &.active {
          background-color: $tab-active-bg;
          &:before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -13px;
            margin-left: -10px;
            width: 0;
            height: 0;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-top: 14px solid $tab-active-bg;
          }
          svg {
            fill: #fff;
          }
          a {
            color: #fff;
          }
        }
        &.step-done {
          background-color: $tab-done-bg;
          svg {
            fill: #15DAA0;
            background: $white;
            border: 1px solid $white;
            border-radius: 100px;
          }
          a {
            color: #DBDEE4;
          }
        }
      }
      .confirm-icon {
        border-right: 3px solid $tab-bg;
        &.active {
          border-right: 3px solid $tab-active-bg;
        }
      }
      .bonus-icon {
        border-right: 0px;
      }
      .signup-icon {
        border-left: 3px solid $tab-border-right;
        @media screen and (max-width: 767px) {
          border-left:#F0F2F6
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .register-tab {
    .signup-icon {
      width: calc(50% - 3px) !important;
      border-right: 0 !important;
      margin-right: 3px;
    }
    .confirm-icon {
      width: 50% !important;
      border-right: 0 none !important;
      &:active {
        border-right: 0 none !important;
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width:991px) {
  section.registration {
    .container {
      .image-text {
        padding: 0;
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .select-method {
    margin-bottom: 25px;
  }
  section.registration {
    padding: 0;
    .container {
      width: 100%;
    }
    background: none;
    margin-bottom: 0px;
    .container {
      .image-text,
      .arrow-top {
        display: none;
      }
    }
  }
}

@import "~responsive.scss";
.reg-form {
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(168, 168, 168, 0.5);
  border-radius: 8px;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0 round 10px);
  clip-path: inset(0 0 0 0 round 10px);
  @media (min-width: 768px) and (max-width: 992px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 992px) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @media screen and (max-width: 767px) {
    border-radius: 0px;
    -webkit-clip-path: inset(0 0 0 0 round 0px);
    clip-path: inset(0 0 0 0 round 0px);
  }
  .step2 {
    .infoBox {
      margin-top: 0px;
    }
  }
  @include infoBox;
  form i {
    font-size: 18px;
    &.icon-lock,
    &.icon-mobile {
      font-size: 20px;
    }
  }
  .mat-form-field {
    .mat-form-field-placeholder {
      font-size: 13px;
      top: 26px;
    }
  }
  background-color: $reg-form-bgcolor;
  position: relative;
  .header {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: $reg-form-bgcolor;
    z-index: 1;
    border-radius: 4px 4px 0 0;
    @include pinkSectionHeader;
    .skew-header {
      @media screen and (min-width: 767px) {
        width: 44%;
        &:after {
          display: initial;
        }
        .header-bg,
        .text-container {
          max-width: initial;
        }
        .down-arrow {
          &:before {
            left: 0;
            width: 75px;
            border-right: 14px solid transparent;
          }
          &:after {
            border-left: 14px solid transparent;
            width: calc(100% - 75px);
            left: 75px;
          }
        }
      }
      @media screen and (max-width: 767px) {
        width: 100% !important;
      }
    }
    .pc-secure-icon {
      display: flex;
      position: relative;
      align-items: center;
      .secure-transactions {
        margin: 0px;
        position: relative;
        right: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .text {
          text-align: right;
          margin-right: 5px;
        }
        .icon {
          margin-left: 5px;
          margin-right: 0;
        }
      }
    }
  }
  .row {
    margin: 0;
  }
  .ld-col-md-6 {
    width: 46%;
    float: left;
    display: inline-flex;
    &:nth-of-type(2n+1) {
      margin-right: 4%;
    }
    &:nth-of-type(2n+0) {
      margin-left: 4%;
    }
  }
  .otp-success-img {
    width: 70px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .reg-top-heading {
    color: $reg-top-headingcolor;
    fill: $reg-top-headingcolor;
    font-family: $main-primary-ef-reg; //background: linear-gradient(48.19deg, #7B4397 0%, #B5238A 61.8%, #DC2430 100%);
    background: #7b4397;
    /* Old browsers */
    background: -moz-linear-gradient(left, #7b4397 0%, #b5238a 61%, #dc2430 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7b4397 0%, #b5238a 61%, #dc2430 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7b4397 0%, #b5238a 61%, #dc2430 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b4397', endColorstr='#dc2430', GradientType=1);
    /* IE6-9 */
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 17px 20px;
    &:after {
      left: 45%;
      top: 100%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #a42e8d;
      border-width: 15px;
      background: transparent !important;
      box-shadow: inset 0 1px 3px 0 rgba(190, 190, 190, 0.5);
      margin-top: -2px;
    }
    h1 {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      svg {}
      span.head {
        text-align: left;
        font-size: 15px;
        span {
          font-size: 12px;
          font-family: $font-secondary;
          width: 100%;
          display: block;
        }
      }
      ul.step-indicator {
        margin: 0 0 0 0;
        padding: 0;
        display: inline-flex;
        align-items: flex-end;
        li {
          list-style: none;
          display: inline-block;
          box-sizing: border-box;
          border: 1px solid #fc77a6;
          border-radius: 50%;
          padding: 5px;
          background-color: #e75f8e;
          -webkit-box-shadow: inset 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
          -moz-box-shadow: inset 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
          box-shadow: inset 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
          position: relative;
          margin-right: 7px;
          &:first-child:after {
            content: "";
            height: 20px;
            width: 20px;
            position: absolute;
            background: url('/assets/img/reg-step-indicator-bg.png') no-repeat center center;
            background-size: cover;
            z-index: 1;
            margin: 2px;
          }
          &:last-child {
            margin-right: 0;
            margin-left: 3px;
          }
          a {
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            font-family: $font-primary-700;
            text-align: center;
            font-size: 16px;
            line-height: 1;
            color: #D0395D;
            cursor: default;
            &:hover {
              text-decoration: none;
            }
            &.active {
              background-color: $reg-anchor-active-bgcolor;
              color: $reg-anchor-active-color;
              border-radius: 50%;
            }
            &.success {
              background-color: $reg-anchor-success-bgcolor;
              color: #FFFFFF;
              border-radius: 50%;
              box-shadow: inset 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
              &:after {
                /*                content: "\F00C";
                          font: normal normal normal 14px/1 FontAwesome;*/
                content: "\e80a";
                font-family: 'lottoicons' !important;
                color: $reg-anchor-success-color;
                margin: 0 5px;
                font-size: 13px;
                position: relative;
                top: 1px;
              }
            }
          }
        }
      }
    }
  }
  .form-fields {
    padding: 2px 20px 40px;
    max-width: 580px;
    margin: 0px auto;
    &.verify-method-choose {
      padding: 2px 20px 10px;
    }
    .resend_now {
      .mobile-no {
        margin-bottom: 50px;
      }
    }
    .btn-new {
      max-width: 250px;
      display: block;
      width: 100%;
      margin: 0px auto 0;
      font-size: 16px;
      text-transform: inherit;
      letter-spacing: -0.2px;
    }
    .warning-text {
      font-size: 10px;
      line-height: 12px;
      max-width: 325px;
      width: 100%;
      text-align: center;
      margin: 10px auto;
      display: block;
      color: $verify-account-heading-para;
      font-family: $main-primary-ef-reg;
    }
    .verification-heading {
      text-align: center;
      max-width: 560px;
      margin: 40px auto 20px;
      padding: 0 20px;
      h3 {
        margin-bottom: 20px;
        color: $verify-account-heading-para;
        font-size: 20px;
        letter-spacing: -0.3px;
        font-weight: 500;
        font-family: $main-primary-ef-reg;
      }
      p {
        font-size: 15px;
        letter-spacing: -0.2px;
        color: $verify-account-heading-para;
        font-family: $main-primary-ef-reg;
      }
    }
    .select-method {
      .select-mail,
      .select-sms {
        padding: 20px;
        border: 1px solid $select-mail-select-sms-border;
        background: #fff;
        margin-bottom: 6px;
        margin-top: 12px;
        float: left;
        width: 100%;
        box-sizing: border-box;
        border-left: 25px solid $select-mail-select-sms-border;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 93px;
        &.active,
        &:hover {
          border: 1px solid #78e193;
          background-color: #F0FFF4;
          border-left: 25px solid #00C333;
          @media screen and (max-width: 767px) {
            border: 1px solid #00C333; //background-color: $white;
            background-color: #F0FFF4;
            border-left: 25px solid #00C333;
          }
          span {
            color: #4A905C;
            @media screen and (max-width: 767px) {
              color: #384079;
            }
          }
        }
        span {
          line-height: 30px;
          font-size: 15px;
          letter-spacing: -0.2px;
          font-weight: 500;
          font-family: $main-primary-ef-reg;
          color: $verify-account-heading-clr;
          &.in_mob_v {
            display: none;
            @media screen and (max-width: 767px) {
              display:block;
              font-size: 18px;
            }
          }
          &.in_lar_v {
            @media screen and (max-width: 767px) {
              display: none;
            }
          }
        }
      }
      .select-sms {
        margin-bottom: 28px;
      }
      &.active {}
    }
  }
  .otp_error {
    margin-bottom: 10px;
  }
  .verification-code-info {
    padding: 0 0 40px;
    ;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    .text-message {
      p {
        color: $verify-account-heading-clr;
        font-size: 15px;
        letter-spacing: -0.2px;
        margin-bottom: 54px;
        line-height: 18px;
        font-weight: 500;
        @media screen and (max-width: 767px) {
          padding-left: 15px;
          padding-right: 15px;
        }
        a {
          cursor: pointer;
        }
      }
      .verification-pin {
        margin-bottom: 40px;
        input {
          font-size: 30px;
          text-align: center;
          font-family: $main-primary-ef-reg;
          font-weight: 500;
          color: $verify-account-heading-clr;
          letter-spacing: 20px;
          width: 158px;
          border: 0px;
          line-height: 5px;
          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $verification-placeholder-clr;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: $verification-placeholder-clr;
          }
          &::-ms-input-placeholder {
            /* IE 10+ */
            color: $verification-placeholder-clr;
          }
          &::-moz-placeholder {
            /* Firefox 18- */
            color: $verification-placeholder-clr;
          }
          &::placeholder {
            font-size: 60px;
          }
        }
      }
    }
    button {
      margin-bottom: 20px !important;
    }
    .did_nt_rec {
      color: $verify-account-heading-clr;
      font-size: 14px;
      letter-spacing: -0.3px;
      a {
        color: #01AEF0;
        cursor: pointer;
      }
    }
  }
  .ld-form-group {
    position: relative;
    width: 100%;
    small {
      position: absolute;
      right: 0;
      bottom: 10px;
      font-size: ($font-size-base / 1.09);
      cursor: pointer;
    }
  }
  .password-meter {
    position: absolute;
    width: 92%;
    margin-top: -20px;
    margin-left: 25px;
    font-size: 8.48px;
    line-height: 10px;
    text-align: right;
    text-transform: uppercase;
    color: $reg-password-meter-color;
    span {
      width: 23.9%;
      display: inline-block;
      background-color: #ccc;
      height: 5px;
      margin-right: 3px;
      &.strong {
        background-color: #2DCB70;
      }
      &.week {
        background-color: #D0021B;
      }
      &.good {
        background-color: #5C95FF;
      }
      &.fair {
        background-color: #E8C100;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .dob {
    small {
      width: 100%;
      margin-bottom: 5px;
      color: $form-placeholder;
      font-size: 11px;
      display: block;
    }
    .ld-form-group {
      width: 20%;
      display: inline-block;
      margin-right: 45px;
      input[type="text"] {
        text-align: center;
        width: 100%;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .secure-transactions {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    &.step1 {
      padding: 0;
      * {
        padding: 0;
        font-size: 9px !important;
      }
      .icon {
        margin-right: 7px;
        svg {
          width: 25px;
        }
      }
    }
    .icon {
      margin-right: 10px;
      svg {
        width: 35px;
      }
    }
    .text {
      text-align: left;
      h2,
      p {
        font-size: 13px;
        margin: 0;
        line-height: 1;
      }
      h2 {
        font-family: $font-primary-900;
        margin-bottom: 5px;
      }
      p {
        font-family: $font-primary-500;
      }
    }
  }
  .ld-ckbox {
    margin-bottom: 10px;
    float: right;
    &:last-child {
      margin-bottom: 0;
    }
    input {
      position: absolute;
      left: -9999px;
    }
    label {
      width: 100%;
      position: relative;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
      font-family: $font-primary-500;
      box-sizing: border-box;
      &::before {
        content: '';
        display: block;
        float: left;
        width: 38px;
        height: 38px;
        border-radius: 4px;
        background-color: $reg-label-bgcolor;
        transition: background-color .2s;
        border: 1px solid $reg-label-bordercolor;
        box-sizing: border-box;
      }
      .text {
        width: calc(100% - 38px);
        float: right;
        color: $reg-text-color;
        margin: 0 0 0 10px;
        p {
          color: $reg-paragraph-color;
          font-weight: normal;
          font-size: 12px;
          font-family: $font-primary-500;
          line-height: 12px;
          margin: 0;
          a {
            text-decoration: underline;
            color: $reg-paragraph-a-color;
          }
        }
      }
    }
    input:checked+label::before {
      content: '\E80A';
      font-family: 'lottoicons';
      color: $reg-input-checked-color;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
      border: 1px solid $reg-input-checked-brdr-color;
      background-color: $reg-input-checked-bg-color;
      box-sizing: border-box;
    }
  }
  .flex-row {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
  }
  .mobile-no,
  .flat-tel-holder {
    align-items: baseline;
  }
  .mobile-div {
    width: 276px;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 100% !important;
    }
    label-text {
      font-size: 12px !important;
    }
    p {
      &.label-text {
        font-size: 10px;
      }
    }
    mat-hint {
      color: $reg-mobile-div-color;
      font-family: $font-primary-500;
      font-size: 9px;
    }
  }
  .otp-code {
    text-align: center;
    margin-bottom: 20px;
    p {
      font-family: $font-primary-500;
      font-size: 13px;
      line-height: 1;
      margin: 20px 0;
      &.resend-otp {
        margin-bottom: 10px;
        a {
          color: $reg-otp-code-acolor;
          text-decoration: underline;
        }
      }
    }
    .otp-code-holder {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
    }
    input {
      background-color: $reg-input-bgcolor;
      height: 45px;
      width: 45px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      border: none;
      box-shadow: inset 0px 2px 5px 0px rgba(50, 50, 50, 0.1);
      font-size: 16px;
      text-align: center;
      font-family: $font-secondary-SemiBold;
      color: $reg-input-color;
      margin-right: 10px;
      box-sizing: border-box;
      &:last-child {
        margin-right: 0;
      }
      &:focus {
        outline: 0;
      }
    }
    .shake-otp {
      animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      box-sizing: border-box;
      @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }
        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }
        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }
        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
      }
      input {
        border: 1.5px solid $reg-input-border-color;
        box-sizing: border-box;
      }
    }
  }
  .gender-tab {
    width: 100%;
    text-align: center;
    display: inline-flex;
    input {
      &[type="radio"] {
        display: none;
      }
      &:checked+label {
        background: $reg-gender-tab-input-bgcolor;
        color: $reg-gender-tab-input-color;
        border: 0;
      }
      &:checked:first-child+label {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:checked:last-child+label {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    label {
      width: 50%;
      color: #BCC4D6;
      box-sizing: border-box;
      font-family: $font-primary-500;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      border: 1px solid $border-colors;
      padding: 10px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      font-weight: normal;
      cursor: pointer;
      text-transform: uppercase;
      margin: 0;
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: 0;
      }
    }
  }
  hr {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .reg-form {
    .header {
      .pc-secure-icon {
        .secure-transactions {
          .text {
            h2,
            p {
              font-size: 10.5px;
            }
          }
          .icon {
            svg {
              width: 30px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .reg-form {
    .form-fields {
      padding: 0 30px;
      .select-main-sms {
        float: left;
        width: 100%;
        padding: 15px 0;
        margin-bottom: 30px;
        .select-mail {
          margin-top: 0px;
          margin-bottom: 0px;
          box-shadow: 0 1px 2px 0 rgba(153, 153, 153, 0.5);
        }
        .select-sms {
          margin-bottom: 0px;
          margin-top: 12px;
          box-shadow: 0 1px 2px 0 rgba(153, 153, 153, 0.5);
        }
      }
      .btn-new {
        font-size: 20px;
      }
      .warning-text {
        display: none;
      }
    }
    .header {
      border-radius: 0;
      display: block;
      height: 148px;
      .skew-header {
        &:after {
          display: none;
        }
        width:100%;
        .header-bg,
        .text-container {
          max-width: 100%;
          text-align: center;
          .text {
            h1 {
              font-size: 14.4pt;
              margin-bottom: 3px;
            }
          }
        }
        .header-bg {
          &:after {
            display: none;
          }
        }
        .down-arrow {
          &:before {
            width: 50%;
          }
          &:after {
            left: 50%;
            width: 100%;
          }
        }
      }
    }
    .pc-secure-icon {
      display: none !important;
    }
    form i {
      font-size: 24px;
      &.icon-lock {
        font-size: 24px;
      }
      &.icon-mobile {
        font-size: 24px;
        position: relative;
      }
    }
    .mat-form-field {
      margin-bottom: 0;
      padding-top: 0;
      .mat-form-field-placeholder {
        top: 16px;
        font-size: 16px;
      }
      .mat-form-field-wrapper {
        height: 32px;
        padding-bottom: 18px;
        padding-top: 16px;
      }
      .mat-input-element {
        margin-top: 0;
        margin-bottom: 0;
        width: calc(100% - 26px);
      }
      .mat-form-field-prefix {
        margin: 32px 0 0 -40px;
      }
      .mat-select .mat-select-arrow {
        width: 24px;
        height: 24px;
        text-align: center;
        bottom: 0;
        &:after {
          font-size: 24px;
        }
      }
    }
    .mobile-no .intl-tel-input.separate-dial-code .flag-container .selected-flag .iti-arrow,
    .flat-tel-holder .intl-tel-input.separate-dial-code .flag-container .selected-flag .iti-arrow {
      width: 24px;
      height: 24px;
      text-align: center;
      top: 0;
      right: 0;
      &:after {
        font-size: 24px;
      }
    }
    .mat-form-field-infix {
      padding: 16px 0 0px 0;
      border-top: 0px solid transparent;
    }
    .mat-form-field-placeholder-wrapper {
      top: 0;
      padding-top: 0;
    }
    .mat-form-field-underline {
      bottom: 8px;
    }
    .mat-form-field-subscript-wrapper {
      margin-top: -4px;
      top: 100%;
    }
    .mat-form-field-invalid .mat-form-field-placeholder-wrapper:after {
      bottom: 0;
    }
    .mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-placeholder-wrapper .mat-form-field-placeholder {
      -webkit-transform: translateY(-16px) scale(0.75);
      transform: translateY(-16px) scale(0.75);
    }
    .mat-input-suffix mat-icon {
      top: 0;
    }
    .mat-focused .mat-form-field-underline .mat-form-field-ripple {
      height: 1px;
    }
    .mobile-div {
      p.label-text {
        top: 16px;
      }
      p.bigwin {
        margin-top: 8px;
      }
      .mobile-no .flat-tel-holder {
        height: 60px;
      }
    }
    .mobile-no,
    .flat-tel-holder {
      .flag {
        margin-top: 24px;
      }
    }
    .ld-col-md-6 {
      width: 100%;
      float: left;
      display: inline-flex;
      &:nth-of-type(2n+1) {
        margin-right: 0;
      }
      &:nth-of-type(2n+0) {
        margin-left: 0;
      }
    }
    .gender-tab {
      margin-bottom: 20px;
    }
    .flex-row {
      flex-direction: column;
    }
    .infoBox {
      width: 100%;
      margin: 0px auto 20px;
    }
    .btn-new {
      margin: 20px auto;
    }
    .tnc-content {
      margin-top: 20px;
      &.infoBox {
        padding: 15px 30px;
      }
      .ld-ckbox {
        margin-bottom: 15px;
        label {
          &::before {
            width: 40px;
            height: 40px;
          }
          .text {
            width: calc(100% - 55px);
            margin: 0 0 0 15px;
          }
        }
        input:checked+label::before {
          line-height: 40px;
          font-size: 20px;
        }
      }
    }
  }
  .ng-valid .mat-form-field-placeholder-wrapper:after {
    margin-top: 18px;
  }
}

.info_icon {
  width: 25%;
  margin-bottom: 80px;
}

.verification-code-info {
  h2 {
    margin: 86px 0 0 0;
  }
}

@media (min-width:768px) and (max-width:992px) {
  section.registration {
    padding: 20px 0;
  }
  .reg-form {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}

@media (min-width:320px) and (max-width:767px) {
  .register-tab {
    width: 100% !important;
  }
  .signup-icon,
  .confirm-icon {
    background-color: $tab-bg;
    border-right: 4px solid $tab-border-right;
    width: calc(49.5% - 3px);
    text-align: center;
    position: relative;
    float: left;
    min-height: 70px;
    .secure-transactions {
      display: block;
      margin-top: 8px;
      .icon {
        margin-right: 0px;
        height: 36px;
      }
    }
    .text {
      text-align: center;
      p,
      a {
        color: $tab-primary-color;
        font-size: 14px;
        letter-spacing: -0.21px;
        font-family: $main-primary-ef-reg;
      }
    }
    &.active {
      background-color: $tab-active-bg;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -13px;
        margin-left: -10px;
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 14px solid $tab-active-bg;
      }
      svg {
        fill: #fff;
      }
      a {
        color: #fff;
      }
    }
  }
}

.mobile-div.reg_mobile {
  width: initial;
  @media (max-width: 767px) {
    margin-left: -30px;
  }
  .mat-form-field {
    @media (max-width: 767px) {
      margin-right: -30px;
    }
  }
}

.close-modal {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 40px;
  right: -60px;
  cursor: pointer;
  @media (min-width: 1200px) and (max-width: 1380px) {
    top: 40px;
    right: -10px;
  }
  @media (min-width: 768px) and (max-width:992px) {
    top: -35px;
    right: -20px;
  }
  @media (min-width: 768px) and (max-width:1024px) {
    top: 50px;
    right: -37px;
  }
  @media (max-width:767px) {
    top: 20px;
    right: 20px;
    z-index: 9;
  }
}
