<div id="privacyPolicyContent"></div>

<!-- <section class="privacy-policy ">


    <div class="banner-wrapper">
    <div class="brand-banner">
      <div class="container">
        <div class="ld-col-md-9 text">
              <h1>{{'privacy-heading' | translate}}</h1>
                      </div>
        <div class="ld-col-md-3 right-img">
         </div>
      </div>
    </div>
  </div>


  <div class="clearfix"></div>
  <div class="container page-text">
    <div class="show-mobile">
      <div class="back-btn" routerLink="/"><i class="fa fa-chevron-left"></i> Back to home
      </div>
    </div>
    <div class="content">
      <button class="btn download-doc"><a href="./assets/Bingo69_Privacy_Policy.pdf" download>
        <i class="fa fa-file-pdf-o"></i>

        Download as pdf</a>
      </button>
      <li class="sub-title">
        {{'introduction' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('privacy_intro_list1')"></li>
          <li [innerHTML]="getTranslatedFile('privacy_intro_list2')"></li>
          <li [innerHTML]="getTranslatedFile('privacy_intro_list3')"></li>
          <li [innerHTML]="getTranslatedFile('privacy_intro_list4')"></li>
          <li [innerHTML]="getTranslatedFile('privacy_intro_list5')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'type_of_information' | translate}}
        <ol>
          <li class="noStyle">
            <h3 [innerHTML]="getTranslatedFile('non_personal_information')"></h3>
            <ol>
              <li [innerHTML]="getTranslatedFile('non_personal_information_list1')"></li>
              <li [innerHTML]="getTranslatedFile('non_personal_information_list2')"></li>
              <li [innerHTML]="getTranslatedFile('non_personal_information_list3')"></li>
            </ol>
          </li>
        </ol>
        <ol>
          <li class="noStyle">
            <h3 [innerHTML]="getTranslatedFile('personal_information')"></h3>
            <ol>
              <li [innerHTML]="getTranslatedFile('personal_information_list1')"></li>
              <ol>
                <li [innerHTML]="getTranslatedFile('personal_information_list1_1')"></li>
                <li [innerHTML]="getTranslatedFile('personal_information_list1_2')"></li>
                <li [innerHTML]="getTranslatedFile('personal_information_list1_3')"></li>
                <li [innerHTML]="getTranslatedFile('personal_information_list1_4')"></li>
                <li [innerHTML]="getTranslatedFile('personal_information_list1_5')"></li>
                <ol>
                  <li [innerHTML]="getTranslatedFile('personal_information_list1_5_1')"></li>
                  <li [innerHTML]="getTranslatedFile('personal_information_list1_5_2')"></li>
                  <li [innerHTML]="getTranslatedFile('personal_information_list1_5_3')"></li>
                </ol>
                <li [innerHTML]="getTranslatedFile('personal_information_list1_6')"></li>
                <li [innerHTML]="getTranslatedFile('personal_information_list1_7')"></li>
              </ol>
            </ol>
          </li>
        </ol>
      </li>
      <li class="sub-title">
        {{'how_we_collect' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('how_we_collect_1')"></li>
          <ol>
            <li [innerHTML]="getTranslatedFile('how_we_collect_1_1')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_collect_1_2')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_collect_1_3')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_collect_1_4')"></li>
          </ol>
        </ol>
      </li>
      <li class="sub-title">
        {{'how_we_use_info' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('how_we_use_info_1')"></li>
          <ol>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_2')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_3')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_4')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_5')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_6')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_7')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_8')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_9')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_10')"></li>
            <li [innerHTML]="getTranslatedFile('how_we_use_inf_11')"></li>
          </ol>
        </ol>
      </li>
      <li class="sub-title">
        {{'whom_we_share_our_data' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_1')"></li>
          <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_2')"></li>
          <ol>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_2_1')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_2_2')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_2_3')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_2_4')"></li>
          </ol>
          <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_3')"></li>
          <ol>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_3_1')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_3_2')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_3_3')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_3_4')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_3_5')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_3_6')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_3_7')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_3_8')"></li>
          </ol>
          <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_4')"></li>
          <ol>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_4_1')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_4_2')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_4_3')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_4_4')"></li>
            <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_4_5')"></li>
          </ol>
          <li [innerHTML]="getTranslatedFile('whom_we_share_our_data_5')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'third_paty_info' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('third_paty_info_1')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'how_dow_we_safegaurd' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('how_dow_we_safegaurd_1')"></li>
          <li [innerHTML]="getTranslatedFile('how_dow_we_safegaurd_2')"></li>
          <li [innerHTML]="getTranslatedFile('how_dow_we_safegaurd_3')"></li>
          <li [innerHTML]="getTranslatedFile('how_dow_we_safegaurd_4')"></li>
          <li [innerHTML]="getTranslatedFile('how_dow_we_safegaurd_5')"></li>
          <li [innerHTML]="getTranslatedFile('how_dow_we_safegaurd_6')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'ho_do_we_transfer' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('ho_do_we_transfer_1')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'user_rights' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('user_rights_1')"></li>
          <ol>
            <li [innerHTML]="getTranslatedFile('user_rights_2')"></li>
            <li [innerHTML]="getTranslatedFile('user_rights_3')"></li>
            <li [innerHTML]="getTranslatedFile('user_rights_4')"></li>
            <li [innerHTML]="getTranslatedFile('user_rights_5')"></li>
            <li [innerHTML]="getTranslatedFile('user_rights_6')"></li>
            <li [innerHTML]="getTranslatedFile('user_rights_7')"></li>
          </ol>
          <li [innerHTML]="getTranslatedFile('user_rights_8')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'retention_policy' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('retention_policy_1')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'corporate_transaction' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('corporate_transaction_1')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'minors' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('minors_1')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'privacey_policy_amendments' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('privacey_policy_amendments_1')"></li>
          <li [innerHTML]="getTranslatedFile('privacey_policy_amendments_2')"></li>
        </ol>
      </li>
      <li class="sub-title">
        {{'contact_us' | translate}}
        <ol>
          <li [innerHTML]="getTranslatedFile('contact_us_1')"></li>
          <li [innerHTML]="getTranslatedFile('contact_us_2')"></li>
          <li [innerHTML]="getTranslatedFile('contact_us_3')"></li>
        </ol>
      </li>
    </div>
  </div>
</section> -->
