@import "~variables.scss";


$privacy-policy-brand-banner: linear-gradient(304.86deg, #A6EDFF 0%, #5CD4FF 100%);

.privacy-policy {
    background-color: $privacy-policy-bgcolor;
    padding-bottom: 40px;

    .download-doc {
        font-size: 22px;
        font-family: $main-primary-ef-reg;
        font-weight: 900;
        background: #F67C7F;
        text-transform: uppercase;
        color: $terms-conditions-downloaddoc-color;
        border: 0;
        padding: 18px 10px;
        text-align: center;
        margin: 20px auto;
        min-width: 300px;
        line-height: 1;
        border-radius: 0px;
        position: relative;

        i{
            position: absolute;
            left: 20px;
        }

        a {
            color: $terms-conditions-downloaddoc-color;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                text-decoration: none;
            }
            i {
                font-size: 24px;
                margin-right: 20px;
            }
        }
    }

    .banner-wrapper {
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            right: -120px;
            top: -370px;
            height: 665px;
            width: 665px;
            background: $tc-banner-wrapper-right-bg;
            z-index: 1;
            border-radius: 100%;
        }
    }
    .brand-banner {
        background: $privacy-policy-brand-banner;
        position: relative;
        padding: 40px 0;

        .container {
            position: relative;
            z-index: 1;
            display: flex;
        }
        .text {
            display: flex;
            color: $main-primary-text-color;
            flex-direction: column;
            position: relative;
            box-sizing: border-box;
            justify-content: center;
            padding-right: 30px;

            h1,
            h4 {
                margin: 0;
                padding: 0;
            }

            h1 {
                font-size: 35px;
                font-family: $main-primary-ef-reg;
                font-weight: 900;
                margin-bottom: 20px;
            }
            h4 {

                font-size: 20px;
                font-family: $main-primary-ef-reg;
                letter-spacing: -0.25px;
                line-height: 24px;
            }
        }
    }

    .right-img {
        position: relative;
        top: 25px;
        right: 0;
        z-index: 1;
        img {}
    }

    .page-text {
        font-family: $main-primary-ef-reg;

        .show-mobile {
            display: none;
        }
        .back-btn {
            font-family: $main-primary-ef-reg;
            font-size: 16px;
            color: $privacy-policy-pagetext-color;
            padding: 15px 20px;
            cursor: pointer;
            background-color: $privacy-policy-pagetext-bgcolor;
            i {
                margin-right: 10px;
            }
        }

        .content {
            ul {
                padding: 0;
                margin-left: 20px;
            }
            li {
                list-style: upper-roman;
                margin-top: 20px;
                font-size: 16px;
                font-family: $font-primary-500;
                &.sub-title {
                    font-size: 24px;
                    font-family: $main-primary-ef-bd;
                    margin: 20px 0 0 0;
                }
            }
            ol {
                li {
                    list-style: square;

                    ol {
                        li {
                            list-style: square;
                        }
                        ol {
                            li {
                                list-style: circle;
                            }
                        }
                    }
                }
                ol {
                    li {
                        list-style: circle;
                    }
                }
                li.noStyle {
                    list-style: none;
                }
            }
            background-color: $privacy-policy-content-bgcolor;
            h1 {
                font-size: 36px;
                font-family: $main-primary-ef-bd;
            }

            h2 {
                font-size: 24px;
                font-family: $main-primary-ef-bd;
                margin: 20px 0 0 0;
                display: initial;
            }
            h3 {
                font-size: 20px;
                font-family: $main-primary-ef-bd;
                margin: 20px 0 0 0;
                display: initial;
            }
            p {
                font-size: 16px;
                font-family: $font-primary-500;
            }

        }
    }
}




@media screen and (max-width: 991px) {
    .privacy-policy {
        .right-img {
            display: none;
        }

        .banner-wrapper {
            margin: 0;
            padding: 0;
        }
        .brand-banner {
            text-align: center;
            border: 0;
            height: auto;
            background: $ld-theme-gradient-blue-313;
            margin: 0;
            box-sizing: border-box;
            transform: skew(0deg);
            left: 0;
            padding: 0;
            .right-img {
                display: none;
            }
            .container {
                transform: skew(0deg);
                left: 0;
            }
            .text {
                padding: 30px 20px;
                width: 100%;
            }
        }

        .page-text {
            width: 100%;
            .show-mobile {
                display: block;
            }
            .content {
                margin: 0 0 20px 0;
                padding: 20px;
                h1 {
                    font-size: 18px;
                    text-align: center;
                }
                p {
                    font-family: $font-primary-500;
                }
                .sub-title {
                    font-size: 18px;
                }
                .download-doc {
                    margin: 30px auto;
                    margin-top: 10px;
                    display: inherit;
                    text-align: center;
                    min-width: 100%;
                }
            }
        }
    }
}
