/* My Account Component */

@import "~variables.scss";
section.my-transactions {
  float: left;
  width: 100%;
  .content {
    padding: 40px 40px 30px 40px;
    background-color: $my-transactions-content-bgcolor;
    display: flex !important;
    justify-content: space-between;
    h3,
    p {
      margin: 0;
      padding: 0;
    }
    h3 {
      font-size: 18px;
      color: $my-transactions-content-h3color;
      font-family: $main-primary-ef-reg;
    }
    p {
      font-size: 13px;
      color: $my-transactions-content-paracolor;
      font-family: $main-primary-ef-reg;
    }
    .left-section {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      .heading-para {
        justify-content: normal;
      }
      .bal-display {
        padding: 6px 0px;
        text-align: center;
        background-color: $my-transactions-content-leftsectionbgcolor;
        font-size: 13px;
        line-height: 1.25;
        font-family: $main-primary-ef-reg;
        border-radius: 0px;
        letter-spacing: -0.2px;
        float: left;
        margin-top: 20px;
        min-width: 180px;
        @media (min-width: 993px) and (max-width:1199px) {
          min-width:130px;
        }
        width: 32%;
        height: 50px;
        box-sizing: border-box;
        margin-right: 6px;
        span {
          display: block;
          width: 100%;
          font-size: 18px;
        }
        &:first-child {
          max-width: 140px;
          line-height: 40px;
          color: $white;
          background: $green;
          a {
            color: $white;
          }
        }
        &:nth-child(2n+2) {
          background: #7e69af;
          color: $white;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
    .right-section {
      display: flex;
      width: 50%;
      .form-holder {
        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-wrap: wrap;
        .mat-form-field {
          display: inline-flex;
          flex-direction: column;
          width: 33%;
          align-items: flex-end;
        }
        .filter-btn {
          flex-direction: row;
          width: 315px;
          border: 0;
          font-size: 17.64px;
          margin-top: 25px;
        }
      }
    }
  }
  .table-content {
    padding: 0 40px 30px;
    background-color: $my-transactions-table-content-bgcolor;
    table {
      width: 100%;
      border-collapse: collapse;
     // border-radius: 4px;
      thead {
        background-color: $my-transactions-table-content-thead-bgcolor;
        tr {
          th {
            color: $my-transactions-table-content-thead-titlecolor;
            font-size: 15px;
            font-weight: normal;
            font-family: $main-primary-ef-reg;
            padding: 10px 15px;
            line-height: 1.45;
            letter-spacing: -0.2px;
            position: relative;
           // text-align: center;
            &:after {
              border-right: 1.5px solid rgba(255, 255, 255, 0.5);
              content: '';
              position: absolute;
              top: 5px;
              left: 0;
              right: 0;
              height: calc(100% - 10px);
            }
            &:first-child {
              border-top-left-radius: 4px;
              text-align: left;
            }
            &:nth-child(3) {
              text-align: left;
            }
            &:nth-child(4) {
              text-align: right;
            }
            &:last-of-type {
              border-top-right-radius: 4px;
              &:after {
                display: none;
              }
            }
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid $my-transactions-table-content-tbody-bordercolor;
          border-left: 1px solid #D4DAE4;
          border-right: 1px solid #D4DAE4;
          &.group-date {
            background-color: $my-transactions-table-content-tbody-gdate-bgcolor;
            border: 0;
            box-shadow: 0 1px 2px 0 rgba(168, 168, 168, 0.5);
            text-align: left;
            td {
              padding: 5px 15px;
              line-height: 1;
              text-align: left;
            }
          }
          td {
            font-size: 14px;
            font-family: $main-primary-ef-reg;
            font-weight: normal;
            vertical-align: top;
            padding: 10px 15px;
            line-height: 17px;
            letter-spacing: -0.23px;
            color: #384079;
            //text-align: center;
            &:nth-child(2) {
              span {
                &.transaction-method {
                  font-weight: 600;
                }
              }
            }
            .type,
            h3,
            h4,
            h5 {
              margin: 0;
              font-size: 14px;
              font-weight: normal;
              text-align: left;
            }
            .type {
              font-family: $font-primary-700;
            }
            h3 {
              color: $my-transactions-table-content-tbody-h3-color;
              font-family: $main-primary-ef-reg;
              font-weight: 600;
            }
            h4 {
              font-family: $main-primary-ef-bd;
              font-weight: 600;
              text-align: center;
            }
            h5 {
              font-family: $main-primary-ef-reg;
            }
            &:nth-child(3),
            &:nth-child(4) {
              text-align: center;
              vertical-align: middle;
            }
            &.type,
            &.credit-debit {
              font-size: 16px;
              span {
                font-size: 12px;
              }
            }
            &.type {
              text-transform: uppercase;
              letter-spacing: -0.2px;
              text-align: left;
            }
            &.credit-debit {
              text-align: right;
            }
          }
        }
      }
      tbody:last-child {
        tr {
          border-bottom: 1px solid #D4DAE4;
        }
      }
    }
    .button {
      margin-top: 40px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        font-family: $main-primary-ef-reg;
        font-size: 15px;
        text-transform: capitalize;
        padding: 15px 12px;
        letter-spacing: -0.2px;
        min-width: 160px;
        margin-left: 15px;
        box-sizing: border-box;
        line-height: 1;
        border-radius: 0px;
        background-color: $violet;
        color: $white;
        border: 2px solid $my-transactions-table-content-button-bordercolor;
        box-sizing: border-box;
        i {
          -webkit-text-stroke: 0.5px;
        }
        .text {
          flex: 1 1 0px;
        }
        &.btn-disabled {
          border-width: 2px;
          color: $my-transactions-btn-disabled-color !important;
          border-color: $my-transactions-btn-disabled-border !important;
          background-color: $my-transactions-btn-disabled-bg !important;
          cursor: not-allowed;
          &:hover {
            background-color: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width:992px) {
  section.my-transactions {
    .mobile-filter {
      .mat-form-field {
        .mat-form-field-wrapper {
          width: 100%;
        }
      }
    }
    .device-comp {
      display: none;
    }
    .content {
      &.device-comp {
        display: none !important;
      }
    }
    .mobile-comp {
      display: block;
    }
    .table-content {
      padding: 0 0 30px;
      margin-bottom: 30px;
      text-align: left;
      @media screen and (max-width: 767px) {
        padding: 0 0 10px;
        margin-bottom: 0px;
      }
       table {
        thead tr th:first-child,
        thead tr th:nth-child(3),
        tbody tr td:first-child,
        tbody tr td:nth-child(3) {
          display: none;
        }
       
        // tbody tr td:nth-child(2) {
        //   p,
        //   h3,
        //   span {
        //     display: none;
        //     &.transaction-method {
        //       display: block;
        //       font-weight: 500;
        //     }
        //   }
        // }
        thead tr th:nth-child(4):after {
         display: none;
        }
        thead tr th:last-of-type {
          border-right: 0
        }
        tbody tr.group-date td {
          display: table-cell;
        }
        thead {
            tr {
              th {
                font-size: 13px;
                text-align: left;
              }
              th:first-child{
                  text-align: left;
                  font-weight: bold;
              }
               th:nth-child(3){
                  text-align: right;
                  font-weight: bold;
              }
            }
          }
      }
      .button {
        padding: 0 15px;
        justify-content: space-between;
        button {
          margin: 0;
          min-width: auto;
          width: calc(50% - 10px);
        }
      }
    }
    .accordionRow {
      padding: 20px;
      position: relative;
      background-color: $my-transactions-accordionRow-bgcolor;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .flipButton {
      &:after {
        transform: rotate(180deg);
        transition: all .25s;
      }
    }
    .accordionHeadline {
      cursor: pointer;
      margin: 0;
      position: relative;
      &:after {
        font-family: 'FontAwesome';
        -webkit-font-smoothing: antialiased;
        content: "\F107";
        position: absolute;
        font-size: 35px;
        cursor: pointer;
        transition: all .25s;
        top: -8px;
        right: 0;
      }
      h1 {
        font-size: 18px;
        color: $my-transactions-accordionHeadline-h1-bgcolor;
        font-family: $main-primary-ef-reg;
        font-weight: normal;
        margin: 0;
        padding: 0;
      }
    }
    .accordionText {
      margin: 0;
      display: none;
      overflow-y: hidden;
      transition-timing-function: ease-out;
      .form-fields {
        margin: 10px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        mat-form-field {
          margin: 0;
          width: 46%;
          display: inline-flex;
          &:nth-of-type(2n+1) {
            margin-right: 4%;
          }
          &:nth-of-type(2n+0) {
            margin-left: 4%;
          }
        }
      }
      .filter-btn {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 0;
      }
    }
    .activeAccordionText {
      display: block;
    }
  }
  .mob-acc-bal {
    background: $white;
    padding: 15px 0;
    text-align: center;
    .bal-display {
      background-color: #5881D5;
      max-width: 300px;
      display: block;
      width: 100%;
      padding: 7px 0;
      font-size: 13px;
      font-family: $main-primary-ef-reg;
      letter-spacing: -0.22px;
      margin: 5px auto;
      color: $white;
      text-transform: uppercase;
      span {
        display: block;
        letter-spacing: -0.22px;
        line-height: 23px;
        font-size: 19.8px;
        margin-top: 4px;
      }
      @media screen and (max-width:992px) {
        display: block;
        width: calc(100% - 10px);
        max-width: 100%;
        margin: 0px auto;
      }
      
    }
  }
}

@media screen and (max-width:600px) {
  section.my-transactions {
    .accordionHeadline {
      h1 {
        font-size: 16px;
        &:after {
          font-size: 24px;
        }
      }
    }
    .table-content {
      table {
        // thead {
        //   tr {
        //     th {
        //       font-size: 13px;
        //       text-align: left;
        //     }
        //     th:first-child{
        //         text-align: left;
        //         font-weight: bold;
        //     }
        //      th:nth-child(3){
        //         text-align: right;
        //         font-weight: bold;
        //     }
        //   }
        // }
        tbody {
          tr {
            border-bottom: 1px solid $my-transactions-table-content-tbody-bordercolor;
            td {
              font-size: 12px;
              line-height: 14px;
              text-align: left;
              .type {
                font-size: 13px;
                text-align: left;
              }
              h3,
              h4, 
              h5 {
                font-size: 12px;
                text-align: left;
              }
              &.credit-debit {
                font-size: 15px;
                line-height: 18px;
                vertical-align: bottom;
                span {
                  font-size: 15px;
                }
              }
            }
          }
        }
        &:last-child {
          tr {
            border-bottom: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:380px) {
  section.my-transactions {
    .accordionRow {
      padding: 30px 20px;
    }
    .accordionText {
      .form-fields {
        margin: 10px 0;
      }
    }
  }
}

@import "~responsive.scss";
