@import "~variables.scss";
@import "~mixins.scss";

section.deposit-success {
  .container {
    .transaction_fail_succes {
      width: 100%;
      margin: 0 auto;

      .show-small {
        display: none;
      }

      .header-row {
        width: 100%;
        background-color: $white;
        margin-top: 40px;
        @include pinkSectionHeader;
        @media screen and (max-width:992px) {
          margin-top: 0;
        }

        .skew-header {
          width: 40%;
          @media screen and (max-width: 992px) {
            width: 100%;
          }
        }
      }

      .content {
        margin: 0 auto 25px;
        padding: 20px 40px 40px;
        background-color: $white;
        @media screen and (max-width:767px) {
          padding: 20px;
        }

        .deposit-failcase {
          text-align: center;

          img {
            width: 100px;
            height: 100px;
            margin-top: 20px;
            margin-bottom: 20px;
          }

          button {
            margin-top: 20px;
          }
          @media screen and (min-width:767px) {
            button {
              max-width: 300px;
            }
          }
        }

        h2 {
          font-size: 18px;
          font-family: $font-secondary-SemiBold;
          margin: 5px 0 15px;
        }

        p {
          display: flex;
          font-family: $font-primary-500;

          img {
            margin: auto;
          }
        }

        table {
          tr {
            td {
              font-family: $font-primary-500;
              font-size: 16px;
              vertical-align: top;
              padding: 10px 0;

              &:nth-child(2) {
                font-family: $font-primary-700;
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:768px) {
  section.deposit-success {
    .container {
      width: 100%;

      .show-small {
        display: block;
      }

      .hide-small {
        display: none!important;
      }

      .header-row {
        margin: 0;

        .skew-header {
          &.d-success {
            background-color: $bg-grey;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            overflow: hidden;

            h1 {
              text-transform: uppercase;
              font-size: 1.125rem;
              width: 30%;
              float: left;
              padding: 20px;
              box-sizing: border-box;
              margin: 0;
            }

            .down-arrow {
              display: none;
            }

            .header-bg {
              padding-top: 10px;
              transform: skew(-30deg);
              position: relative;
              left: 20px;
              width: 70%;
              float: right;
              @media screen and (max-width:992px) {
                left:-25px;
                width: 80%;
                padding-top: 0px;
              }
            }

            .text-container {
              transform: skew(30deg);
              padding-right: 40px;
              padding-left: 10px;

              .text {
                display: inline-flex;

                p {
                  text-align: right;
                  display: inline-block;
                  float: right;
                  width: 100%;
                  @media screen and (max-width:992px) {
                    text-align: center;
                    font-size: 0.9em;
                  }
                }
              }
            }
          }
        }
      }

      .deposit-done {
        img {
          display: block;
          margin: auto;
          width: 100px;
          height: 100px;
          margin-bottom: 20px;
        }
      }

      .content {
        h2 {
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width:480px) {
  section.deposit-success {
    .container {
      .content {
        margin: 0 auto 15px;
        padding: 10px 20px 20px;

        h2 {
          font-size: 17px;
          margin-top: 20px;
        }
      }
    }
  }
}
@media screen and (max-width:360px) {
  section.deposit-success {
    .container {
      .content {
        table {
          tr {
            td {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

.other-popular-lotteries {
  .arrow-top {
    position: relative;

    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 50px 40px 50px;
      border-color: transparent transparent $bg-grey transparent;
      position: absolute;
      top: -60px;
      left: 125px;
      right: 0;
      display: none;
    }
  }

  h1 {
    i {
      margin-right: 10px;
      font-size: 36px;
    }
    font-size: 25px;
    font-family: $font-secondary-SemiBold;
    margin: 25px 0 -15px;
    line-height: 1;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width:768px) {
    .arrow-top {
      &:before {
        transform: rotate(180deg);
        border-color: transparent transparent $white transparent;
        left: calc(50% - 35px);
        top: -35px;
        border-width: 0 35px 30px 35px;
        display: block;
      }
    }

    h1 {
      position: relative;
      z-index: 1;
      margin-top: 10px;
      margin-bottom: 0;
      text-align: center;
      padding: 0 20px;
    }
  }
  @media screen and (max-width:600px) {
    h1 {
      font-size: 18px;
      justify-content: center;

      i {
        font-size: 30px;
      }
    }
  }
}
@import "~responsive.scss";
