@import "~variables.scss";

$change-pass-btn-bg: #ffae12;

.pwd-success {
  display: none;
  text-align: center;
  p {
    font-size: 17px;
    color: $pwd-success-pcolor;
    font-family: $font-primary-500;
  }
  img {
    width: 100px;
    height: 100px;
  }
}

.success-tick {
  display: block;
}

.hide-form-fields {
  display: none;
}

.change-password-form {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .ld-col-md-4 {
    width: 28%;
    float: left;
    margin-right: 5.333%;
    .gender-tab {
      margin-top: 10px;
      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }

    .hide-show{
       cursor: pointer;
    }
    @media screen and (min-width: 768px) and (max-width:992px) {
      margin: 0;
      width: 46%;
      display: inline-flex;
      &:nth-of-type(2n+1) {
        margin-right: 4%;
      }
      &:nth-of-type(2n+0) {
        margin-left: 4%;
      }
    }
    @media screen and (max-width:767px) {
      width: 100%;
      margin: 0;
    }
    .mat-form-field {
      .mat-form-field-wrapper {
        width: 100%;
        float: left;
      }
    }
  }
  .btn-new {
    margin-top: 20px;
    background: $change-pass-btn-bg;
    text-transform: capitalize;
    border-radius: 0px;
    font-size: 18px;
    letter-spacing: -0.2px;
    
    @media screen and (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);
    }
  }
}

@media screen and (max-width: 767px) {
  .pwd-success {
    display: none
  }
  .success-tick {
    display: block;
  }
  .hide-form-fields {
    display: none;
  }
}
