<div class="content">
  <div id="successTick" class="pwd-success" *ngIf="changePasswordSuccess">
    <p>Password change successful</p>
    <img class="" src="/assets/img/checkmark.svg" alt="Password change success" title="Password change success" />
  </div>
  <form id="formFields" class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword('changePassword')" novalidate>
    <div id="serverErrorChangePassword" class="error-msg hide">{{serverError | translate}}</div>
    <div class="row">
      <div class="ld-col-md-4">
        <mat-form-field class="">
          <input name="old" matInput placeholder="Enter current password" formControlName="old" [type]="isPwdOld ? 'password' : 'text'">
          <mat-icon matSuffix class="hide-show" (click)="isPwdOld = !isPwdOld">{{isPwdOld ? 'show' : 'hide'}}</mat-icon>
          <mat-error *ngIf="shouldShowErrors('old',changePasswordForm)">{{getErrorMessage('old',changePasswordForm)}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="ld-col-md-4">
        <mat-form-field class="" formGroupName="passwords">
          <!--    <input name="password" matInput placeholder="Create a new password" formControlName="password"> -->
          <input name="password" matInput placeholder="Create new password" [type]="isPwdNew ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix class="hide-show" (click)="isPwdNew = !isPwdNew">{{isPwdNew ? 'show' : 'hide'}}</mat-icon>
          <mat-error *ngIf="shouldShowErrors('password',changePasswordForm)">{{getErrorMessage('password',changePasswordForm)}}</mat-error>
        </mat-form-field>
      </div>
      <div class="ld-col-md-4">
        <mat-form-field class="" formGroupName="passwords">
          <!--         <input name="confirmPassword" matInput placeholder="Confirm password" formControlName="confirmPassword"> -->
          <input name="confirmPassword" matInput placeholder="Confirm new password" [type]="isPwdNewconf ? 'password' : 'text'" formControlName="confirmPassword">
          <mat-icon matSuffix class="hide-show" (click)="isPwdNewconf = !isPwdNewconf">{{isPwdNewconf ? 'show' : 'hide'}}</mat-icon>
          <mat-error *ngIf="shouldShowErrors('confirmPassword',changePasswordForm)">{{getErrorMessage('confirmPassword',changePasswordForm)}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- <button id="changePassword" [ngClass]="getButtonClass(changePasswordForm)" class="btn" (click)="changePassword('changePassword')" [disabled]="isButtonDisabled(changePasswordForm)">Change password <i class="fa fa-refresh fa-spin facebook-login-spinner hide"></i> </button> -->
    <div class="row">
      <div class="ld-col-md-4">
        <button id="changePassword" class="btn-new btn-tertiary" type="button" (click)="changePassword('changePassword');mixPanelEventCheck('changePassword')" [disabled]="isButtonDisabled(changePasswordForm)">
          <span>Save New password</span>
        </button>
      </div>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
