@import "~variables.scss";

.cashier-intro {

    .cashier-detail-text{
        padding: 20px 0 !important;
        @media screen and (max-width:767px) {
            padding-bottom: 25px !important;
        }
    }

    .confirm-identity-box{
        position: relative;
    }
    .content {
        padding: 40px 40px 20px 40px;
        background-color: $cashier-component-bgcolor;
        width: 100%;
        float: left;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;

        @media screen and (max-width:767px) {
            border-radius: 0px;   
        }

        .cashier-back-btn {
            &.mob-hide {
                display: none !important;
            }
            font-family: $main-primary-ef-reg;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            width: 200px;
            padding: 5px 20px;

            i {
                font-size: 20px;
                margin-right: 10px;
            }
        }

        .success-info-box {
            display: flex;
            align-items: center;
            padding: 8px 10px;
            background-color: #F1F8F1;
            border: 1px solid #B1DBC9;
            margin-top: 20px;
            @media screen and (max-width:767px) {
                flex: 1 1 auto;
                display: flex;
                flex-wrap: wrap;
            }
            .icon {
                transform: rotateZ(180deg);
                margin-right:15px;
            }
            .text{
                margin-right: 20px;
                float: left;
                font-family: $main-primary-ef-reg;
                    @media screen and (max-width:767px) {
                        width: 80%;
                        margin-right: 0px;
                    }
                h6{
                    margin: 0px;
                    font-size: 14px;
                    letter-spacing: -0.22px;
                    color: #358563;
                    text-transform: uppercase;
                    font-family: $main-primary-ef-bd;
                    @media screen and (max-width:767px) {
                        Display: block !important;
                    }
                }
                p{
                    font-size: 13px;
                    letter-spacing: -0.22px;
                    line-height: 15px;
                    margin: 0px;
                    color: #358563;
                }
            }
        }

        .alert-info-box{
            padding: 0 40px;
            background: $alert-info-box-bg;
            padding:6px 10px;
            border: 1px solid $aler-info-border;
            color: $aler-info-clr;
            display: flex;
            align-items: center;
            border-radius: 0px;
            -webkit-box-align: center;
            @media screen and (max-width:767px) {
                flex: 1 1 auto;
                display: flex;
                flex-wrap: wrap;
            }
            .icon{
                float: left;
                margin-right: 20px;
                margin-left: 20px;
                @media screen and (max-width:767px) {
                    margin-left: 2px;
                }
                i{
                    font-size: 36px;
                    @media screen and (max-width:480px) {
                        font-size: 27px;
                    }
                }
            }
            .text{
                margin-right: 20px;
                float: left;
                font-family: $main-primary-ef-reg;
                @media screen and (max-width:767px) {
                    width: 80%;
                    margin-right: 0px;
                }
                h6{
                    margin: 0px;
                    font-size: 14px;
                    letter-spacing: -0.22px;
                    text-transform: uppercase;  
                    font-family: $main-primary-ef-bd;
                    color:#f00;
                    @media screen and (max-width:767px) {
                        Display: block !important;
                    }
                }
                p{
                    font-size: 13px;
                    letter-spacing: -0.22px;
                    line-height: 15px;
                    margin: 0px;
                }
            }

            .confirm-identity-button{
                margin-left: auto;
                @media screen and (max-width:767px) {
                    margin-left: 0px;
                    width: 100%;
                }
                button{
                    width: 200px;
                    color: $white;
                    background: $aler-info-clr;
                    height:45px;
                    border:0px;
                    font-size: 18px;
                    cursor: pointer;
                    font-family: $main-primary-ef-reg;
                    @media screen and (max-width:767px) {
                        width: 100%;
                        margin-top:8px;
                    }
                    span{
                        font-size: 12px;
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        h3,
        p {
            margin: 0;
            padding: 0;
        }
        h3 {
            font-size: 18px;
            color: $cashier-component-h3color;
            font-family: $main-primary-ef-reg;
            letter-spacing: -0.2px;
            font-weight: bold;
        }
        p {
            font-size: 13px;
            color: $cashier-component-pcolor;
            font-family: $main-primary-ef-reg;
            letter-spacing: -0.2px;
            
            &.text-no-withdraw{
                text-align: center;
            }
        }

        .select-payment-method-text {
            display: none;
            padding-bottom: 15px;
            text-align: center;
            p {
                font-family: $font-primary-500;
                font-size: 16px;
            }
        }


        .bal-types {
            display: flex;
            align-items: center;
            margin-top: 20px;
            .bal-types-list {
                font-size: 12px;
                line-height: 1.28;
                font-family: $main-primary-ef-reg;
                padding:7px 5px 5px 5px;
                color: $cashier-component-bal-types-color;
                background-color: $cashier-component-bal-types-bgcolor;
                margin-right: 7px;
                min-width: 180px;
                @media (min-width:993px) and (max-width:1199px) {
                  min-width: 130px;
                }
                float: left;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: -0.2px;
                &.blue-gradient {
                    background: #7e69af;
                    color: $cashier-component-blue-gradient-color; 
                    @media screen and (max-width:767px) {
                        background: #5881D5;
                    }  
                }
                span{
                    font-size: 18px;
                    display: block;
                    width: 100%;
                    letter-spacing: -0.2px;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }

            .regulatory-icons{
                float: right;
                @media screen and (max-width:992px) {
                    display: none;
                }
                .svg-icon{
                    float: left;
                    margin-right: 32px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }

        }

        .alert-info-box {
            display: flex;
            align-items: center;
            padding: 8px 10px;
            background-color: #FFFCD6;
            border: 1px solid #F0D49E;
            margin-top: 20px;
            .icon {
                transform: rotateZ(180deg);
                margin-right:15px;
            }
            .text {
                p,
                h6 {
                    margin: 0;
                    color: #F49600;
                }
                h6 {
                    margin: 0px;
                    font-size: 14px;
                    letter-spacing: -0.22px;
                    text-transform: uppercase;
                    font-family: $main-primary-ef-bd;
                }
            }
        }
       
    }
    @media screen and (max-width:992px) {
        .alert-info-box {
            margin: 20px;
            &.mob-hide {
                display: none !important;
            }
        }
        .content {
            /* background-color: $bg-grey;
            padding: 20px;*/
            padding: 0px;
            /*            background-color: transparent;*/

            .intro-text {
                display: none;
            }
            .select-payment-method-text {
                display: block;
                margin: 20px 0;

                &.mob-hide {
                    display: none !important;
                }
            }
            .bal-types {
                &.mob-hide {
                    display: none !important;
                }
                display: flex;
                flex-direction: column;
                margin:35px 20px 20px;
                padding: 0 20px;

                @media screen and (max-width:480px) {
                    padding: 0 0px;
                }

                .bal-types-list {
                    display: block;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    width: 49%;
                    font-size: 14px;
                    background-color: $cashier-bal-types-list-bgcolor;
                    position: relative;
                    box-sizing: border-box;
                    border-radius: 0px;
                    border: 1px solid #BCC5D8;
                    margin: 0 5px 0 0;

                    &:first-child {

                        &:after {
                            content: '';
                            width: calc(100% - 20px);
                            background-color: $bg-grey;
                            height: 1px;
                            display: block;
                            margin: auto;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            ;
                        }
                    }
                    &:nth-child(2n+2){
                        margin-right:0px;
                    }
                    &:last-child {
                        border-top: 0px;
                        width: 100%;
                        margin: 10px 0;
                    }

                    span{
                        font-size: 19.8px;
                        letter-spacing: -0.22px;
                    }

                    @media screen and (max-width:480px) {
                        min-width: 137px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.cashier-tabs {
    // margin-bottom: 40px;
    background-color: $cashier-tabs-bgcolor;
    padding: 40px;
    margin: 20px auto 40px;

    @media screen and (max-width:767px) {
        padding-bottom: 40px !important;
        margin-bottom: 0px;
    }

    @media screen and (max-width:480px) {
        padding: 30px 20px;
    }


    .cashier-options{
        display: flex;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        .addFundsTab{
            max-width: 270px;
            width: 100%;
            background: $white;
            float: left;
            display: flex;
            margin: 29px auto;
            padding-top: 45px;
            border-radius: 4px;
            text-align: center;
            box-shadow: 0 1px 2px 0 rgba(131,131,131,0.5);

            @media screen and (max-width:767px) {
                padding-top: 0px;
                min-width: 100%;
                margin: 2px auto;
            }

            .cashier-detail-headlines{
                width: 100%;

                .circular-icon{
                    width: 90px;
                    height: 90px;
                    display: block;
                    margin: 0 auto 30px;

                    @media screen and (max-width:767px) {
                        Display: none;
                    }

                    i{
                        color: $white;
                        line-height: 90px;
                        font-size: 35px;
                    }
                }

                h1{
                    font-size: 20px;	
                    font-weight: bold;	
                    letter-spacing: -0.2px;	
                    line-height: 24px;
                    font-family: $main-primary-ef-reg;
                    margin-bottom: 10px;
                    color: $main-primary-text-color;
                    text-transform: capitalize;
                    @media screen and (max-width:767px) {
                        Display: none;
                    }
                }

                p{
                    font-size: 14px;	
                    font-weight: 500;	
                    letter-spacing: -0.2px;	
                    line-height: 20px;
                    font-family: $main-primary-ef-reg;
                    margin-bottom: 10px;
                    @media screen and (max-width:767px) {
                        Display: none;
                    }
                }

                button{
                    background: $primary-button-bg;
                    color: $white;
                    height: 50px;
                    line-height: 50px;
                    font-size: 16px;
                    letter-spacing: -0.2px;
                    text-transform: uppercase;
                    width: 100%;
                    border: 0px;
                    font-family: $main-primary-ef-reg;
                    margin-top: 20px;
                    cursor: pointer;

                    &:hover,
                        &:focus{
                        background: $primary-button-hover-bg;
                    }

                    @media screen and (max-width:767px) {
                        margin-top: 0px;
                        background: $white;
                        box-shadow: 0 1px 2px 0 rgba(151,151,151,0.5);
                        color: $main-primary-text-color;
                        height: 75px;
                        line-height: 75px;
                        font-size: 18px;
                        text-align: left;
                        padding: 0 30px;
                        text-transform: capitalize;
                        position: relative;

                        &:before{
                            content: "\f105";
                            border: 0px;
                            color: $main-primary-text-color;
                            width: 20px;
                            height: 30px;
                            z-index: 999;
                            top: 50%;
                            margin-top: -20px;
                            font: normal normal normal 36px/1 FontAwesome;
                            right: 30px;
                            left: inherit;
                            position: absolute;
                        }
                    }

                    @media screen and (max-width:480px) {       
                        padding: 0 20px;  

                        &:before{
                            right: 10px;
                        }
                    }
                }
            }
        }
        .disabled{
            opacity: 0.5;
            cursor: not-allowed;
            .cashier-detail-headlines{
                width: 100%;
                button{
                    background:#E8594F;
                    cursor: not-allowed;
                &:hover{
                    background:#E8594F;
                   }
                }
            }
            @media only screen and(max-width:767px){
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }

    .accordionBox {
        background-color: $cashier-tabs-accordionBox-bgcolor;
        padding: 0 30px;
        /*    padding-top: 10px;
        */
    }
    .accordionRow {
        padding: 20px 40px 20px 20px;
        position: relative;
        &:before {
            content: '';
            width: calc(100% - 10px);
            background-color: $cashier-tabs-accordionRow-bgcolor;
            height: 1px;
            display: block;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        /*    &:last-child {
          &:after {
            display: none;
          }
        }*/
        &.not-verified {
            background-color: $cashier-tabs-accordionRow-bgcolor;
            cursor: not-allowed;
            .accordionHeadline {
                cursor: not-allowed;
                h1 {
                    color: $cashier-tabs-accordionRow-h1color;
                }
                &:after {
                    cursor: not-allowed;
                    color: $cashier-tabs-accordionRow-h1color;
                }
            }
        }
    }

    .flipButton {
        &:after {
            transform: rotate(180deg);
            transition: all .25s;
        }
    }

    .accordionHeadline {
        &.mob-hide {
            display: block;
        }
        cursor: pointer;
        margin: 0;
        padding-right: 50px;
        position: relative;
        &:after {
            font-family: 'FontAwesome';
            -webkit-font-smoothing: antialiased;
            content: "\F107";
            position: absolute;
            font-size: 35px;
            cursor: pointer;
            transition: all .25s;
            top: 0;
            right: 0;
        }
        &.verified-headline-class {
            &:after {
                content: '\E805';
                font-family: 'lottoicons';
                color: $cashier-tabs-accordionHeadline-color;
                font-size: 32px;
                position: absolute;
            }
        }
        &.verif-init-headline-class {
            h1 {
                color: $cashier-tabs-accordionHeadline-h1color;
            }
            &:after {
                content: '\E82F';
                font-family: 'lottoicons';
                color: $cashier-tabs-accordionHeadline-content-color;
                font-size: 32px;
                position: absolute;
            }
        }


        h1,
        p {
            margin: 0;
            padding: 0;
            &.verified-class {
                color: $cashier-accordionHeadline-verifiedclassp-color;
            }
            &.verif-init-class {
                color: $cashier-accordionHeadline-verifiedinitclassp-color;
            }
        }
        h1 {
            font-size: 18px;
            color: $cashier-accordionHeadline-h1color;
            font-family: $font-secondary-SemiBold;
            font-weight: normal;
        }
        p {
            font-size: 13px;
            color: $cashier-accordionHeadline-pcolor;
            font-family: $font-primary-500;
        }
    }
    .accordionText {
        margin: 0;
        display: none;
        overflow-y: hidden;
        transition: all .25s;
        transition-timing-function: ease-out;
        p {
            font-size: 13px;
            color: $cashier-accordionText-pcolor;
            font-family: $font-primary-500;
            margin: 0;
        }
        .text-no-withdraw {
            padding: 20px;
            background-color: $cashier-accordionText-text-no-withdraw-bgcolor;
            margin-top: 20px;
        }
    }
    .activeAccordionText {
        margin-top: 30px;
        display: block;
        transition-timing-function: ease-out;
    }
}
.cashier-options-data{
    .cashier-detail-text{
        background-color: $cashier-detail-bkgrd;
        padding: 40px 0;
        float: left;
        width: 100%;
        margin: 30px auto 40px;
        position: relative;
        border-top: 3px solid #F0F2F6;
        .cashier_heading{
            text-align: center;
            max-width: 335px;
            margin: 0 auto;
            display: block;
            margin-left: 42%;
            margin-bottom: 35px;
            @media screen and (max-width:767px) {
                margin-left: auto;   
            }
            @media screen and (max-width:768px) {
             margin: 0 auto;
            }
            h1{
                margin-bottom: 5px;
                font-size: 18px;
                color: $main-primary-text-color;
            }

            p{
                margin-bottom: 5px;
                font-size: 14px;
                color: $main-primary-text-color;
                letter-spacing: -0.2px;
            }
        }
    }
}



.back-to-cards-cashier {

    @media screen and (max-width:767px) {
        top: inherit;
        bottom: -42px;
        position: absolute;
        
/*        &.back-to-cards-cashier-2{
          bottom: -32px;  
        }*/

        .cashier-back-btn{
            text-align: left;
        }
    }

    .cashier-back-btn {
        &.mob-hide {
            display: none !important;
        }
        font-family: $main-primary-ef-reg;
        font-size: 16px;
        color: $cashier-back-to-cards-cashier-color;
        text-transform: uppercase;
        float: left;
        width: 100%;
        background:$white;
        padding: 20px 0px;
        // width: calc(100% - 20px);
        // margin-top: 20px;
        // border-top: 1px solid $bg-grey;
        // padding-top: 20px;
        box-sizing: border-box;
        cursor: pointer;
        i {
            margin-right: 20px;
            font-size: 24px;
            line-height: 15px;
        }
        &:hover {
            text-decoration: none;
        }
        .btc-inner {
            // padding-left: 15%;
            display: flex;
            align-items: center;
            i {
                font-size: 27px;
            }
            span {
                flex: 1 1 0px;
                display: flex;
                justify-content: center;

                @media screen and (max-width:767px) {
                    justify-content: left;  
                }
            }
        }  
    }
}

@media screen and (max-width:992px) {
    .cashier-tabs {
        padding-bottom: 0;

        .accordionRow {
            padding: 15px 20px;
            &.payment-type-accordian,
            &.withdraw-type-accordian {
                .activeAccordionText {
                    margin-right: -20px;
                    margin-left: -20px;
                }
            }
            &.mob-hide {
                display: none !important;
            }
            &:before {
                display: none;
            }
            &:after {
                content: '';
                width: 100%;
                background-color: $cashier-accordionRow-bgcolor;
                height: 1px;
                display: block;
                margin: auto;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            .accordionHeadline {
                &.verified-headline-class {
                    &:after {
                        content: '\E805';
                        font-family: 'lottoicons';
                        color: $cashier-tabs-accordionHeadline-color;
                        font-size: 25px;
                        position: absolute;
                    }
                }
                &.verif-init-headline-class {
                    &:after {
                        content: '\E82F';
                        font-family: 'lottoicons';
                        color: $input-focus-color;
                        font-size: 25px;
                        position: absolute;
                    }
                }
                &.mob-hide {
                    display: none;
                }
                &:after {
                    content: "\F105";
                    font-size: 27px;
                }
                h1 {
                    /*    font-family: $font-primary-500;*/
                }
                p {
                    /*font-family: $font-primary-500;
                   color: $grey;*/
                    font-size: 12px;
                    &.verified-class {
                        color: $green;
                    }
                    &.verif-init-class {
                        color: $cashier-tabs-accordionHeadline-content-color;
                    }
                }
            }
        }
    }
    .back-to-cards-cashier {
        display: block;
        margin-bottom: 20px;
        box-sizing: border-box;
        float: left;
        width: 100%;
    }
}

.master-visa-content{
    p{
        letter-spacing: -0.34px;
        font-size: 16px !important;
        color: $main-primary-text-color !important;
    }
    .selectWithdraw{
        margin: 5px 0 20px 0 !important;
    }
}

@media screen and (max-width:768px) {


    .cashier-tabs {
        .accordionRow {
            &.payment-type-accordian,
            &.withdraw-type-accordian {
                .activeAccordionText {
                    margin-top: -30px;
                    margin-bottom: -15px;
                    overflow: hidden;

                    .payment-type-container,
                    .withdarw-type-container {
                        .cashier-page {
                            font-size: 16px;
                            background-color: $cashier-component-bgcolor;
                            padding: 20px;
                            margin-top: 20px;
                        }
                        .payment-type-content,
                        .withdarw-type-content {
                            padding: 20px;
                            /*margin-top: 20px;*/
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
        .accordionBox {
            padding: 0px;
        }

        .accordionText {
            .content {
                padding: 0 15px;
                button {
                    width: calc(100% + 30px);
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
        }
    }
    .back-to-cards-cashier {
        .cashier-back-btn {
            padding: 20px;
        }
    }
}

@media screen and (max-width:480px) {
    .cashier-tabs {
        .accordionHeadline {

            h1 {
                font-size: 17px;
            }
            p {
                font-size: 12px;
            }
        }
    }
}

.cashier-common-modal {
    background-color: white;
}

modal {
    &#profileCompleteModal {
        .modal {
            .modal-body {
                width: 700px;
                text-align: left;
                @media screen and (max-width: 767px) {
                    width: 100vw;
                }
            }
        }
    }
}

#quickWithdrawInfo{
    .modal-body {
        width: 900px;
        margin: 20px auto; // 100px auto
        background: $deposit-bg;
        border-radius: 12px;

        @media (max-width: 360px){
            width: 314px;
        }

        .login-header{
            background:$login-header-bg;
            padding:35px 20px;
            border: 1px solid $login-header-border;
            border-bottom: 0px;
            border-top-left-radius: 12px 12px;
            border-top-right-radius: 12px 12px;
            position:relative;

            &:before{
                content: "";
                position: absolute;
                width: 0; 
                height: 0; 
                bottom: -14px;
                left: 90px;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid #65D5FF;
            }

            .close-modal{
                left:7px;
                top:1px;

                i{
                    font-size: 10px;
                    -webkit-filter: none;
                    filter: none;
                }
            }

            .bell-bingo-logo{
                position: absolute;
                right: 20px;
                top: 13px;
            }

            h3{
                font-size: 18.24px;
                line-height: 27px;
                color:$login-header-color;
                margin: 0;
            }
        }

        #quickWithdrawInfo{
            padding: 20px 25px;

            @media (max-width: 360px){
                padding: 20px 12px;
            }

            p.text{
                margin-bottom: 0px;
            }

            span{
                i{
                    color:$login-icon-color;
                }
            }

            #loginButton-loginModal{
                background: $login-btn-bg;
            }

            .mat-slide-toggle{
                float: right;
                margin-top: 15px;
            }

        }

        #quickWithdrawInfo{
            text-align: center;
            padding-bottom: 60px;
            color: $green;
            img{
                max-width: 150px;
                display: block;
                margin: 50px auto;
            }
        }
    }
}


#quickWithdrawInfo {
    .modal-body {
      .withdarw-info-container {
        padding: 45px 76px 20px;
        .cashier_heading {
            text-align: left;
            margin: 0 0 39.8px 0;
            h1 {
              margin:0;
              font-size: 24px;
              font-weight: 500;
              max-width: inherit;
            }
            p {
              margin-top: 0;
              padding: 0;
              font-size: 14.4px;
            }
        }
        .visa_heading{
          text-align: left;
          margin:38px 0 0 0;
          
          h1 {
            margin: 0 0 16.8px 0;
            font-size: 24px;
            font-weight: 500;
            max-width: inherit;
          }
          p {
            margin-top: 0;
            padding: 0;
            font-size: 14.4px;
          }
        }
        .withdarw-type-content {
          padding-left: 102px;
          .form-fields {
            width: 348px;
            margin: auto;
          }
          .withdarw-btn {
            width: 355px;
          }
        }
      }
    }
  }
  .withdraw_info{
    table{
      border: 1px solid #D6D6D6;
      margin-bottom: 25.2px;
      tr{
        &:nth-child(even) {
          background: #F0F2F6;
        }
      th{
        background: #838A96;
        border-left: 0.8px solid #D6D6D6;
        color:#fff;
        font-weight: normal;
        font-size: 16px;
        &:first-child {
          border-left: none;
        }
      }
      th,
      td{
        width: 180px;
        max-width: 180px;
        min-width: 180px;
        padding: 10px;      
      }
      td{
        font-size: 12.8px;
        color: #1B4262; 
        border-left: 0.8px solid #D6D6D6;
        &:first-child{
          border-left:none;
        }     
      }
    }
    }
  }
  
  
