
<section class="upcoming-events">
    <div class="container">
        <div class="inner-container">
            <div class="header-row">
                <div class="skew-header">
                    <div class="header-bg">
                        <div class="text-container">
                            <span class="icon">
                                <svg width="60px" height="40px" fill="#fff" class="Popular-bingo-rooms" viewBox="0 0 715 513"> 
                                <use xlink:href="#Popular-bingo-rooms-icon"></use>
                                </svg>
                            </span>
                            <span class="text">
                                <h1>Event Coming Up</h1>
                            </span>
                        </div>
                    </div>
                    <div class="down-arrow"></div> 
                </div>
                <div class="users_online">
                    <p>Time Now: 15:14</p>
                </div>

            </div>

            <div class="main-timeline-wrap">
                <span class="verticle-left-line"></span>
                <div class="timeline-item timeline-item_y">
                    <span class="left-verticle"></span>
                    <span class="date_time"><span class="date_text">Tonight at</span> 20.00</span>
                    <div class="time-line-container-promo">
                        <div class="left-icon">
                            <svg class="tab_hover" fill="#fab903" height="48px" viewBox="0 0 480 480" width="48px">
                            <use xlink:href="#cup-icon"></use>
                            </svg>
                        </div>
                        <div class="para-info">
                            <h2>1001 XXL</h2>
                            <p>Minimum 5000kr in the pot and 2000kr extra in the jackpot!</p>
                        </div>
                        <div class="pre-buy-btn">
                            <button class="btn btn-primary">PRE-BUY</button>
                        </div>
                    </div>
                </div>


                <div class="timeline-item timeline-item_big">
                    <span class="left-verticle"></span>
                    <span class="date_time">20:00</span>
                    <div class="time-line-container-promo time-line-container-coming time-line-container-event-expa">
                        <span class="right-top-circle"></span>
                        <div class="left-aside">
                            <span class="starting_in">Starting in:</span>
                            <span class="start-time">
                                <ng-template ngIf="time">
                                    <app-timer [hourGlassIcon]="false" [timedetails]="time" [isBannerTimer]='false'>Loading...</app-timer>
                                </ng-template> 
                            </span>
                            <span class="bitmap">
                                <img class="bitmap_pic" src="..\assets\img/f_g10.jpg">
                            </span>
                            <span class="chat-moderator">Chat Moderator: Sara</span>
                            <span class="play_now_btn">
                                <button class="btn btn-primary">PLAY NOW</button>
                            </span>
                        </div>
                        <div class="right-aside">
                            <div class="close-icon"><span class="icon-close"></span></div>
                            <div class="top-heading">
                                <div class="circular-var">
                                    <span class="c_digit">75</span>
                                    <span class="var">var</span>
                                </div>
                                <div class="mad_visit">
                                    <h4>Mad visit 1001</h4>
                                    <p>Jackpot with 62 calls</p>
                                </div>                           
                            </div>

                            <div class="card-footer">

                                <div class="users_login">
                                    <svg width="35px" height="35px" fill="#fff" class="tab_hover" viewBox="0 0 270 270">
                                    <use xlink:href="#player-icon"></use>
                                    </svg>
                                    <span class="users_login_total card_info">39</span>
                                </div>

                                <div class="Bingo_card">
                                    <svg width="35px" height="35px" fill="#fff" class="tab_hover" viewBox="0 0 80 70">
                                    <use xlink:href="#bingo-card-icon"></use>
                                    </svg>
                                    <span class="Bingo_card_inn card_info">10.00 kr</span>
                                </div>

                                <div class="cup_wrap">
                                    <svg width="35px" height="35px" fill="#fff" class="tab_hover" viewBox="0 0 480 480">
                                    <use xlink:href="#cup-icon"></use>
                                    </svg>
                                    <span class="users_login_total card_info">3,742.36 kr</span>
                                </div>

                                <div class="cup_wrap">
                                    <svg _ngcontent-c15="" class="tab_hover" fill="#7e69af" height="35px" viewBox="0 0 770 770" width="35px"> 
                                    <use _ngcontent-c15="" xlink:href="#vip-bronze-icon"></use>
                                    </svg>
                                    <span class="users_login_total card_info">3,742.36 kr</span>
                                </div>

                            </div>

                            <div class="card-footer card-footer-2">
                                <div class="cup_wrap">
                                    <svg width="35px" height="35px" fill="#fff" class="tab_hover" viewBox="0 0 480 480">
                                    <use xlink:href="#cup-icon"></use>
                                    </svg>
                                    <span class="users_login_total card_info">3,742.36 kr</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="timeline-item timeline-item_s">
                    <span class="left-verticle"></span>
                    <span class="date_time">15:40</span>
                    <div class="time-line-container-promo time-line-container-coming">
                        <div class="left-icon">
                            <svg class="tab_hover" fill="#fab903" height="48px" viewBox="0 0 480 480" width="48px">
                            <use xlink:href="#cup-icon"></use>
                            </svg>
                        </div>
                        <div class="para-info">
                            <h2>Bonus Bonanza</h2>
                            <p>50% Bonus for VIP Bronze & VIP Silver</p>
                        </div>
                        <div class="pre-buy-btn">
                            <div class="points">
                                <span>
                                    <svg class="tab_hover" fill="#7e69af" height="28px" viewBox="0 0 770 770" width="28px"> 
                                    <use xlink:href="#vip-bronze-icon"></use>
                                    </svg>
                                </span>
                                <span>200 POINTS</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-item timeline-item_s">
                    <span class="left-verticle"></span>
                    <span class="date_time"> 16:00</span>
                    <div class="time-line-container-promo time-line-container-coming">
                        <div class="left-icon">
                            <svg class="tab_hover" fill="#fab903" height="48px" viewBox="0 0 480 480" width="48px">
                            <use xlink:href="#cup-icon"></use>
                            </svg>
                        </div>
                        <div class="para-info">
                            <h2>Play & Chat</h2>
                            <p>Heidi hosts the Bazinga Bingo Room</p>
                        </div>
                        <div class="pre-buy-btn">
                            <div class="points">
                                <span>
                                    <svg class="tab_hover" fill="#7e69af" height="28px" viewBox="0 0 770 770" width="28px"> 
                                    <use xlink:href="#vip-bronze-icon"></use>
                                    </svg>
                                </span>
                                <span>200 POINTS</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="button main-btn">
            <button class="btn btn-secondary pull-right transparent_btn" routerlink="/allLotteries" type="button" tabindex="0" ng-reflect-router-link="/allLotteries">
                <span class="btn-wrapper"> MORE EVENTS
                    <i class="fa fa-angle-right"></i> </span></button>
        </div>

    </div>
</section>
