<section class="wraper_contentBlock">
    <!-- <div class="banner-wrapper">
        <div class="brand-banner">
          <div class="container">
            <div class="ld-col-md-9 text">
                <h1>What is Bingo Guide?&nbsp;</h1>
            </div>
            <div class="ld-col-md-3 right-img">&nbsp;</div>
          </div>
    </div>
    <a class="download-doc" download="" href="#"><i class="fa fa-file-pdf-o"></i><span>Download as pdf</span></a>
    </div> -->
    
    <div class="container page-text">
    <p>The rules for this super fun game are pretty simple.</p>
    
    <p>To get a bingo you need minimum 5 of your numbers in the block in a straight line, either horizontal or straight down within a block. The first one to get bingo wins the prize.</p>
    
    <p>But the fun does not stop here! Additional to this you may get bingo several times during the game with different types of patterns such as 2 rows, a cross or a full block. You can get bingo until the last number is drawn. A 75-ball game has tickets numbered 1-75 in one bingo game, and a 90-ball game has 1-90 numbers which can be drawn. The 90-ball game may look harder to play, but the rewards are so much higher as well!</p>
    
    <p>-Under the sections "What is a 75-ball game?" and "What is a 90-ball game?" we'll explain you more.</p>
    
    <p>To play you select the ticket or tickets you wish to play. Then take a comfortable seat and wait for the exciting game to kick off. If a number is drawn which can be found your ticket(s), it will be marked. You may here choose to mark it yourself manually or let the game automatically mark it for you. Don’t worry if you don’t mark it in time yourself, the bingo game will make sure all tickets are corrected and the winnings paid out to you.</p>
    
    <p>Choose a room of your liking and let the fun begin!</p>
    </div>
    </section>

    