@import "~variables.scss";
@import "~mixins.scss";

.menu-ld-cards {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
    margin: 0 -10px;
    .card-col {
      padding: 0 6px;
      display: inline-block;
      vertical-align: top;
      display: flex;
      align-items: stretch;
      @media screen and (min-width: 993px) and (max-width: 1199px) {
        padding: 0 8px;
      }
    }
    .card {
      background-color: $white;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 7px 10px;
      width: 160px;
      height: auto;
      text-align: center;
      /*      box-shadow: $card-box-shadow;*/
      border: 1.5px solid $card-border-color;

      .card-head {
        margin: auto;
        &.lotteryBall {
          width: 75px;
          height: 75px;
          @include loaderPlaceholderAnimation;
          &.animated-background{    
            height: 60px;
          }
        }
      }
      .card-body {
        h1,
        h3,
        p,
        {
          margin: 0;
          padding: 0;
          line-height: 1;
        }
        .lottery-name {
          font-family: $font-secondary-Medium;
          font-size: 15px;
          margin-top: 5px;
          &.wide-heading {
            height: 30px;
            display: inline-flex;
            align-items: center;
          }
          @include loaderPlaceholderAnimation;
        }
        .next-draw {
          font-family: $font-primary-500;
          font-size: 11px;
          margin-bottom: 3px;
          margin-top: 8px;
          @include loaderPlaceholderAnimation;
        }
        .prize-money {
          font-family: $font-secondary-Bold;
          font-size: 18px;
          @include loaderPlaceholderAnimation;
        }
        .cta {
          font-family: $font-primary-700;
          width: 100%;
          border-radius: 5px;
          border: 0;
          margin: 10px auto;
          @include loaderPlaceholderAnimation;
          &.animated-background {
            padding: 22.5px 10px;
            margin-bottom: 12px;
          }
          .btn-wrapper {
            display: flex;
            flex-direction: column;
          }
          .quick-pick {
            font-size: 11px;
            line-height: 1;
            margin-bottom: 3px;
          }
          .amt {
            font-size: 20px;
            line-height: 1;
            // .mat-spinner{
            //   *{width: 20px!important; height: 20px!important;}
            //   height: auto!important;
            //   width: auto!important;
            //   padding:12px 10px;
            // }
          }
        }
      }

      .card-footer {

        .create-own {
          position: relative;
          cursor: pointer;
          .create-own-txt {
            @include loaderPlaceholderAnimation;
            &.animated-background{
              margin-bottom: 12px;
            } 
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            display: block;
            border-top: 1px solid $bg-grey;
            margin-left: -10px;
            margin-right: -10px;
            width: calc(100% + 20px);
          }

          font-family: $font-primary-700;
          font-size: 11px;
          color: $blue-icon;
          display: inline-flex;
          align-items: center;
          padding-top: 8px;
          i {
            margin-left: 10px;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
    .viewall-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px;
      .viewall-btn-inner {
        border-radius: 50%;
        background-color: $button-secondary;
        width: 50px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
          color: $white;
          font-size: 30px;
          line-height: 15px;
          height: 17px;
        }
      }
      .text {
        margin-top: 15px;
        font-family: $font-primary-700;
        color: $button-secondary;
        font-size: 13px;
        cursor: pointer;
      }
    }
  }
}
