<div class="pay-methods-types-small" *ngIf="showRegulations">
  <span class="svg-icon pci">
	  <svg viewBox="0 0 852 413">
	    <use xlink:href="#pci-certificate"></use>
	  </svg>
	</span>
  <span class="svg-icon">
	  <svg viewBox="0 0 190.05 81.95">
	    <use xlink:href="#visa-verified"></use>
	  </svg>
	</span>
  <span class="svg-icon">
      <svg viewBox="0 0 282.43 94.83">
        <use xlink:href="#ssl-encription"></use>
      </svg>
    </span>
  <span class="svg-icon">
          <svg viewBox="0 0 594.823 181.141">
            <use xlink:href="#mastercard-securecode"></use>
          </svg>
     </span>
</div>
<div class="footer-terms-links">
  <div class="container">
      <span routerLink="/terms-conditions">
        <a href="javascript:void(0)">Terms & Conditions</a>
      </span>
      <span routerLink="/privacy-policy">
        <a href="javascript:void(0)">Privacy Policy</a>
      </span>
      <span routerLink="/cookie-policy">
        <a href="javascript:void(0)">Cookie Policy</a>
      </span>
  </div>
</div>
